<div class="taskstart-container container-fluid">

  <div class="box-heading row">
    <div class="col-md-12">
      <h3 ng-bind-html="tool.name !== '' ? tool.name + ' Configuration' : ''"></h3>
    </div>
  </div>

  <form class="form-horizontal clearfix" role="form" ng-submit="startTask()">

    <div class="task-name-wrapper">
      <div class="task-name form-group">
        <label class="h4 col-md-2">Task name:</label>
        <div class="col-md-10">
          <input type="text" ng-model="tasknameUser" class="form-control">
        </div>
      </div>
    </div>

    <div ng-if="hasVersions" class="task-version-wrapper">
      <div class="task-version form-group">
        <label class="h4 col-md-2">Version:</label>
        <div class="col-md-4">
          <p class="form-control-static">{{versionSet.value}}</p>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary" ng-click="setVersion()">Set Version</button>
        </div>
      </div>
    </div>
    <div class="task-config-wrapper">

      <fieldset ng-disabled="$state.is('taskstart.reservation') && reservation.manual">

        <h3 ng-if="(valParams.length > 0) || (resParams.length > 0) || (requiresComputeResource && $state.is('taskstart'))">Configure task parameters:</h3>
        
        <div ng-if="valParams.length > 0">
          <div ng-repeat="parameter in valParams" class="row parameter-row" ng-class="{'has-error':parameter.error}" >
            <div class="parameter-number col-md-1">
              <div ng-bind-html="$index+1"></div>
            </div>
            <div class="parameter-container col-md-11">
              <div class="row">
                <div class="col-md-8">
                  <div class="parameter-val">
                    <p class="parameter-name" ng-bind-html="parameter.name + ':'"></p>
                    <input type="text" class="form-control tool-input-parameter" placeholder="Enter value for {{parameter.name}}" ng-model="parameter.value" ng-change="parameter.error = false">
                  </div>
                </div>
                <div class="col-md-4 parameter-description">
                  <p ng-bind-html="parameter.description"></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="resParams.length > 0" class="row parameter-row" ng-repeat="parameter in resParams" ng-class="{'has-error':parameter.error}" >
          <div class="parameter-number col-md-1">
            <div ng-bind-html="$index + 1 + valParams.length"></div>
          </div>
          <div class="parameter-container col-md-11">
            <div class="row">
              <div class="col-md-8" ng-switch="parameter.resource.id ?  'true' : 'false'">
                <div class="parameter-val">
                  <p class="parameter-name" ng-bind-html="'Select ' + parameter.name + ':'"></p>
                  <button ng-switch-when="false" class="btn btn-default" ng-click="configureResource(parameter)">Select {{parameter.pathType}}</button>
                  <div ng-switch-when="true">
                    <input class="form-control data-destination" type="text" placeholder="{{parameter.resource.name + ':' + parameter.resource.path}}" readonly="true">
                    <i class="fa" ng-class="{'fa-folder':parameter.pathType === 'folder', 'fa-file':parameter.pathType === 'file'}" ng-click="configureResource(parameter)"></i>
                  </div>
                </div>
              </div>
              <div class="col-md-4 parameter-description">
                <p ng-bind-html="parameter.description"></p>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="requiresComputeResource && $state.is('taskstart')" class="row parameter-row" ng-class="{'has-error':compParams.error}" ng-switch="compParam.resource.ext_user_cloud_acct">
          <div class="parameter-number col-md-1">
            <div ng-bind-html="resParams.length + valParams.length + 1"></div>
          </div>
          <div class="parameter-container col-md-11">
            <div class="row">
              <div class="col-md-8">
                <div class="parameter-val">
                  <p class="parameter-name" ng-bind-html="'Select the compute resource:'"></p>
                  <select class="form-control" ng-options="resource as resource.name for resource in computeResources track by resource.id" ng-model="compParam.resource"></select>
                </div>
              </div>
              <div class="col-md-4 parameter-description">
                <p ng-bind-html="'This is a computing resource which can run the ' + taskname + ' tool'"></p>
              </div>
            </div>
          </div>
          <div ng-switch-when="used">
            <alert type="warning"><span class="col-md-offset-1" >Selecting this resource will require the use of your cloud account.</span></alert>
          </div>
          <div ng-switch-when="missing">
            <alert type="danger"><span class="col-md-offset-1" >In order to use this resource you must set up your <a href ui-sref="user.settings.account">cloud account</a> (clicking this link will cancel this task) found within your user settings and preferences.</span></alert>
          </div>
        </div>      

      </fieldset>

      <div ng-if="$state.is('taskstart.reservation')" class="reservation-details">
        <h3>Reservation details:</h3>
        <form class="form-horizontal">

          <div class="manual-start form-group">
            <div class="parameter-number col-md-1">
              <div>1</div>
            </div>
            <div class="parameter-container col-md-11">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="reservation.manual" ng-disabled="taskIsInteractive">
                  Start task manually at reservation time (interactive tasks must be started manually) <i class="fa fa-info-circle" tooltip="Selecting this value allows you to reserve the compute resource without configuring the other resource parameters"></i>
                </label>
              </div>
            </div>
          </div>

          <div class="start-time form-group">
            <div class="parameter-number col-md-1">
              <div>2</div>
            </div>
            <div class="parameter-container col-md-11">
              <label for="timepicker" class="--col-md-2 start-time-label">Start Time</label>
              <timepicker ng-model="reservation.starttime" hour-step="1" minute-step="30" id="timepicker"></timepicker>
           </div>
          </div>

          <div class="form-group">
            <div class="parameter-number col-md-1">
              <div>3</div>
            </div>
            <div class="parameter-container col-md-11">
              <label for="datepicker" class="--col-md-2">Start Date <span class="data-format-help">(dd-mm-yyyy)</span></label>
              <div class="row">
                <div class="col-md-4">
                  <span class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="reservation.startdate" is-open="reservation.popOpened" min-date="reservation.minDate" ng-required="true" close-text="Close" id="datepicker">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="fa fa-calendar"></i></button>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="duration form-group form-inline">
            <div class="parameter-number col-md-1">
              <div>4</div>
            </div>
            <div class="parameter-container col-md-11">
              <label for="duration" class="">Duration</label>
              <div class="row">
                <div class="col-md-12">
                  <input type="number" step="0.5" ng-model="reservation.duration" id="duration" class="form-control"><span class="unit"><strong ng-pluralize count="reservation.duration" when="{'0': 'hr', 'one': 'hr', 'other': 'hrs'}"></strong></span>
                </div>
              </div>
            </div>
          </div>

          <div ng-if="requiresComputeResource" class="form-group" ng-class="{'has-error':compParams.error}" ng-switch="compParam.resource.ext_user_cloud_acct">
            <div class="parameter-number col-md-1">
              <div>5</div>
            </div>  
            <div class="parameter-container col-md-11">
              <label ng-bind-html="compParam.name" class="" for="compResource"></label>
              <div class="row">
                <div class="col-md-8">
                  <select class="form-control" ng-model="compParam.resource" ng-options="resource as resource.name for resource in computeResources" id="compResource"></select>
                </div>
                <div class="col-md-4 parameter-description">
                  <p ng-bind-html="'This is a computing resource which can run the ' + taskname + ' tool'"></p>
                </div>
              </div>
            </div>
            <div ng-switch-when="used">
              <alert type="warning"><span class="col-md-offset-1" >Selecting this resource will require the use of your cloud account.</span></alert>
            </div>
            <div ng-switch-when="missing">
              <alert type="danger"><span class="col-md-offset-1" >In order to use this resource you must set up your <a href ui-sref="user.settings.account">cloud account</a> (clicking this link will cancel this task) found within your user settings and preferences.</span></alert>
            </div>
          </div>
        </form>
      </div>

      <div ng-if="false" class="row">
        <div class="taskstart-setconfig col-md-offset-1 col-md-11">
          <button class="btn btn-info" ng-click="setTestConfigVals()" ng-disabled="!tool.hasTestConfigVals">Set test config values</button>
        </div>
      </div>

      <div class="row">
        <div class="taskstart-control col-md-offset-1 col-md-11">
          <button class="btn btn-primary" type="submit" ng-click="start()" ng-bind-html="startBtnText()" ng-disabled="compParam.resource.ext_user_cloud_acct == 'missing'">Run Task</button>
          <button class="btn btn-link" ng-click="cancel()">Cancel</button>
          <button class="btn btn-link" ng-click="back()">Back</button>
        </div>
      </div>

    </div>
  </form>
</div>
