.taskstart-container {

  .task-name-wrapper {
    padding: 0 45px;
  }

  .task-config-wrapper {
    padding: 0 45px 0 30px;
  }

  .task-version-wrapper {
    padding: 0 45px;
  }

  .task-name {
    padding: 20px 15px;
    margin-top: 40px;
    background: @color-bg-dark;
    border-radius: @radius-large;

    label {
      margin-bottom: 0;
    }
  }

  .task-version{
    background: #e8ebf1 none repeat scroll 0 0;
    border-radius: 8px;
    margin-top: 40px;
    padding: 20px 15px;
  }
    

  .resource-info-header,
  .parameter-info-header {
    padding-bottom: 10px;
    margin-bottom: 10px;
    //border-bottom: solid 2px #ccc;
  }

  .parameter-row {
    margin-bottom: 20px;

    i {
      margin-left: 10px;
      vertical-align: middle;
      color: @blue;
    }

    i:hover {
      cursor: pointer;
    }

    div.alert{
      padding-left: 0px;
    }  
  }

  .parameter-number {
    margin-top: 20px;

    div {
      border-radius: 50%;
      background-color: @blue-light;
      color: white;
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      font-size: 18px;
    }
  }

  .parameter-container {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px @color-border-light;
    padding-left: 0;

    p.parameter-name {
      font-size: 18px;
    }

    .data-destination {
      width: 80%;
      display: inline-block;
    }
  }

  .parameter-val {
  }

  .parameter-description {
    border-left: solid 1px @color-border-light;
    padding-top: 10px;

    p {
      font-style: italic;
    }
  }

  .tool-input-parameter {
    width: 100%;
    display: inline-block;
  }

  > h1 {
    // text-align: center;
    // margin-bottom: 30px;
  }




  .start-time {

    td:nth-child(2) {
      padding: 0 5px;
    }

    td:last-child {
      padding-left: 10px;
    }

    .parameter-container {
      padding-bottom: 10px;
    }
  }

  .start-time-label {
    top: 40px;
  }

  .duration {

    .form-control {
      width: 100px;
    }
  }

  .unit {
    margin-left: 10px;
  }

  .reservation-details {

    h3 { // Fix collapsing margin
      margin-top: 0;
      padding-top: 20px;
    }

    label {
      font-size: 18px;
      font-weight: @weight-normal;
    }

    .manual-start label {
      font-size: 16px;
    }
  }

  .taskstart-setconfig {
    padding-left: 0;
  }

  .taskstart-control {
    //border-top: 1px solid @color-border-light;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 0;
  }
}