<div class="modal-header">
	<h3 class="modal-title">Set Version</h3>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<select class="form-control" ng-options="version as version.tag for version in versions track by version.tag" ng-model="selectedVersion.value"></select>
		<p ng-bind-html="selectedVersion.value.message"></p>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="set()">Set</button>
	<button class="btn btn-default" ng-click="close()">Close</button>
</div>
