<div class="modal-header">
    <h3 class="modal-title">Task output</h3>
</div>
<div class="modal-body">
    <tabset>
        <tab heading="Standard output" active="true"><samp>{{standardOutput}}</samp></tab>
        <tab heading="Standard error"><samp>{{standardError}}</samp></tab>
    </tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
</div>