<div class="modal-header">
  <h3 class="modal-title">Select file to upload</h3>
</div>
<div class="modal-body">
 	<form role="form" id="upload-form" ng-class="{'has-error':formError}">
 		<span>File name cannot container characters \ / : * ? " < > |</span>
	  	<div class="fileinput fileinput-new input-group" data-provides="fileinput">
			<div class="form-control" data-trigger="fileinput" ng-disabled="uploading">
				<i class="fa fa-file fileinput-exists"></i>
				<span class="fileinput-filename"></span>
			</div>
			<span class="input-group-addon btn btn-default btn-file" ng-click="resetForm()">
				<span class="fileinput-new">Select file</span>
				<span class="fileinput-exists" ng-show="!uploading" ng-click="resetForm()">Change</span>
				<input type="file" name="uploadfile" id="upload-selected-file" ng-change="resetForm()" ng-disabled="uploading" ng-model="file">
			</span>
			<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput" ng-click="resetForm()">Remove</a>
		</div>
		<span class="control-label" ng-show="formErrorNoFile">A file must be selected for uploading</span>
		<span class="control-label" ng-show="formErrorCharacters">The name of the file you selected contains improper characters</span>
	</form>
	
	<progressbar value="percentComplete" type="success" ng-show="uploading && percentComplete > 0"><strong>{{percentComplete}}%</strong></progressbar>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="upload()" ng-disabled="uploading">Upload</button>
  <button class="btn btn-default" ng-click="cancel()" ng-bind-html="uploading ? 'Close' : 'Cancel'">Cancel</button>
</div>
