<div class="panel panel-primary foldernavpane">
	<div class="panel-heading">{{resource.name}}<i class="up-icon nav-icon fa fa-level-up pull-right fa-2x" ng-click="levelup()"></i><i class="up-icon nav-icon fa fa-refresh pull-right fa-2x" ng-click="refresh(resource)"></i></div>
	<div class="panel-body" sm-drop-area-old="true" smondrop="smondrop({srce:srce,dste:dste,entryObj:entryObj,srcResource: srcResource, dstResource: dstResource})" entries="entries" resource="resource">
	    <div class="col-md-3 entry-pane" ng-if="entries.length >0" ng-repeat="entry in entries" id="{{entry.$$hashKey}}" sm-draggable-old="true" >
	    	<div style="display:inline-block" class="entry-container" ng-dblclick="ls({$event:$event,entry:entry,resource:resource})"  ng-click="highlight($event)">
		    	<i class="entry-icon" ng-class="entryType(entry)"></i><br/>
		    	<div style="display:inline-block"><p class="entry-name">{{entry.basename}}<p></div>
		    	<a target="_blank" ng-click="download({entry:entry})"><i ng-show="entryType(entry).indexOf('entry-icon-file') >=0" class="fa fa-cloud-download download-marker" ></i></a>
	    	</div>
	    </div>
	    <div ng-if="entries.length ==0">
	    	<strong>empty folder</strong>
	    </div>
 	</div>
</div>
