div.foldernavpane{
	

	

	.nav-icon:hover{
		cursor: pointer;
	}
	.up-icon{
		color: #00CD00;
	}

	.entry-pane{
		text-align: center;
	}

	/*Taken from outside of div.foldernavpane*/
	.entry-icon{
	font-size: 30px;
	}
	.entry-icon-folder{
		color: #EDD879;
	}

	.entry-icon-file{
		color: #B0E2FF;
	}

	.entry-name{
		font-size: 20px;
		word-wrap: break-word;
		
	}

	.download-marker{
		position: absolute;
		top: 0px;
		right: 30%;

	}

	// .download-marker:hover{
	// 	cursor: pointer;
	// 	font-size: 2em;
	// }

	.entry-container {
		position: relative;
		width: 80%;
	}

	.entry-container:hover {
		.download-marker{
			cursor: pointer;
			font-size: 2em;
			right: 24%;
		}

	}
}

