<form name="current.form" class="">
	<div class="form-group" ng-class="{'has-error':current.form.$submitted && current.form.name.$error.required}">
		<label for="repo-name" class="control-label">Name</label><span class="required" ng-show="current.form.$submitted && current.form.name.$error.required">*required</span>
		<input id="repo-name" class="form-control" ng-model="repo.name" required="true" ng-disabled="op=='edit'" name="name">
	</div>
	<div class="form-group" ng-class="{'has-error':current.form.$submitted && current.corm.description.$error.required}">
		<label for="repo-desc" class="control-label">Description</label>
		<textarea class="form-control" ng-model="repo.description" type="text" id="repo-desc" rows="4" name="description" required="true"></textarea>
	</div>
	<div class="form-group" ng-class="{'has-error':current.form.$submitted && current.form.schema.$error.required}">
		<label for="repo-schema" class="control-label">Schema</label><span class="required" ng-show="current.form.$submitted && current.form.schema.$error.required">*required</span>
		<div class="">
			<select id="repo-schema" class="form-control" ng-model="selected.schema" ng-options="schema as schema.name for schema in schemas track by schema.id" required="true" ng-change="schemaChanged()" name="schema"></select>
			<p class="form-control-static" ng-bind-html="selected.schema.description"></p>
		</div>
		<div ng-show="selected.schema">
			<a class="" href ng-click="hide.schema = !hide.schema"><i class="fa" ng-class="{'fa-angle-up': !hide.schema, 'fa-angle-down': hide.schema}"></i> {{hide.schema ? 'Show' : 'Hide'}} Schema Properties</a>
			<div collapse="hide.schema">
				<table class="table">
					<thead>
						<tr>
							<th>Property</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="prop in selected.schema.props">
							<td ng-bind-html="prop.name"></td>
							<td ng-bind-html="prop.property_type"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div ng-show="selected.schema" class="form-group" ng-class="{'has-error':current.form.$submitted && current.form.computeresource.$error.required}">
		<label for="" class="control-label">Resources </label><span class="required" ng-show="current.form.$submitted && resourcesChosen.length ==0">*required</span>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="repo-resourcesAvailable" class="control-label">Available Resources: </label>
				<div class="">
					<select id="repo-resourcesAvailable" class="form-control" ng-model="selected.resourceAvailable" ng-options="resource as resource.name for resource in resourcesAvailable track by resource.id" name="resourcesAvailable" size="6"></select>
					<p class="form-control-static" ng-bind-html="selected.resourceAvailable.description"></p>
					<button type="button" ng-disabled="!selected.resourceAvailable" ng-click="addResource(selected.resourceAvailable)" class="btn btn-primary">Add Resource</button>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label for="repo-resourcesChosen" class="control-label">Selected Resources: </label>
				<div class="">
					<select id="repo-resourcesChosen" class="form-control" ng-model="selected.resourceChosen" ng-options="resource as resource.name for resource in resourcesChosen track by resource.id" name="resources" size="6"></select>
					<p class="form-control-static" ng-bind-html="selected.resourceChosen.description"></p>
					<button type="button" ng-disabled="!selected.resourceChosen" ng-click="removeResource(selected.resourceChosen)" class="btn btn-default">Remove resource</button>
				</div>
			</div>
		</div>
	</div>
</form>