<div class="modal-header">
	<h3 class="modal-title" ng-bind-html="op=='add'? 'Add a Repo': 'Manage Repo'">Add a Repo</h3>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div ng-include="'metadata/repo/repo.form.tpl.html'">
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="addRepo(form.current)" ng-if="op == 'add'">Add Repo</button>
	<button class="btn btn-primary" ng-click="updateRepo(form.current)" ng-if="op == 'edit'">Save Repo</button>
	<button class="btn btn-danger" ng-click="deleteRepo(form.current)" ng-if="op == 'edit'">Delete Repo</button>
	<button class="btn btn-default" ng-click="close()">Close</button>
</div>
