<div class="modal-header">
  <h3 class="modal-title">Data Transfer</h3>
</div>
<div class="modal-body">
	<div ng-if="count === 1">
    <span>
      Transfer item <strong>{{srcEntryName}}</strong> from <strong>{{srcResource}}</strong>
      to <span ng-if="dstEntryName"><strong>{{dstEntryName}}</strong> in </span> <strong>{{dstResource}}</strong>?
    </span>
    <hr ng-if="newName">
    <span ng-if="newName">Note: The <strong>{{srcEntryName}}</strong> item already exists in the desired output destination and will be renamed. Check the task details
      for the new item name.
    </span>
    </span>
  </div>
	<div ng-if="count > 1">
		Transfer <strong>{{count}}</strong> items from <strong>{{srcResource}}</strong> to <span ng-if="dstEntryName"><strong>{{dstEntryName}}</strong> in </span><strong>{{dstResource}}</strong>?
		<br>
		items:
		<strong>
			<ul>
				<li ng-repeat="entry in selectedEntries" ng-bind-html="entry.name"></li>
			</ul>
		</strong>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
