<div class="taskcopydata-container" sm-drag-drop-ctrl="true">
  <div class="container-fluid resource-selection-container">

    <div ng-repeat="a in arr">

      <div class="copy-message row" ng-show="$last">
        <span>Drag and drop files and folders between panes or use the Copy Selection action.</span>
        <button ng-if="false" class="btn btn-primary" ng-click="copy($index)" ng-disabled="isSingleSrcAndDestSelected()">Copy Selection</button>
      </div>

      <div class="row">
        <div class="col-md-4 resource-selector">
          <div class="box-heading">
            <h3 class="headers">Resources</h3>
            <form class="form resource-filter">
              <i class="pull-right fa fa-refresh" tooltip="Refresh resources list" tooltip-placement="bottom" ng-click="refreshResources($index)"></i>
              <input type="search" placeholder="Filter resources..." class="form-control" ng-model="resourceSearchText[$index]" ng-change="filterResources(resourceSearchText[$index], $index)"/>
            </form>
          </div>
          <ul class="nav nav-sidebar container-fluid" ng-init="containerIndex = $index">
            <li class="row resource-name-container" ng-repeat="resource in resources[containerIndex]" ng-class="{active: resource.selected}" >
              <div class="col-md-3 resource-icon icon-style">
                <img class="" ng-src="{{resource.imageUrl}}"></img>
              </div>
              <div ng-switch="resource.status" class="col-md-9">
                <div class="row">
                  <div class="col-md-1 resource-actions">
                    <a class="action" href ng-click="favouriteToggle(resource)"><i class="fa" ng-class="resource.ext_favourite ? 'fa-heart' : 'fa-heart-o'" tooltip="{{resource.ext_favourite ? 'Click to unfavourite' : 'Click to favourite'}}" tooltip-append-to-body="true"></i></a>
                    <a class="action"  href ng-click="openNotesEditor(resource)"><i class="fa fa-pencil" tooltip="View your notes about this resource" tooltip-append-to-body="true"></i></a>
                  </div>
                  <div class="col-md-11 resource-name">
                    <a href ng-click="selectResource(resource,containerIndex, $index)" ng-bind-html="resource.full ? resource.name + ' (full)' : resource.name" ng-switch-when="up"></a>
                    <span ng-switch-when="down"><a>{{resource.name}}<i class="fa fa-exclamation-triangle" tooltip="This resource cannot be accessed. Notify system administrators if the problem persists." tooltip-append-to-body="true"></i></a></span>
                    <small ng-bind-html="resource.status == 'up' && !resource.locked ? 'Online' : 'Offline'" ng-class="{offline: resource.status == 'down' || resource.locked}"></small>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        
        <div class="col-md-8 resource-configuration">
          <div class="row resource-nav-header" ng-class="{'box-heading': resourceSelected[$index] == 'true' }">
            <div ng-show="resourceSelected[$index] == 'true' && selectedResource[$index].type != 'stream' && userHasAccess(selectedResource[$index])" class="root-entry-info col-md-1">
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-click="allEntriesSelected[$index] = !allEntriesSelected[$index]" ng-checked="allEntriesSelected$[$index]">
                  <span class="root-entry-name">All</span>
                </label>
              </div>
            </div>
            <div class="col-md-1 refresh-entries-action" ng-show="resourceSelected[$index] == 'true' && selectedResource[$index].type != 'stream'">
              <i class="fa fa-refresh" tooltip="Refresh resource files and folders" tooltip-placement="bottom" ng-click="refresh(selectedResource[$index])"></i>
            </div> 
            <div class="col-md-3" ng-show="resourceSelected[$index] == 'true'">
              <div class="dropdown" dropdown is-open="menu.resourceCopyActions[$index]">
                <button ng-click="toggleDropdown($event, 'resourceCopyActions-'+$index)" class="dropdown-toggle btn btn-link" type="button" data-toggle="dropdown" aria-expanded="true">
                  <span class="fa fa-gear"></span> Actions
                </button>
                <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    <li ng-class="{disabled:!isSingleDestSelected($index)}"><a href ng-click="copy($index, $event)">Copy Selection</a></li>
                    <li ng-class="{disabled:selectedResource[$index].selectedEntry || selectedResource[$index].selectedEntry.isDir}"><a href ng-click="editFile(selectedResource[$index], $event)"><i class="fa fa-pencil-square-o"></i> Edit File</a></li>
                    <li ng-class="{disabled:selectedResource[$index].selectedEntry && !selectedResource[$index].selectedEntry.isDir}"><a href ng-click="mkdir(selectedResource[$index], $event)"><i class="fa fa-folder-o"></i> New Folder</a></li>
                    <li ng-class="{disabled:!selectedResource[$index].selectedEntry || selectedResource[$index].ext_perms == 'x'}"><a href ng-click="download(selectedResource[$index], $event)"><i class="fa fa-cloud-download"></i> Download</a></li>
                    <li ng-class="{disabled:selectedResource[$index].selectedEntry && !selectedResource[$index].selectedEntry.isDir}"><a href ng-click="zip(selectedResource[$index], $event)"><i class="fa fa-cloud-compress"></i> Zip Folder</a></li>
                    <li ng-class="{disabled:!selectedResource[$index].selectedEntry || selectedResource[$index].selectedEntry.isDir || selectedResource[$index].selectedEntry.basename.indexOf('.zip') < 0}"><a href ng-click="unzip(selectedResource[$index], $event)"><i class="fa fa-cloud-expand"></i> Unzip Folder</a></li>
                    <li ng-class="{disabled: selectedResource[$index].selectedEntry && !selectedResource[$index].selectedEntry.isDir}"><a href ng-click="upload(selectedResource[$index], $event)"><i class="fa fa-cloud-upload"></i> Upload</a></li>
                    <li ng-class="{disabled:!selectedResource[$index].selectedEntry || selectedResource[$index].selectedEntry.isRoot}"><a href ng-click="rename(selectedResource[$index], $event)"><i class="fa fa-pencil-square-o"></i> Rename</a></li>
                    <li ng-class="{disabled:!selectedResource[$index].selectedEntry || selectedResource[$index].selectedEntry.isRoot}"><a href ng-click="deleteSelection(selectedResource[$index], $event)"><i class="fa fa-trash-o"></i> Delete</a></li>
                </ul>
              </div>
            </div>
            <div class="selected-entry-info col-md-3">
              <p class="selected-entry-name" ng-bind-html="'Selected:<br>' + selectedResource[$index].selectedEntry.basename" ng-show="selectedResource[$index].selectedEntry"></p>
            </div>
            <div class="col-md-4">
              <form class="form resource-entry-filter pull-right" ng-show="resourceSelected[$index] == 'true' && selectedResource[$index].type != 'stream'">
                <input type="search" placeholder="Filter files/folders..." class="form-control" ng-model="searchText[$index]" ng-change="filterRootEntries(searchText[$index],$index)">
              </form>
            </div>
          </div>
          <div ng-switch="resourceSelected[$index]">
            <div ng-switch-when="true">
              <div ng-switch="userHasAccess(selectedResource[$index])">
                <div ng-switch-when="true">
                  <foldernav resource="selectedResource[$index]" entries="selectedResource[$index].entries" ls="entryLs(resource,entry)" selectall="allEntriesSelected[$index]" selectedentries="selectedEntries[$index]" smondrop="drop(srcEntry, srcResource, dstResource, dstEntry)" entries-search="{{entriesSearch}}" smmultidrop="dropMultipleItems(selectedEntries, srcResource, dstResource, dstEntry)"></foldernav>
                </div>
                <div ng-switch-default class="resource-notification">
                  <div>
                    <h4><i class="fa fa-lock icon-header"></i>Private Resource - Request Access</h4>
                    <p>If you would like to request access to this private resource please click the access button below. 
                    <span class="notice-text">Note, it may take several days for the owner to grant you permission.</span></p>
                    <button class="btn btn-default" ng-click="requestAccess(selectedResource[$index])">Request Access</button>
                  </div>
                </div>
              </div>
            </div>
            <div ng-switch-when="false" class="resource-placeholder">
              <h3><i class="fa fa-angle-left"></i> Please select a resource</h3>
            </div>
          </div>
        </div>
      </div>
  
    </div>

  </div>
</div>