.taskcopydata-container {

  .resource-selection-container {

    .root-entry-info {
      display: inline;
    }

    .selected-entry-info {
      line-height: 1.25;
      font-size: 13px;
    }

    .resource-placeholder {
      text-align: center;
      margin-top: 45px;

      i {
        margin-right: 10px;
      }
    }

    .resource-selector {
      border-right: 1px solid @color-border;
      //margin-bottom: -99999px;
      //padding-bottom: 99999px;
      padding-left: 0;
      padding-right: 0;

      .box-heading {
        padding-left: 15px;
        padding-right: 15px;        
      }

      h3 {
        margin-bottom: 10px;
      }

      ul.nav {
        background-color: @color-bg-app;
        height: 35vh; //40vh;
        overflow-y: auto;
        //margin-bottom: 5px;
        padding: 0;
      }

      .headers {

        i {
          color: inherit;
          cursor: pointer;
        }
      }
    }

    .resource-configuration {
      border-left: 1px solid @color-border;
      margin-left: -1px;
      //margin-bottom: -99999px;
      //padding-bottom: 99999px;
      //min-height: 50vh;
    }

    .resource-notification {
      min-height: 200px;
      padding-left: 20%;
      padding-right: 20%;
    }

    .resource-filter {
      position: static;

      .form-control {
        width: 80%;
      }

      i {
        padding: 10px 0 10px;
        cursor: pointer;
        color: @color-icon;
      }
    }

    ul.nav > .active  a:not(.action) {
      color: #fff;
    }

    h5.selected-entry-name {
      margin-bottom: 3px;
      margin-top: 3px;
    }

    .entry-buttons {
      text-align: center;
      padding-left: 0px;
      padding-right: 0px;
      border-top: solid 2px #ccc;

      button {
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    ul.nav > li a {
      // display: inline-block;
      // padding: 10px 15px 10px 5px;
      // position: relative;

      i {
        margin-left: 20px;
      }
    }

    .resource-actions {
      padding: 0;

      a.action {
        display: block;
        padding: 0px;

        &:first-child {
          margin-bottom: 5px;
        }        

        background-color: transparent !important;
        i {
          color: @color-icon;
          margin-left: 0px;
        }

        i.fa-heart {
          color: @color-icon-favourite;
        }
      }
    }

    ul.nav > li a:hover, ul.nav > li a:focus {
      text-decoration: none;
    }
    
    .resource-name {
      
      a {
        color: @color-body;
        font-weight: @weight-medium;
      }

      small {
        color: @color-body-light;
        display: block;
      }

      small.offline {
        color: @red;
      }
    }

    .resource-icon {
    }
    
    .resource-name-container {
      margin: 0px;
      padding: 15px 0;
      border-bottom: 1px solid @color-border-light;

      &:hover,
      &:focus {
        background-color: @color-hover;
      }

      &.active {
        background-color: @blue !important;
      }
    }

    > div.row {

      &:first-child {
        margin-bottom: 15px;
      }

      &:last-child {
        border-top: 1px solid @color-border;
      }
    }

    .resource-nav-header {
      //border-bottom: 1px solid #ccc;

      .resource-entry-filter {
        width: 100%;
      }
    }

    .headers {
    }

  }

  .resource-details-container {
    height: 40vh;

    i.fa-check {
      color: green;
    }
    i.fa-ban {
      color: red;
    }

    ul.nav-tabs>li.active>a {
        cursor: default;
      }

    ul.nav.nav-tabs a {
      cursor: pointer;
    }
  }

  .copy-message {
    text-align: center;
    background-color: @color-bg-dark;
    position: relative;
    z-index: 100;
    border-top: 1px solid @color-border;
    border-bottom: 1px solid @color-border;
    padding: 10px 0;

    span {
      font-style: italic;
      font-size: 15px;
      color: @color-body-light;      
      margin-right: 10px;
    }
  }

  .refresh-entries-action {
    i {
        padding: 10px 0 10px;
        cursor: pointer;
        color: @color-icon;
      }
  }

  .icon-header {
    margin-right: 10px;
  }
}