<div class="taskcreate col-md-12">
	<div class="page-header">
		<h1>Tasks</h1>
	</div>

	<table class="table table-striped">
		<tr>
			<th><h3>Name<h3></th>
			<th><h3>Description<h3></th>
			<th></th>
		</tr>
		<tr ng-repeat="tasktype in tasktypes">
			<td>{{tasktype.name}}</td>
			<td>{{tasktype.description}}</td>
			<td><button type="button" class="btn btn-primary" ng-click="createTaskType(tasktype)">Create</button></td>
		</tr>
	</table>

	<!--<accordion close-others="false" ng-repeat="row in [] | range:tasktypes.length track by $index" class='col-sm-12'>
		<accordion-group ng-repeat="tasktype in tasktypes | subrange:$index track by $index" class="col-sm-4">
			<accordion-heading > <span ng-click="status.open = !status.open">
            	{{tasktype.name || 'empty'}} 
				<i  class="pull-right fa" ng-class="{'fa-chevron-up': status.open, 'fa-chevron-down': !status.open}"></i></span>
				<div class="pull-right checkbox">
			    	<label>
			      		<input type="checkbox" ng-click="selectTask($event, tasktype.id)"> Select
			    	</label>
			  	</div>
        	</accordion-heading>
        	<p>{{tasktype.description || 'empty'}}</p>
		</accordion-group>		
	</accordion>

	<div style="display:none;" id="taskcreation">
		<div ng-repeat="rttt in rttts" >{{rttt.role}}</div>

	</div>-->

</div>