<div class="taskcreate col-md-12">
	<div class="task-configure">
		<div class="page-header">
			<h3>Task Configuration</h3>
		</div>

		<div ng-repeat="arg in args">
			<div class="arg-container">
				<div class="clearfix arg-header">
					<div class="arg-info"><h2 class="text-uppercase">{{arg.name}}</h2></div>
					<div class="arg-info">{{arg.description}}</div>
				</div>
				<div>
					<div ng-switch="arg.type" class="clearfix arg-content">
						<div ng-switch-when="resource" ng-init="resource = arg.resource">
							<foldernavpane resource="resource" entries="resource.entries" ls="entryLsPane($event, entry, resource)" levelup="levelUp(resource)" smondrop="drop(srce, dste, entryObj, srcResource, dstResource)" refresh="refresh(resource)" download="download(entry)"></foldernavpane>
							<filesetpane ng-if="arg.role.indexOf('src') >=0" input="arg"></filesetpane>
							<div ng-if="arg.role.indexOf('dest') >=0" class="pull-right">
								<div class="input-group">
									<div class="input-group-addon">Selected Destination Directory</div>
									<input class="form-control" type="text" placeholder="{{setAndReturnArgVal(resource.path,arg)}}" readonly >
								</div>
							</div>
						</div>
						<div ng-switch-when="string">
							<input class="form-control" placeholder="example" ng-model="arg.inputValue">
						</div>
					</div>
				</div>
				
				
			</div>
			<div class="seperator">
			</div>
		</div>
		
		<button type="button" class="btn btn-primary pull-right" ng-click="startTask()">Start Task</button>
	</div>
</div>

<!--
<div class="panel panel-default sidebar-left">
		  <div class="panel-heading">
		    <h3 class="panel-title">{{resource.name}}</h3>
		  </div>
		  <div class="panel-body">
		    {{description}}
		  </div>
		</div>



		<table class="table">
			<tr>
				<th></th>
				<th>{{resource.description}}</th>
			</tr>
			<tr>
				<td>
					
				</td>
			</tr>
		</table>
		-->