<div class="taskcreate col-md-12">
	<div class="page-header">
		<h3>Your {{tasktype.name}} task requires:</h3>
		<div class="list-group">
			<div ng-repeat="taskrole in taskroles | normalize" class="list-group-item" ><a class="anchor-ref" ng-click="scrollTo(taskrole.name)" ><span class="fa fa-link fa-2x"></span></a><span ng-bind-html="numForRole(taskrole.name)" class="task-list-req"></span></div>
		</div>
		<!--<ul class="nav nav-tabs">
			<li ng-repeat="taskrole in taskroles" ng-bind-html="numForRole(taskrole)"></li>
		</ul> -->
	</div>

	<div ng-repeat="taskrole in taskroles | normalize">
		<a id="{{taskrole.name}}" class="anchor"></a>
		<h4 class="header-table">Available {{taskrole.name}} resources</h4>
		<table class="table table-striped" id="{{taskrole.name}}-resources">
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th></th>
			</tr>
			<tr ng-repeat="resource in resourceTypes[taskrole.name]">
				<td>{{resource.name}}</td>
				<td>{{resource.description}}</td>
				<td><button type="button" class="btn btn-primary" data-toggle="button" ng-click="selectResource(resource,taskrole.name, $event,taskrole.rtttId)">Select</button></td>
			</tr>
		</table>
		<hr>

	</div>
	
	<button type="button" class="btn btn-primary pull-right" ng-click="configureTask()">Configure Resources</button>
	

	
</div>