.taskcreate{

	div.panel-heading{
		background-color: #222222;
		color: #ffffff;
	}

	table button.btn.btn-primary{
		background-color: #428bca !important;
	}
	table button.btn.btn-primary:not(.active):hover{
		background-color: #428bca !important;
	}
	table button.btn.btn-primary.active{
		background-color: #428bca !important;
	}
	table button.btn.btn-primary.selected{
		background-color: #00417c !important;
	}
	table button.btn.btn-primary.selected:hover{
		background-color: #00417c !important;
	}
	
	.panel.panel-default{

		margin-top: 0px !important;
	}

	.radio, .checkbox {
		margin-top: 0px;
		margin-right: 20px;
	}

	hr {
		border-top-color: #222222;
		color: #222222;

	}

	table {
		//height: 1000px;
	}

	.anchor-ref:hover {
		cursor: pointer;
	}

	// div.list-group-item:hover .anchor{
	// 	display: inline-block;
	// 	cursor: pointer;
		
	// }

	.task-list-req {
		position: relative;
		top: -5px;
		margin-left:20px;
		
	}

	h4.header-table {
		margin-top: 100px;
	}

	.anchor {
		padding-top: 40px;
	}


	.sidebar-left {
		//position: 
		float: left;
		width: 300px;
		margin-top: 0px;
		border-right: none;
	}

	div.foldernavpane {
		//margin-left: 301px;
		border-color: #222222;
		position: relative;
		margin-bottom: 0px; 
	}

	div.foldernavpane .panel-heading {
		min-height: 18px;
		border-color: #222222;
	}
	//.panel-primary > .panel-heading


	div.task-configure {

		.arg-info:nth-child(1){
			width: 33%;
			float: left;
			line-height: 20px;
			font-weight: bold;
			font-size: 23px;
		}
		.arg-info:nth-child(2){
			width: 66%;
			float: right;
			font-weight: bold;
			padding-top: 20px;
		}

		.arg-container {
			position: relative;
			border-color: #DDDDDD transparent transparent;
			border-style: solid none none;
			border-width: 2px 0px 0px;
			padding-top: 10px;
			padding-bottom: 10px;
			
		}

		div.arg-container{
			margin-top: 0px;
		}
		
		

		.arg-header {
			
			margin-bottom: 30px;
			min-height: 100px;
		}

		.seperator{
			height: 120px;
			//background-color: #ececec;
		}


	}

	div.task-configure > .arg-container ~ .arg-container{
			//margin-top: 70px;
	}



}