<div class="modal-header">
  <h3 class="modal-title">Data Transfer</h3>
</div>
<div class="modal-body">
  Transfer <strong>{{entryName}}</strong> from <strong>{{srcPath}}</strong> to <strong>{{dstPath}}</strong>?
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-link" ng-click="cancel()">Cancel</button>
</div>
