<div class="modal-header">
  <h3 class="modal-title">Give your task a name</h3>
</div>
<div class="modal-body">
	<div class="form-group" ng-class="{'has-error': formError}">
	 	<input type="text" class="form-control" ng-model="name.val" >
	 </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Ok</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
