<form name="form.current" class="container-fluid extractor-form">
	<div class="form-group" ng-class="{'has-error':form.current.$submitted && form.current.repo.$error.required}">
		<label for="extraction-repo" class="control-label">Repo:</label><span class="required" ng-show="form.current.$submitted && form.current.repo.$error.required">*required</span>
		<div class="row">
			<select id="extraction-repo" class="form-control col-md-5" ng-model="selected.repo" ng-options="repo as repo.name for repo in repos track by repo.id" required="true" ng-disabled="extractorExists || extractorRepoSet || form.current.readonly" name="repo"></select>
			<p class="form-control-static col-md-7" ng-bind-html="selected.repo.description"></p>
		</div>
		<div ng-show="selected.repo">
			<a class="" href ng-click="toggleSchema()"><i class="fa" ng-class="{'fa-angle-up': !schema.hide, 'fa-angle-down': schema.hide}"></i> {{schema.hide ? 'Show' : 'Hide'}} Schema Properties</a>
			<div collapse="schema.hide">
				<table class="table">
					<thead>
						<tr>
							<th>Property</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="prop in selected.schema.props">
							<td ng-bind-html="prop.name"></td>
							<td ng-bind-html="prop.property_type"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error':form.current.$submitted && form.current.extractortype.$error.required}">
		<label for="extraction-extractor" class="control-label">Extractor Type:</label><span class="required" ng-show="form.current.$submitted && form.current.extractortype.$error.required">*required</span>
		<div class="row">
			<select id="extraction-extractor" class="form-control col-md-5" ng-model="selected.extractorType" ng-options="extractorType as extractorType.name for extractorType in extractorTypes track by extractorType.id" required="true" ng-change="extractorTypeChanged()" name="extractortype" ng-disabled="form.current.readonly"></select>
			<p class="form-control-static col-md-7" ng-bind-html="selected.extractorType.description"></p>
		</div>
	</div>
	<div class="form-group" ng-class="{'has-error':form.current.$submitted && form.current.computeresource.$error.required}">
		<label for="extraction-resource" class="control-label">Resource: <i class="fa fa-info-circle" tooltip="This resource will be used to perform the extraction process."></i></label><span class="required" ng-show="form.current.$submitted && form.current.computeresource.$error.required">*required</span>
		<div class="row">
			<select id="extraction-resource" class="form-control col-md-5" ng-model="selected.resource" ng-options="resource as resource.name for resource in resources track by resource.id" required="true" ng-disabled="!selected.extractorType || form.current.readonly" name="computeresource"></select>
			<p class="form-control-static col-md-7" ng-bind-html="selected.resource.description"></p>
		</div>
	</div>
	<div class="form-group">
		<label for="extraction-notification" class="control-label">Notifications: </label>
		<div class="checkbox">
			<label>
				<input type="checkbox" id="extraction-notification" ng-model="notification.email" ng-disabled="form.current.readonly"> Email me when extraction finishes
			</label>
		</div>
	</div>
</form>