<div class="user-settings-container container-fluid">
  <tabset>
    <tab heading="RP-SMARF Account">
      <div ui-view="settings">
      </div>
    </tab>
    <tab heading="Cloud Accounts">
      <div ui-view="clouds">
      </div>
    </tab>
  </tabset>
</div>

  