<div class="account-container">
  
  <div class="row">
    <div class="box-heading clearfix">
      <div class="col-md-12">
        <h3>Your Cloud Accounts</h3>
      </div>
    </div>
  </div>

  <div class="account-body">
    <tabset>
      <tab ng-repeat="cloud in clouds" heading="{{cloud.name}}">
        <div class="account-info-wrapper">
          <p>For privacy issues cloud account details are not shown here. You can use this page to create/edit/delete your {{cloud.name}} cloud account.</p>
          <p>Your {{cloud.name}} account details are currently: {{cloud.userSet ? 'SET' : 'NOT SET'}}</p>
          <div class="row">
            <div class="col-md-5">
              <h4>Account Information</h4>
            </div>
            <div class="col-md-4">
              <p class="req-info text-right"><span class="required">*&nbsp;</span><span>= required information</span></p>
            </div>
          </div>
          <div class="row row-settings" ng-repeat="(key, value) in cloud.properties">
            <div class="col-md-3">
              <label><span ng-bind-html="value.title"></span>:</label>
              <span class="required">*</span>
            </div>
            <div class="col-md-5">
              <div ng-class="input-group">
                <div ng-switch="value.type ? value.type : value.enum ? 'enum' : 'unknown'">
                  <input class="form-control" ng-switch-when="string" type="text" ng-model="propertyValues[cloud.id][key]">
                  <select class="form-control" ng-switch-when="enum" ng-options="name for name in value.enum" ng-model="propertyValues[cloud.id][key]"></select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <p ng-bind-html="value.description"></p>
            </div>
          </div>
          <div>
            <button class="btn btn-primary" ng-bind-html="cloud.userSet ? 'Update' : 'Save'" ng-click="saveCloudAccount(cloud)">Save</button>
            <button ng-if="cloud.userSet" class="btn btn-link" ng-click="deleteCloudAccount()">Delete</button>
          </div>
        </div>
        <div class="account-settings-wrapper" ng-if="cloud.userSet">
          <hr>
          <h4>Account Settings</h4>
          <alert type="success" ng-show="accountSettingsSaved">Your cloud account settings have been saved.</alert>
          <p>Change the settings for this cloud account.</p>
          <div class="row row-settings" ng-repeat="(key, value) in cloud.containerProperties">
            <div class="col-md-3">
              <label><span ng-bind-html="value.title"></span>:</label>
            </div>
            <div class="col-md-5">
              <div ng-class="input-group">
                <div ng-switch="value.type ? value.type : value.enum ? 'enum' : 'unknown'">
                  <input class="form-control" ng-switch-when="string" type="text" ng-model="containerPropertyValues[cloud.id][key]">
                  <select class="form-control" ng-switch-when="enum" ng-options="name for name in value.enum" ng-model="containerPropertyValues[cloud.id][key]"></select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <p ng-bind-html="value.description"></p>
            </div>
          </div>
          <div>
            <button class="btn btn-primary" ng-click="saveCloudAccountSettings(cloud)">Save Settings</button>
          </div>
        </div>
      </tab>
    </tabset>
  </div>

</div>