.user-settings-container {

  .settings-sidebar {
    //background-color: #f5f5f5;
    border-right: 1px solid #eee;
    //display: inline-block;
    //left: 0;
    //overflow-x: hidden;
    //overflow-y: auto;
    padding: 20px;
    //padding-bottom: 100px;
    //margin-bottom: 20px;
    //position: fixed;
    //top: 51px;
    //bottom: 0;

    .nav-sidebar{
      //padding-bottom: 30px;

      .active > a {
        color: #fff;
        background-color: #428bca;
      }
    }
  }

  .api-input {
    cursor: text;
  }
}

.account-container {

  .row-settings {
    margin-top: 20px;
    margin-bottom: 20px;

    label,
    .setting-help {
      margin-top: 10px;
      display: inline-block;
    }
  }

  .account-body {
    padding: 0 15px;
    margin-top: 40px;
  }

  .personal-details-title {
  }

  span.required {
    color: @red;
    font-family: Verdana, sans-serif;
    font-weight: bold;
  }

  .req-info {
    font-style: italic;
  }

  .photo-holder{
    float: left;
    width: 100px;

    .circular {
      width: 76px;
      height: 76px;
      border-radius: 39px;
      -webkit-border-radius: 38px;
      -moz-border-radius: 38px;
    }
  }

    .upload-photo {
      //display: block;
      display: none;
    
      button {
        color: @blue;

        .fa {
          color: @color-body-light;
        }
      }

      span {
        color: @color-body-light;
        font-size: 13px;
        font-style: italic;
      }
    }

    button.see-more {
      display: none;
    }

    div.see-more {
    }

    .container-actions {
      border-top: 1px solid @color-border;
      padding-top: 20px;
      margin-top: 20px;
    }
  }

.settings-content {
}