<div class="account-container">
  
  <div class="row">
    <div class="box-heading clearfix">
      <div class="col-md-12">
        <h3>Your Account</h3>
      </div>
    </div>
  </div>

  <div class="account-body">
  
    <div class="row">
      <div class="personal-details-title col-md-5"><h4>Personal Details</h4></div>
      <div class="req-info col-md-4 text-right"><span class="required">*&nbsp;</span><span>= required information</span></div>
    </div>

    <div class="row row-settings" ng-repeat="setting in userSettings.value" ng-if="!setting.see_more">
      <div class="col-md-3">
        <label><span ng-bind-html="setting.name"></span>:</label>
        <span class="required" ng-if="setting.required">*</span>
      </div>
      <div class="col-md-6">
        <div ng-class="{'input-group':setting.editable}">
          <select class="form-control" ng-if="setting.select" ng-disabled="!setting.editing && !accountSetup" ng-model="setting.value" ng-options="opt.name for opt in data[setting.data_name]">
          </select>
          <small class="required" ng-show="setting.select && !setting.value && accountSetup">required</small>
          <div ng-if="setting.name=='Profile picture'" class="photo-holder">
            <div class="circular" style="background: #d7d7d7 url({{setting.value}}) no-repeat; background-size: 76px 76px;"></div>
          </div>
          <div ng-if="setting.name=='Profile picture'" class="upload-photo">
            <p>
              <button class="btn btn-default">Select Image</button>
              <button class="btn btn-link"><i class="fa fa-times"></i>&nbsp;Remove Image</button>
            </p>
            <span class="small">Upload a profile picture. You may upload a PNG or JPG that is a maximum of 1mb in size.</span>
          </div>
          <input ng-if="!setting.select && setting.name !='Profile picture'" class="form-control" ng-readonly="!setting.editable || !setting.editing" ng-model="setting.value" placeholder="{{setting.value}}" ng-class="setting.class">
          <span class="input-group-btn" ng-if="setting.editable && !accountSetup">
            <button ng-click="settingAction(setting)" class="btn btn-default" type="button" tooltip="{{setting.editing ? 'Save this field': 'Edit this field'}}"><i class="fa fa-lg" ng-class="{false:'fa-edit', true:'fa-check-square-o'}[setting.editing]"></i></button>
          </span>
        </div>
      </div>
      <div class="col-md-2" ng-if="setting.how">
        <a href class="setting-help" ng-click="howTo(setting)">How to use</a>
      </div>
    </div>
    
    <div class="see-more">
      <div class="row row-settings" ng-repeat="setting in userSettings.value" ng-if="setting.see_more">
        <div class="col-md-3">
          <label><span ng-bind-html="setting.name"></span>:</label>
          <span class="required" ng-if="setting.required">*</span>
        </div>
        <div class="col-md-6">
          <div ng-class="{'input-group':setting.editable && !accountSetup}">
            <select class="form-control" ng-if="setting.select" ng-disabled="!setting.editing && !accountSetup" ng-model="setting.value" ng-options="opt.name for opt in data[setting.data_name]">
            </select>
            <small class="required" ng-show="setting.select && !setting.value && accountSetup">required</small>
            <input ng-if="!setting.select" class="form-control" ng-readonly="!setting.editable || !setting.editing" ng-model="setting.value" placeholder="{{setting.value}}" ng-class="setting.class">
            <span class="input-group-btn" ng-if="setting.editable && !accountSetup">
              <button ng-click="settingAction(setting)" class="btn btn-default" type="button" tooltip="{{setting.editing ? 'Save this field': 'Edit this field'}}"><i class="fa fa-lg" ng-class="{false:'fa-edit', true:'fa-check-square-o'}[setting.editing]"></i></button>
            </span>
          </div>
        </div>
        <div class="col-md-2" ng-if="setting.how">
          <a href class="setting-help" ng-click="howTo(setting)">How to use</a>
        </div>
      </div>
    </div>

    <button class="see-more btn btn-default" ng-click="see_more($event);">See more</button>

    <div class="row" ng-if="false">
      <div class="col-md-12">
        <div class="container-actions">
          <button class="save btn btn-primary">Save</button>
          <button class="cancel btn btn-link">Cancel</button>
        </div>
      </div>
    </div>

  </div>

</div>