<div class="modal-header">
	<h3 class="modal-title">News</h3>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div>
			<alert type="success" ng-show="showMessage">Your news item has been successfully posted</alert>
		</div>
		<div ng-include="'postnews/postnews.form.tpl.html'"></div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="post(current.form)" ng-bind-html="edit ? 'Save' : 'Post'">Post</button>
	<button class="btn btn-default" ng-click="close()">Close</button>
</div>
