<form name="current.form">
	<div class="form-group" ng-class="{'has-error':current.form.newsHeadline.$error.required && current.form.$submitted}">
		<label for="news-headline" class="control-label">Headline</label>
		<input class="form-control" ng-model="news.headline" type="text" id="news-headline" name="newsHeadline" required="true">
		<span ng-show="current.form.newsHeadline.$error.required && current.form.$submitted">This is a required field.</span>
	</div>
	<div class="form-group" ng-class="{'has-error':current.form.newsBody.$error.required && current.form.$submitted}">
		<label for="news-body" class="control-label">Body text</label>
		<textarea class="form-control" rows="7" ng-model="news.body" type="text"  id="news-body" name="newsBody" required="true"></textarea>
		<span ng-show="current.form.newsBody.$error.required && current.form.$submitted">This is a required field.</span>
	</div>
</form>