<div class="setup-container container">
	<div class="row">
		<div class="col-md-12" ui-view="account-settings">
		</div>
	</div>
	<div class="row" ng-if="userAckRequired">
		<div class="col-md-12" >
			<div class="long-text" ng-include="'setup/setup.tos.tpl.html'"></div>
			<div ng-class="{'has-error':formError}">
				<div  class="checkbox">
					<label>
						<input type="checkbox" ng-model="acked" ng-change="selectCheckbox()"><strong>I have read and agreed to the Terms of Service</strong>
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 clearfix">
			<button class="pull-right btn btn-primary" ng-click="done()">Done</button>
		</div>
	</div>

</div>