<div class="resource-infopanel-container infopanel-container">
  <div class="row">
    <div class="col-md-9">
      <span>Details: <strong ng-bind-html="selectedRepo.name"></strong></span>
    </div>
    <div class="col-md-3 text-right">
      <a class="collapse-toggle" href ng-click="infoPanelCollapseToggle()" ng-show="selectedRepo">
        <i class="fa" ng-class="{false:'fa-angle-down', true: 'fa-angle-up'}[infoPanel.collapsed]"></i> {{infoPanel.collapsed ? 'Show Details' : 'Hide Details'}}
      </a>
    </div>
  </div>
  <div collapse="infoPanel.collapsed">
    <tabset justified="false">
      <tab heading="General" active="select.first">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <h5>Metadata Repository details</h5>
			  <p class="">Owner: {{selectedRepo.owner_info.name}}</p>
              <p ng-if="false" class="">Location: {{selectedRepo.location}}</p>
              <p class="">Description: {{selectedRepo.description}}</p>
              <hr>
              <h5>Schema Details</h5>
              <p>Name: {{selectedSchema.name}}</p>
              <p>Description: {{selectedSchema.description}}</p>
              <p>Community: {{selectedSchema.community.name}}</p>
              <p>Owner: {{selectedSchema.owner.name}}</p>
              <p>Resource Type: {{selectedSchema.resource_type.name}}</p>

            </div>
            <h5>Property Type details</h5>
            <div class="col-md-6" ng-repeat="pt in selectedRepo.schemaPropertyTypes">
              <p>{{pt.name}}: {{pt.property_type}}</p>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Search Results"  active="select.second">
        <div ng-switch="queryTriggered">
          <div ng-switch-when="true">
            <div class="container-fluid">
              <div class="row">
                
                <div ng-show="fileSetItems.length > 0" ng-click="toggleDropdown($event, 'searchResultsActions')" class="dropdown col-md-2" dropdown is-open="menu['searchResultsActions']">
                  <button  class="dropdown-toggle btn btn-link" type="button" data-toggle="dropdown" aria-expanded="true">
                    <span class="fa fa-gear"></span> Result Actions
                  </button>
                  <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    <li><a href ng-click="downloadResults()">Download search results (multiple formats supported)</a>
                    </li>
                    <li><a href ng-click="saveToResource()">Copy result files to resource</a>
                    </li>
                  </ul>
                </div>

                <pagination class="pagination-sm col-md-4" total-items="records" ng-model="resultsPage.value" items-per-page="resultsPerPage.value" ng-change="getFileSetItems()" boundary-links="true" max-size="5"></pagination>
              
                
                <div ng-show="fileSetItems.length > 0" class="col-md-6">
                  <span ng-bind-html="resultsInfo()"></span>
                  <span>(Show <select class="form-control results-per-page" ng-model="resultsPerPage.value" ng-change="getFileSetItems()" convert-to-number><option value="10">10</option><option value="20" ng-if="records >= 20">20</option><option value="50" ng-if="records >= 50">50</option><option value="100" ng-if="records >= 100">100</option></select> results per page)</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Properties</th>
                        <th>Resource</th>
                        <th>Path to file</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr ng-repeat="item in fileSetItems">
                        <td>
                          <ul class="list-unstyled">
                            <li ng-repeat="(key, value) in item.props">
                              {{key}}: {{value}}
                            </li>
                          </ul>
                        </td>
                        <td>{{item.resourceName}}</td>
                        <td>
                          <div>
                            {{item.relative_path}}
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div ng-switch-when="false">
            <h3><i class="fa fa-angle-up"></i> Please perform a query</h3>
          </div>
        </div>
      </tab>
      <tab heading="Repo Permissions" select="getPermissions(selectedRepo)" ng-if="false">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div ng-if="!selectedRepo.userIsOwner && !selectedRepo.userFullPerm">
                <button class="btn btn-default" ng-click="requestAccess(selectedRepo)">Request Access</button>
              </div>
              <div ng-if="selectedRepo.userIsOwner && selectedRepo.hasAccReq">
                <table class="table">
                  <caption>Users requesting access</caption>
                  <thead>
                    <tr>
                      <th class="col-md-3">Name</th>
                      <th class="col-md-1">Access requested</th>
                      <th class="col-md-4">Reason</th>
                      <th class="col-md-4"></th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="request in userAccessRequests">
                        <td ng-bind-html="request.requester_info.name"></td>
                        <td ng-bind-html="request.access"></td>
                        <td ng-bind-html="request.reason"></td>
                        <td><button class="btn btn-primary" ng-click="grantAccess(request,$index)">Grant</button><button class="btn btn-default" ng-click="denyAccess(request, $index)">Deny</button></td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <table class="table">
                <caption>Users with access</caption>
                <thead>
                  <tr>
                    <th class="col-md-4">Name</th>
                    <th class="col-md-2">Read</th>
                    <th class="col-md-2">Write</th>
                    <th class="col-md-2">Execute</th>
                    <th class="col-md-2" ng-if="selectedRepo.userIsOwner"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in selectedRepo.users_perm" >
                    <td ng-bind-html="user.name"></td>
                    <td ng-switch="user.editing ? 'true' : 'false'">
                      <i ng-switch-when="false" class="fa" ng-class="{true:'fa-check', false:'fa-ban'}[user.read]"></i>
                      <input ng-switch-when="true" type="checkbox" ng-model="user.read">
                    </td>
                    <td ng-switch="user.editing ? 'true' : 'false'">
                      <i ng-switch-when="false" class="fa" ng-class="{true:'fa-check', false:'fa-ban'}[user.write]"></i>
                      <input ng-switch-when="true" type="checkbox" ng-model="user.write">
                    </td>
                    <td ng-switch="user.editing ? 'true' : 'false'">
                      <i ng-switch-when="false" class="fa" ng-class="{true:'fa-check', false:'fa-ban'}[user.execute]"></i>
                      <input ng-switch-when="true" type="checkbox" ng-model="user.execute">
                    </td>
                    <td ng-if="selectedRepo.userIsOwner">
                      <span class="input-group-btn" ng-if="!user.isCurrentUser">
                        <button class="btn btn-default" tooltip="{{user.editing ? 'Save permissions':'Edit permissions'}}" type="button" ng-click="toggleEditPermissions(user,selectedRepo, $index)">
                          <i class="fa fa-lg" ng-class="{true:'fa-check-square-o', false:'fa-edit'}[user.editing]"></i>
                        </button>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>