<div class="modal-header">
	<h3 class="modal-title">Select a resource</h3>
</div>
<div class="modal-body metadata-resource-copy">
	<div class="container-fluid form-horizontal" ng-switch="copyStarted ? 'true' : 'false'">
		<div class="form-group" ng-switch-when="false">
			<label class="col-md-2 control-label">Copy to</label>
			<select ng-model="selectedResource.value" class="col-md-10 form-control" ng-options="resource as resource.name for resource in resources track by resource.id">
			</select>
			<p class="pull-right" ng-show="selectedResource.value" ng-bind-html="selectedResource.value.description"></p>
		</div>
		<div class="copy-info container-fluid" ng-switch-when="true">
			<ul class="list-unstyled">
				<li>Copying of {{records}} <span count="records" when"{'one': 'file', 'other': 'files'}"></span> to <strong>{{selectedResource.value.name}}</strong> has started.</li>
				<li>The <span count="records" when"{'one': 'file', 'other': files}"></span> will be copied into the <strong>{{copy.dest_path}}</strong> directory.</li>
				<li>This operation has started {{copy.tasks.length}} <span count="copy.tasks.length" when"{'one': 'task', 'other': 'tasks'}"></span>, you can view <span count="copy.tasks.length" when"{'one': 'its', 'other': 'their'}"> progress in the <a href ng-click="goToTaskStatusPage()">Task Status Page</a> (clicking will redirect you).</li>
			</ul>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="copyToResource()" ng-show="!copyStarted" ng-disabled="!selectedResource.value">Copy</button>
	<button class="btn btn-default" ng-click="close()">Close</button>
</div>
