@import (inline) "../../../vendor/angular-ui-select/dist/select.css";

.metadata-container {
	
  .resource-parameter-name {
    border-bottom: 1px solid @color-border;

    h3 {
      margin-bottom: 20px;
    }
  }

	.resource-selection-container {
    //border-bottom: solid 1px @color-border-light;
		//height: 50vh;

    .root-entry-info {
      padding-top: 5px;

      label {
        font-weight: @weight-normal;
        margin-right: 20px;
      }
    }

    .root-selector-div {
      display: inline-block;

      label {
        margin-right: 0;
      }
    }

    .resource-placeholder {
      text-align: center;
      margin-top: 45px;
      
      i {
        margin-right: 10px;
      }
    }

    .resource-notification {
      min-height: 200px;
      padding-left: 20%;
      padding-right: 20%;
    }

    .resource-selector {
      padding: 0; 
      border-right: 1px solid @color-border;

      .box-heading {
        padding-left: 15px;
        padding-right: 15px;
      }

      h3 {
        margin-bottom: 10px;
      }

      ul.nav {
        background-color: @color-bg-app;
        //height: 40vh;
        overflow-y: auto;
        //margin-bottom: 5px;
        padding: 0;
      }

      ul.shrink {
        height: 30vh;
      }

      .headers {

        i {
          color: inherit;
          cursor: pointer;
        }
      }
    }

    .resource-configuration {
      border-left: 1px solid @color-border;
      margin-left: -1px;

      .resource-nav-buttons {
        text-align: center;
      }
    }

    .resource-filter {
      position: static;

      .form-control {
        width: 80%;
      }

      i {
        padding: 10px 0 10px;
        cursor: pointer;
        color: @color-icon;
      }
    }

    ul.nav > .active  a:not(.action) {
      color: #fff;
      background-color: @blue;
    }

    .entry-buttons {
      text-align: center;
      padding-left: 0px;
      padding-right: 0px;
      border-top: solid 2px #ccc;

      button {
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 15px;   
      }
    }

    ul.nav > li a {
      //display: inline-block;
      //padding: 10px 15px 10px 5px;
      //position: relative;

      i {
        margin-left: 20px;
      }
    }

    .resource-actions {
      padding: 0;

      a.action {
        display: block;
        padding: 0px;
        background-color: transparent !important;

        &:first-child {
          margin-bottom: 5px;
        }

        i {
          color: @color-icon;
          margin-left: 0px;
        }

        i.fa-heart {
          color: @color-icon-favourite;
        }
      }
    }

    ul.nav > li a:hover, ul.nav > li a:focus {
      text-decoration: none;
    }

    .resource-name {

      a {
        color: @color-body;
        font-weight: @weight-medium;
      }

      small {
        color: @color-body-light;
        display: block;
      }

      small.offline {
        color: @red;
      }
    }

    .resource-icon {
    }
    
    .resource-name-container {
      margin: 0px;
      padding: 15px 0;
      border-bottom: 1px solid @color-border-light;

      &:hover,
      &:focus {
        background-color: @color-hover;
      }

      &.active {
        background-color: @blue !important;
      }
    }
  }

  .refresh-entries-action {
    i {
        padding: 10px 0 10px;
        cursor: pointer;
        color: @color-icon;
      }
  }

  .resource-details-container {
    //height: 40vh;

    ul.nav-tabs>li.active>a {
        cursor: default;
      }

      ul.nav.nav-tabs a {
        cursor: pointer;
      }
  }

  .notice-text { 
    font-style: italic;
  }

  .extra-icon {
    position: absolute;
    cursor: pointer;
    top: 33%;
  }

  .icon-header {
    margin-right: 10px;
  }
}

.resource-infopanel-container {

  .dropdown-toggle.btn {
    color: black;
  }

  .pagination {
    display: inline;
  }

  .dropdown {
    display: inline;
  }

  .results-per-page {
    width: auto;
    display: inline;
  }
}

.metadata-results-download{
  p{
    padding-top: 5px;
  }
}

.metadata-resource-copy{
  p{
    padding-top: 5px;
  }
}