<div class="metadata-container" ng-class="{'taskstart':userState == USER_STATE.task_start}">
  <div class="container-fluid resource-parameter-name" ng-if="userState == USER_STATE.task_start">
    <div class="container-fluid resource-selection-container">
      <div class="row">
        <div class="col-md-4 resource-selector">
          <div class="box-heading">
            <h3 class="headers">Metadata Repos</h3>
            <form class="form resource-filter">
              <i class=" pull-right fa fa-plus" tooltip="Add a new Repo" tooltip-placement="bottom" ng-click="addRepo()"></i>
              <i class=" pull-right fa fa-refresh" tooltip="Refresh repos list" tooltip-placement="bottom" ng-click="refreshRepos()"></i>
              <input type="search" placeholder="Filter..." class="form-control" ng-model="repoSearchText" ng-change="filterRepos(repoSearchText)"/>
            </form>
          </div>
          <ul class="nav nav-sidebar container-fluid" ng-class="{shrink: !infoPanel.collapsed}">
            <li class="row resource-name-container" ng-repeat="repo in repos track by repo.id" ng-class="{active: repo.selected}">
              <div class="col-md-3 icon-style">
                <img class="resource-icon" ng-src="{{DEFAULT_METADATA_ICON_URL}}"></img>
              </div>
              <div class="col-md-9 resource-name">
                <a href ng-click="selectRepo(repo, $index)" ng-bind-html="repo.name"></a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-8 resource-configuration">
          <div ng-switch="repoSelected">
            <div ng-switch-when="true">
              <button class="pull-right btn btn-primary" ng-if="userOwnsRepo" ng-click="manageRepo(selectedRepo)">Manage Repo</button>
              <!--tabs -->
              <tabset>
                <tab heading="Search" active="tabs.first">
                  <div class="resource-placeholder">Build Query</div><hr/>
                  <!-- Search Filter starts here -->
                  <div data-ng-repeat="searchFilter in searchFilters">
                    <br /><p></p>
                    <div class="search_filter">
                      <div class="col-xs-12 col-sm-2 col-md-2">
                          <ui-select  ng-model="searchFilter.filterType.selected" theme="bootstrap" ng-disabled="disabled"  title="Choose a filter">
                              <ui-select-match placeholder="Select Filter">{{$select.selected}}</ui-select-match>

                              <ui-select-choices repeat="filterType in availableFilterTypesMaster | filter:$select.search" >
                                  {{filterType}}
                              </ui-select-choices>
                          </ui-select>
                      </div>

                      <div class="col-xs-12 col-sm-3 col-md-3">

                          <ui-select  ng-model="searchFilter.propertyType.selected" theme="bootstrap" ng-disabled="disabled" on-select="enableOp(searchFilter)" title="Choose a property type">
                              <ui-select-match placeholder="Select Property">{{$select.selected.name}}</ui-select-match>

                              <ui-select-choices repeat="propertyType in availablePropertyTypesMaster | filter:$select.search" >
                                  {{propertyType.name}}
                              </ui-select-choices>
                          </ui-select>
                      </div>

                      <div class="col-xs-12 col-sm-4 col-md-4">

                          <ui-select  ng-model="searchFilter.operationType.selected" theme="bootstrap" ng-disabled="searchFilter.prop"  title="Choose an operation">
                              <ui-select-match placeholder="Select Operation">{{$select.selected.label}}</ui-select-match>

                              <ui-select-choices repeat="operation in availableOperationTypesMaster | filter:$select.search" >
                                  {{operation.label}}
                              </ui-select-choices>
                          </ui-select>
                      </div>

                      <div class="col-xs-12 col-sm-2 col-md-2">
                          <input type="text" ng-model="searchFilter.propertyValue" placeholder="Property Value" ng-disabled="searchFilter.prop" class="form-control">
                      </div>

                    </div>
                  <br />
                  </div>
                  <br /><p></p> 
                  <div class="row">
                    <div class="col-xs-12 col-sm-2 col-md-2">
                      <input type="submit" id="addFilter" value="Add Filter" ng-click="addFilter()"  class="form-control" />
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                      <input type="submit" id="deleteFilter" value="Remove Filter" ng-click="removeFilter()"  class="form-control" />
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2">
                      <button  ng-click="search()"  class="btn btn-default">Search</button>
                    </div>
                  </div>
                </tab>
                <tab heading="Extractor" select="getExtractor()" >
                    <div ng-switch="selectedRepo.extractor.state || 'init'">
                      <h5 ng-switch-when="updating">This extraction is being updated></h5>
                      <h5 ng-switch-when="purging">Deleting records from previous extraction</h5>
                      <h5 ng-switch-when="done">This extraction has completed. You can reconfigure the extraction using this panel.</h5>
                      <div ng-switch-when="init"></div>
                      <h5 ng-switch-default>This extraction is currently in progress, you can view it's status in the <a href ui-sref="extractionlist"> extractions page</a></h5>
                    </div>
                    <metadataextractor extractor="selectedRepo.extractor" extractor-exists="selectedRepo.extractorExists" extractor-api="extractorApi" update-extractor="getExtractor()" repos="null"></metadataextractor>
                    <!--<div ng-include="'metadata/extractor/extractor.form.tpl.html'"></div>-->
                    <button ng-click="extractorApi.startExtraction()" class="btn btn-primary" ng-if="!selectedRepo.extractorExists">Start Extraction</button>
                    <button ng-click="extractorApi.deleteExtractor()" class="btn btn-default" ng-if="selectedRepo.extractorExists && selectedRepo.extractorComplete">Delete Extraction</button>
                    <button ng-click="extractorApi.rebuildExtractor()" class="btn btn-default" ng-if="(selectedRepo.extractorExists && selectedRepo.extractorComplete) || selectedRepo.extractor.state === 'init'">Rebuild Extraction</button>
                    <button ng-click="extractorApi.updateExtractor()" class="btn btn-default" ng-if="(selectedRepo.extractorExists && selectedRepo.extractorComplete)">Update Extraction</button>
                    <!--<button ng-click="extractorApi.cancelExtractor()" class="btn btn-default" ng-if="selectedRepo.extractorExists && !selectedRepo.extractorComplete">Cancel Extraction</button> -->
                </tab>
              </tabset>
              <!-- tabs end -->          
            </div>
            <div ng-switch-when="false" class="resource-placeholder">
                <h3><i class="fa fa-angle-left"></i> Please select a repo</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>