<div class="modal-header">
	<h3 class="modal-title">Download Metadata</h3>
</div>
<div class="modal-body metadata-results-download">
	<div class="container-fluid form-horizontal">
		<div class="form-group" ng-switch="downloadType">
			<label class="col-md-3 control-label">Download format</label>
			<select ng-model="downloadType" class="col-md-9 form-control">
				<option></option>
				<option value="csv">csv</option>
				<option value="zip">zip</option>
				<option value="json">json</option>
			</select>
			<p class="pull-right" ng-switch-when="csv">Downloads the results in csv format.</p>
			<p class="pull-right" ng-switch-when="zip">Downloads all files in a zip file.</p>
			<p class="pull-right" ng-switch-when="json">Downloads the results in a json file.</p>
		</div>

	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="download()">Download</button>
	<button class="btn btn-default" ng-click="close()">Close</button>
</div>
