.footer-taskprogress-container {
	// border-top: 1px solid @color-border;

	// .task-progress-collapse {
	// 	font-weight: @weight-medium;
	// 	background-color: @blue-dark;
	// 	z-index: 1;
	// 	height: 80px;
	// 	line-height: 80px;

	// 	a {
	// 		color: white;
	// 		margin-left: auto;
	// 		margin-right: auto;

	// 		&:hover,
	// 		&:focus {
	// 			text-decoration: none;
	// 		}

	// 		i {
	// 			//position: relative; 
	// 			//bottom: 2px;
	// 		}
	// 	}
	// }

	// .task-progress-collapse.collapsed {
	// 	//top: -22px;
	// 	height: 50px;
	// 	line-height: 50px;

	// 	i {
	// 		//bottom: 4px;
	// 	}
	// }

	.task-ready-notification {
		/* Chrome, Safari, Opera */
		-webkit-animation-name: taskReadyIcon, taskReadyDiv;
		-webkit-animation-duration: 1.8s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction: alternate;
		-webkit-animation-play-state: running;

		/* Standard syntax */
		animation-name: taskReadyIcon, taskReadyDiv;
		animation-duration: 1.8s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-play-state: running;
	}

	@-webkit-keyframes taskReadyIcon {
		from{color: white;}
		to{color: green;}
	}

	/* Standard syntax */
	@keyframes taskReadyIcon {
		from{color: white;}
		to{color: green;}
	}

	@-webkit-keyframes taskReadyDiv {
		from{border-color: white;}
		to{border-color: green;}
	}

	/* Standard syntax */
	@keyframes taskReadyDiv {
		from{border-color: white;}
		to{border-color: green;}
	}

	.btn{
	}

	.task-wrapper {
		background-color: #333;
		height: 80px;

		.taskname, .taskstate {
			color: white;
			background-color: black;
		}

		.taskstate-error {
			white-space: pre;
		}

		.taskprogress{
			margin-top: 15px;
			margin-bottom: 15px;
			background-color: black;
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			height: 50px;
			//padding-top: 15px;
			//padding-bottom: 15px;

			div.container-fluid, div.row, .vcenter {
				height: inherit;
			}

			i.fa-exclamation-circle {
				color: white;
				cursor: pointer;
			}

		}

		.progress {
			margin-bottom: 0px !important;
		}

  
	}

	.folder-capacity {
		color: white;
		margin-bottom: 15px;
    	margin-top: 15px;
    	padding-left: 30px;
    	padding-right: 30px;

    	span.warn strong {
    		color: @brand-warning;
    	}

    	span.fail strong {
    		color: @brand-danger;
    	}
	}
}