<ol class="breadcrumb breadcrumb-container pull-left">
  <li ng-repeat="crumb in crumbs" ng-if="crumbLevel >= $index" ng-class="{true: 'active', false: ''}[crumbLevel>$index]">
    <a ng-if="crumbLevel > $index" ui-sref="{{crumbs[$index].stateName}}">{{crumbs[$index].name}}</a>
    <span ng-if="crumbLevel == $index">{{crumbs[$index].name}}</span>
  </li>
</ol>
<ul class="breadcrumb issue-container">
	<li class="pull-right">
		<a href ng-click="openIssueCollector()">Submit an issue</a>
	</li>
</ul>