<div class="contactus-container container-fluid">
	<div class="row">
	    <div class="box-heading clearfix">
			<div class="col-md-12">
				<h3>Contact Us</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 form-container">
			<iframe src="https://docs.google.com/a/rpsmarf.ca/forms/d/1TewtsbYIFyMzTV1i7oFkFyCZhDderv5pxBf0S7BYp3M/viewform?embedded=true" width="760" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			<div ng-if="false">
				<h4>Contact Form</h4>
				<form>
					<div class="form-group">
				    	<label for="name">Your Name</label><i class="fa fa-asterisk required"></i>
				    	<input type="text" class="form-control" id="name" ng-model="name" ng-required="true">
				 	</div>
					<div class="form-group">
				    	<label for="email">Your Email</label><i class="fa fa-asterisk required"></i>
				    	<input type="email" class="form-control" id="email" ng-model="email" ng-required="true">
				 	</div>
				 	<div class="form-group">
				    	<label for="aff">Your Affiliation</label><i class="fa fa-asterisk required"></i>
				    	<input type="text" class="form-control" id="aff" ng-model="aff" ng-required="true">
				 	</div>
				 	<div class="form-group">
				    	<label for="phone">Your Phone</label>
				    	<input type="text" class="form-control" id="phone" ng-model="phone" ng-pattern="/\(?[0-9]{3}\)?(\s|-)?[0-9]{3}(\s|-)?[0-9]{4}/">
				 	</div>
				 	<div class="form-group">
				    	<label for="comm">Comments or questions</label><i class="fa fa-asterisk required"></i>
				    	<textarea type="text" class="form-control" id="comm" ng-model="comm" ng-required="true" rows="7"></textarea>
				 	</div>
				 	<em>Fields marked with <i class="fa fa-asterisk required"></i> are required.</em>
				 	<button type="submit" class="btn btn-primary pull-right" ng-submit="submit()">Submit</button>
				</form>
			</div>
		</div>
		<div class="col-md-4 contactus-sidebar">
			<div class="contact-details">
				<h4>Contact Details</h4>
				<h5>Carleton University</h5>
				<p>1125 Colonel By Drive<br>
					Ottawa, Ontario<br>
					K1S 5B6 Canada <br>
					Telephone: (1) 613-520-2600<br>
					Email: support@rpsmarf.ca<br>
					Website: <a href="http://www.carleton.ca">www.carleton.ca</a>
				</p>
				<hr>
				<h5>Solana Networks Inc.</h5>
				<p>301 Moodie Drive, Suite 215<br>
					Nepean, Ontario<br>
					K2H 9C4, Canada<br>
					Telephone: (1) 613-596-2557<br>
					Email: info@solananetworks.com<br>
					Website: <a href="http://www.solananetworks.com">www.solananetworks.com</a>
				</p>
				<hr>
				<h5>CANARIE</h5>
				<p>45 O’Connor Street, Suite 500<br>
					Ottawa, ON<br>
					K1P 1A4 Canada<br>
					Telephone: (1) 613-943-5454<br>
					Email: info@canarie.ca<br>
					Website: <a href="http://www.canarie.ca">www.canarie.ca</a>
				</p>
			</div>
			<!--div class="help-links">
				<h4>Learn more</h4>
				<p>If you would like to learn more about rpsmarf click <a href="http://ugrad.bitdegree.ca/~liamdavidson/pattern/">here</a>
				</p>
				<h4>Request Access</h4>
				<p>If you would like to gain access and join one of our communities you can request access by clicking <a href="#">here</a></p>

				<h4>Getting started</h4>
				<p>If you are already a member and would like some help getting started you can watch our intro videos <a href="http://www.youtube.com">here</a>
					or read our documentation pages <a href="http://rpsmarf.atlassian.net">here</a>
				</p>			
			</div-->
		</div>
	</div>

</div>