<div class="container-fluid contactus-container">
	<div class="row">
		<div class="box-heading clearfix">
			<div class="col-md-12">
				<h3>Documents</h3>
			</div>
		</div>
	</div>
	<ul class="list-unstyled">
		<li><h4><a ng-href="{{smProperties.docUserManual.value}}"><span>Getting Started Guide (pdf)</span></a></h4></li>
		<li><h4><a ng-href="{{smProperties.docWhitePaper.value}}"><span>White Paper</span></a></h4></li>
		<li><h4><a ng-href="{{smProperties.paperOverview.value}}"><span>Overview White Paper (published in IEEE CLOUD 2015)</span></a></h4>
			<p ng-bind-html="smProperties.paperOverviewCitation.value"></p>
		</li>
	</ul>
</div>
