<div class="help-container container">
	<h2>Help Center</h2>
	<div class="row">
		<div class="col-md-4">
			<h4><strong>Getting Started</strong></h4>
			<div><a href="#">Get access to RP-SMARF</a></div>
			<div><a href="#">Reset/Forgotten password</a></div>
			<div><a href="#">Editing user preferences</a></div>
		</div>
		<div class="col-md-4">
			<h4><strong>Communities</strong></h4>
			<div><a href="#">Browsing communities</a></div>
			<div><a href="#">Requesting access to a community</a></div>
			<div><a href="#">Switching Communities</a></div>
		</div>
		<div class="col-md-4">
			<h4><strong>RP-SMARF basics</strong></h4>
			<div><a href="#">The dashboard</a></div>
			<div><a href="#">Finding resources</a></div>
			<div><a href="#">Browsing resources</a></div>
			<div><a href="#">Requesting resource Access</a></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h4><strong>Using tools basics</strong></h4>
			<div><a href="#">Browsing tools</a></div>
			<div><a href="#">Running a tool through a task</a></div>
			<div><a href="#">Standard vs Interactive tools</a></div>
			<div><a href="#">Task status, progress, and output</a></div>
		</div>
		<div class="col-md-4">
			<h4><strong>Tips and tricks</strong></h4>
			<div><a href="#">Special resource operations</a></div>
			<div><a href="#">Interacting with the system using a REST client</a></div>
			<div><a href="#">Tutorial videos</a></div>
		</div>
		<div class="col-md-4">
			<h4><strong>Privacy and Safety</strong></h4>
			<div><a href="#">Community guidelines</a></div>
			<div><a href="#">Privacy on RP-SMARF</a></div>
		</div>
	</div>
</div>