.contactus-container{

	.required{
		color: red;
	}

	.contact-details{
		hr {
			border-style: dotted;
			border-color: black;
		}
	}

	.help-links{
		border-top: solid gray 2px;

		p {
			margin-bottom: 20px;
		}
	}

	// .contactus-sidebar{
	// 	border-left: solid gray 2px;
	// }

	.form-container {
		border-right: solid gray 2px;
	}
}

.help-container{

	.col-md-4 div {
		//display: block;
		margin-bottom: 5px;
	}

	div.row {
		margin-bottom: 50px;
	}

}