<div class="container support-container">
	<h2>Support</h2>
	<div>
		<h4 class="text-uppercase">FAQ</h4>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" data-target="#coll-a" aria-expanded="true" aria-controls="coll-a">
							What is RP-SMARF?
						</a>
					</h4>
				</div>
				<div id="coll-a" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-target="#collapseOne" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							What is configuring a resource?
						</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingTwo">
					<h4 class="panel-title">
						<a class="collapsed" data-target="#collapseTwo" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							How do switch my community?
						</a>
					</h4>
				</div>
				<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="panel-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingThree">
					<h4 class="panel-title">
						<a class="collapsed" data-target="#collapseThree" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							How do I use tool X?
						</a>
					</h4>
				</div>
				<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="panel-body">
					Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</div>
				</div>
			</div>
		</div>
		<hr>
		<h4 class="text-uppercase">Getting Started</h4>
		<h5>Gaining acess to RP-SMARF</h5>
		<ul>
			<li>Access to RP-SMARF is given on a request basis. You can make a request <a href="http://ugrad.bitdegree.ca/~liamdavidson/pattern/request_form.html">here</a></li>
		</ul>
		<h5>How to use RP-SMARF</h5>
		<ul>
			<li>Introduction to RP-SMARF <a href="http://www.youtube.com">video</a> | <a href="http://www.youtube.com">documentation</a></li>
			<li>Searching for tools and data <a href="http://www.youtube.com">video</a> | <a href="http://www.youtube.com">documentation</a></li>
			<li>Using a tool <a href="http://www.youtube.com">video</a> | <a href="http://www.youtube.com">documentation</a></li>
			<li>Adding a tool <a href="http://www.youtube.com">video</a> | <a href="http://www.youtube.com">documentation</a></li>
		</ul>
		<hr>
		<h4 class="text-uppercase">Documentation</h4>
		<ul>
			<li>Using the REST API <a href="http://www.youtube.com">documentation</a></li>
			<li>You can view out object model diagram to help you understand the relationship of some of the components <a href="http://www.youtube.com">documentation</a></li>
			<li>Basic Usage on how to access the objects and perform actions through the REST API <a href="http://www.youtube.com">documentation</a></li>
			<li>How to authenticate yourself using the REST API <a href="http://www.youtube.com">documentation</a></li>
			<li>Resources have a set of special REST functions learn more here <a href="http://www.youtube.com">documentation</a></li>
			<li>Aliing and removing a tool through the REST API <a href="http://www.youtube.com">documentation</a></li>
		</ul>
		<hr>
	</div>
</div>