<div class="video-container container-fluid">
	<div class="row">
		<div class="box-heading clearfix">
			<div class="col-md-12">
				<h3>Videos</h3>
			</div>
		</div>
	</div>
	<ul class="list-unstyled">
		<li>
			<h4>Introduction to RP-SMARF</h4>
			<iframe width="50%" height="315" ng-src="{{smProperties.videoIntroduction.value}}" frameborder="0" allowfullscreen autoplay="0"></iframe>
		</li>
		<li>
			<h4>How to favorite a resource</h4>
			<iframe width="50%" height="315" ng-src="{{smProperties.videoFavoriteAResource.value}}" frameborder="0" allowfullscreen autoplay="0"></iframe>
		</li>
		<li>
			<h4>How to favorite a tool</h4>
			<iframe width="50%" height="315" ng-src="{{smProperties.videoFavoriteATool.value}}" frameborder="0" allowfullscreen autoplay="0"></iframe>
		</li>
		<li>
			<h4>How to access data</h4>
			<iframe width="50%" height="315" ng-src="{{smProperties.videoAccessData.value}}" frameborder="0" allowfullscreen autoplay="0"></iframe>
		</li>
		<li>
			<h4>How to run a batch tool</h4>
			<iframe width="50%" height="315" ng-src="{{smProperties.videoRunAToolBatch.value}}" frameborder="0" allowfullscreen autoplay="0"></iframe>
		</li>
		<li>
			<h4>How to run an interactive tool</h4>
			<iframe width="50%" height="315" ng-src="{{smProperties.videoRunAToolInteractive.value}}" frameborder="0" allowfullscreen autoplay="0"></iframe>
		</li>		
	</ul>
</div>
