<!DOCTYPE html>
<html ng-app="rpsmarf" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    
    <meta property="og:title" content="Research Platform for Smart Facilities Management" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.rpsmarf.ca" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="Collaborative research platform for smart facilities management">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <!-- font awesome from BootstrapCDN -->
    <link href="assets/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500' rel='stylesheet' type='text/css'>
    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body>
    <div class="main-wrapper">
      <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation" ng-if="showCommon">
        <div class="container-fluid">

        <div class="row">

          <div class="navbar-header col-md-2">
            <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
              ng-click="menuCollapsed = ! menuCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href ui-sref="home" class="navbar-brand">
              <img src="assets/rpsmarf-logo-1x.png" class="img-responsive">
            </a>
          </div>
          
          <div class="collapse navbar-collapse" collapse="menuCollapsed" style="height: 1px;">

            <ul class="nav navbar-nav navbar-left">
              <li ui-sref-active="active"><a href ui-sref="home">Dashboard</a></li>
              <li ui-sref-active="active"><a href ui-sref="tools">Tools</a></li>
              <li ui-sref-active="active"><a href ui-sref="resourceconfig.browse" ui-sref-opts="{reload: true}">Resources</a></li>
              <li ui-sref-active="active"><a href ui-sref="communities">Communities</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <!--<li dropdown is-open="menu.action" >
                <a href ng-click="toggleDropdown($event, 'action')">
                  Actions
                  <i class="fa" ng-class="{true: 'fa-angle-up', false:'fa-angle-down'}[menu.action]"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                   <li>
                    <a href ng-click="taskWrapperCollapsed.is = !taskWrapperCollapsed.is">{{taskWrapperCollapsed.is ? 'Open ' : 'Close '}}task status bar</a>
                  </li>

                  <li>
                    <a href ng-click="openIssueCollector()">Submit an issue</a>
                  </li>
                   <li>
                    <a href ng-click="feedback()">Submit feedback</a>
                  </li>
               
                </ul>
              </li>-->    
              <li class="community-dropdown" dropdown is-open="menu.community" >
                <a ng-if="communities.length == 1">{{user.community.name}}</a>
                <a href ng-click="toggleDropdown($event, 'community')" ng-if="communities.length > 1">
                  {{user.community.name}}
                  <i class="fa" ng-class="{true: 'fa-angle-up', false:'fa-angle-down'}[menu.community]" ></i>
                </a>
                <ul class="dropdown-menu community-dropdown-menu" role="menu" ng-if="communities.length > 1">
                  <li ng-repeat="community in communities" ng-if="user.community.id != community.id">
                    <a  href ng-click="changeCommunity(community)">{{community.name}}</a>
                    <i class="fa fa-info-circle" tooltip="{{community.description}}" tooltip-placement="bottom"></i>
                  </li>
                </ul>
              </li>
              <li dropdown is-open="menu.support" >
                <a href ng-click="toggleDropdown($event, 'support')">
                    Support
                    <i class="fa" ng-class="{true: 'fa-angle-up', false:'fa-angle-down'}[menu.support]"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                   <li>
                    <a href ui-sref="support.videos">Videos</a>
                  </li>
                   <li>
                    <a href ui-sref="support.documents">Documents</a>
                  </li>
                  <li>
                    <a ng-href="{{forumUrl.value}}">Forums</a>
                  </li>
                   <li>
                    <a href ng-click="openAskAQuestionCollector()">Ask a Question</a>
                  </li>
                  <li>
                    <a href ng-click="openIssueCollector()">Report a Problem</a>
                  </li>
                   <li>
                    <a href ui-sref="support.contactus">Contact Us</a>
                  </li>
                  <li>
                    <a href ui-sref="support.license">License</a>
                  </li>
<!--
                  <li>
                    <a href ui-sref="support.contactus">Contact Us</a>
                  </li>
                  <li>
                    <a href="http://www.gnu.org/licenses/gpl-3.0-standalone.html">License External</a>
                  </li>
                  <li>
                    <a href ui-sref="support">Support</a>
                  </li>
                  <li>
                    <a href ui-sref="support.help">Help</a>
                  </li>
-->
                </ul>
              </li>
              <li dropdown is-open="menu.user" >
                <img class="navbar-avatar" ng-src="{{user.imageUrl}}"></img>
                <a href ng-click="toggleDropdown($event, 'user')" class="navbar-user-name">
                  {{user.firstname + ' ' + user.lastname}}
                  <i class="fa" ng-class="{true: 'fa-angle-up', false:'fa-angle-down'}[menu.user]"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                   <li>
                    <a href ui-sref="user.settings.account">Preferences and Settings</a>
                  </li>
                   <li>
                    <a href ui-sref="user.resources">Resource Management</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href ui-sref="logout">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
        </div>

      </nav>

      <section class="main-body-grid">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2 sidebar" ng-if="showSideNavbar">
              <ul ng-if="!$state.is('communityinfo')" class="nav nav-sidebar">
                <li ui-sref-active="active">
                  <a href ui-sref="home"><i class="fa fa-angle-left"></i> Dashboard</a>
                </li>
                <hr>
                <li>
                  <a href ui-sref="tools" >Start Task</a>
                </li>
                <li ui-sref-active="active">
                  <a href ui-sref="tasklist">View Task Status</a>
                </li>
                <hr>
                <li>
                  <a href ui-sref="tools">Browse Tools</a>
                </li>
                <li ui-sref-active-eq="active">
                  <a href ui-sref="resourceconfig.browse" ui-sref-opts="{reload: true}">Browse Resources</a>
                </li>
                <li>
                  <a href ui-sref="communities">Browse Communities</a>
                </li>
                <hr>
                <li ui-sref-active-eq="active">
                  <a href ui-sref="resourceconfig.browse.upload" ui-sref-opts="{reload: true}">Upload Data</a>
                </li>
                <li ui-sref-active="active">
                  <a href ui-sref="taskcopydata">Copy Data</a>
                </li>
                <li ui-sref-active="active">
                  <a href ui-sref="reservationlist">Your Reservations</a>
                </li>
                <li ui-sref-active="active">
                  <div class="collapsible-menu">
                    <a href ui-sref="metadata" class="parent-menu" ng-dblclick="metadataCollapsed.value = !metadataCollapsed.value">Metadata Search</a>
                    <i class="fa fa-2x pull-right" ng-class="{'true': 'fa-angle-down', 'false': 'fa-angle-up'}[metadataCollapsed.value]" ng-click="metadataCollapsed.value = !metadataCollapsed.value"></i>
                  </div>
                  <ul collapse="metadataCollapsed.value" class="nav sub-menu">
                    <li class="sub-menu-item"><a href ui-sref="extractionlist">Extractions</a></li>
                  </ul>
                </li>
              </ul>
              <ul ng-if="$state.is('communityinfo')" class="nav nav-sidebar">

                <li><a href ui-sref="home">Dashboard</a></li>
                <li><a href ui-sref="communities"> <i class="fa fa-angle-left"></i>Back</a></li>
                <li><a href ng-click = "scrollTo('communityinfo-about')">About</a></li>
                <li><a href ng-click = "scrollTo('communityinfo-tools')">Tools</a></li>
                <li><a href ng-click = "scrollTo('communityinfo-resources')">Resources</a></li>        
                <li><a href ng-click = "scrollTo('communityinfo-news')">Community Updates</a></li>
                <li><a ng-href="{{forumUrl.value}}" >Community Forum</a></li>
                
              </ul>
              <div class="sidebar-taskprogress-container">
                <div class="task-progress-collapse col-md-2" ng-class="{'collapsed':taskWrapperCollapsed.is, 'task-ready-notification': currentTaskStatus == 'interactive-ready'}" >
                  <a href ng-click="taskWrapperCollapsed.is = !taskWrapperCollapsed.is" ng-class="{'task-ready-notification': currentTaskStatus == 'interactive-ready'}">
                    <i class="fa" ng-class="{true: 'fa-angle-up',false:'fa-angle-down'}[taskWrapperCollapsed.is]"></i> {{taskWrapperCollapsed.is ? 'Current Tasks' : 'Close'}}
                  </a>
                </div>
              </div>
            </div>
            <div ui-view="main" class="" ng-class="mainClasses"></div><!--container smcontainer -->
            <!-- <div id="disqus_thread"></div> -->
            <div style="clear: both"></div>
          </div>
        </div>
      </section>

      <footer class="footer" ng-class="{'fixed': infoPanel.collapsed || !taskWrapperCollapsed.is}">

            <div ng-if="showCommon">
              <div ng-if="showTaskbar" ng-include="'footer/infopanel/infopanel.tpl.html'"></div>
            </div>

            <!--
            <div class="footer-content">
              <div class="pull-right"> 
                <a href="http://www.carleton.ca/"><img src="assets/culogo.png"></img></a>
                <a href="http://www.solananetworks.com/"><img src="assets/logo-solana.png"></img></a>
                <a href="http://www.canarie.ca/"><img src="assets/canarie-logo.png"></img></a>
                <p>
                   (c) {{year}} Carleton University | Solana Networks | CANARIE       
                </p>
                <button ng-if="!($state.is('login') || $state.is('logout'))" class="btn btn-primary" ng-click="feedback()">Feedback</button>
              </div>
            </div>
            -->

      </footer>
    </div>
    <issuecollector ng-show="false"></issuecollector>
    
  </body>
</html>
