<div class="login-main">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-1 logo">
        <img src="assets/rp-smarf-logo-login.png" alt="RP-SMARF logo.">
      </div>
      <div class="col-md-6 col-md-offset-1">
        <h4>Login to your RP-SMARF Account</h4>
        <alert type="info" close="logout = false" ng-show="logout">
          You have been logged out.
        </alert>
        <alert type="danger" close="resetForm()" ng-show="error()">
          {{errorMessage}}
        </alert>
        <form class="form-horizontal clearfix" role="form" ng-submit="loginProcess()" ng-click="resetForm()">
          <div class="form-group col-md-12" ng-class="emailError">
            <label for="emaillogin" class="sr-only">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><span>@</span></div>
              <input type="email" class="form-control" id="emaillogin" placeholder="Email Address" ng-model="email">
            </div>
          </div>
          <div class="form-group col-md-12" ng-class="passwordError">
            <label for="passlogin" class="sr-only">Password</label>
            <div class="input-group">
              <div class="input-group-addon"><span>*</span></div>
              <input type="password" class="form-control" id="passlogin" placeholder="Password" ng-model="password">
            </div>
          </div>
          <div class="form-group col-md-12">
            <div class="">
              <button type="submit" class="btn btn-default">Login</button>
              <button class="btn btn-link">Forgot your password?</button>
            </div>
          </div>
        </form>
        <hr>
        <h4>Don't have an RP-SMARF Account?</h4>
        <p><a href="https://www.rpsmarf.ca/request_form.html">Request Access</a>, while you're at it have a look at our <a href="https://www.rpsmarf.ca/">website</a> for more information.</p>
      </div>
    </div>
  </div>
</div>

<div class="text-center login-main-footer">
  <div class="container">
    <h4>Research Platform for Smart Facilities Management provided by:</h4>
    <a href="https://carleton.ca" target="_blank"><img src="assets/culogo.png" alt="Carleton University logo."></a>
    <a href="http://www.solananetworks.com" target="_blank"><img src="assets/logo-solana.png" alt="Solana Networks logo."></a>
    <a href="http://www.canarie.ca" target="_blank"><img src="assets/canarie-logo.png" alt="Canarie logo."></a>
  </div>
</div>