<div class="modal-header">
  <h3 class="modal-title" ng-bind-html="title">Notice</h3>
</div>
<div class="modal-body alert-content" ng-bind-html="message">
  I'm afraid I can't do that.
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Ok</button>
</div>
