<div class="modal-header">
	<h3 class="modal-title">Request Access</h3>
</div>
<div class="modal-body">
	<div class="container-fluid" ng-switch="state">
		<div ng-switch-when="requesting" ng-switch="type">
			<div ng-switch-when="resource">
				<label>Type of access requesting:</label>
				<table class="table">
					<thead>
						<tr>
							<th>Read</th>
							<th>Write</th>
							<th>{{typeObject.nature == 'data' ? 'Available For Tool Input':'Execute'}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-switch="typeObject.nature">
							<td ng-switch-when="compute" ng-repeat="perm in userPerm">
								<span ng-if="perm.name == 'read' || perm.name == 'write'">N/A</span>
								<input ng-if="perm.name == 'execute'" type="checkbox" ng-model="request[perm.name]">
							</td>
							<td ng-switch-when="data" ng-repeat="perm in userPerm">
								<div ng-switch="perm.hasPerm ? 'true': 'false'">
									<i ng-switch-when="true" class="fa fa-check"></i>
									<input ng-switch-when="false" type="checkbox" ng-model="request[perm.name]">
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				<label>Reason for request:</label>
				<textarea class="form-control" ng-model="requestReason.text" rows="7"></textarea>
			</div>
		</div>
		<div ng-switch-when="complete">
			Your request has been sent.
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="request()" ng-show="state == 'requesting'">Send Request</button>
	<button class="btn btn-default" ng-click="closeMod()" ng-bind-html="state == 'requesting' ? 'Cancel' : 'Close' ">Cancel</button>
</div>
