<div class="itemlist-container">
  <div class="container-fluid" ng-switch="extractions.length > 0 ? 'true':'false'">

    <div class="row">
      <div class="box-heading clearfix">
        <div class="col-md-12">
          <h3>Extractions</h3>
        </div>
      </div>
    </div>

    <div ng-switch-when="true">
      <button class="btn btn-primary" ng-click="createExtractor()">Create an Extractor</button>
      <div class="item-control row" ng-if="false">
        <div class="item-pagination col-md-7">
          <div class="pull-right" ng-show="false">
            <pagination class="pagination-sm" total-items="totalExtractions" ng-model="currentPage" items-per-page="extractionsPerPage" ng-change="pageChanged()"></pagination>
          </div>
        </div>
      </div>

      <div class="row header">
        
        <div class="col-md-2">Repo Name</div>
        <div class="col-md-1">Status</div>
        <div class="col-md-2">Start/Duration</div>
        <div class="col-md-3">Progress/Result</div>
        <div class="col-md-2">Compute Resource</div>
        <div class="col-md-1"></div>
      </div>
    
    
      <div class="row">
        <div class="item-container">
          <div class="row item-info" ng-repeat="extraction in extractions | extractionUpdate" ng-class="{true:'active',false:''}[extraction.selected==true]">

            
            <div class="col-md-2 item-name">       
              <h4 ng-bind-html="extraction.repo.name"></h4>
            </div>
            <div class="col-md-1 item-status">
              <p ng-bind-html="extraction.state"></p>
            </div>
            <div class="col-md-2 item-timeinfo">
              <p>Started: <span ng-bind-html="extraction.startTimeNorm"></span></p>
              <p>Duration: <span ng-bind-html="extraction.duration"></span></p>
            </div>
            <div class="col-md-3 item-progress" ng-switch="extraction.state">
              <div ng-switch-when="extracting">
                <progressbar value="extraction.progressPercentage" type="info">{{extraction.progressPercentage}}%</progressbar>
              </div>
              <div ng-switch-when="done" class="item-progressinfo">
                <p>Files processed: {{extraction.progress.files_processed}}/{{extraction.progress.files_to_process}}</p>
                <p>Files with no metadata: {{extraction.progress.files_with_no_metadata_at_done}}</p>
              </div>
              <p ng-switch-default>-----</p>
            </div>
            <div class="col-md-2 item-resourceinfo">
              <p ng-bind-html="extraction.compute_resource.name"></p>
            </div>
            <div class="col-md-1 text-right">
              <div ng-switch="extraction.state">
                
                <div class="btn-group" dropdown ng-switch-when="done">
                  <button type="button" class="btn btn-default" ng-click="rebuildExtraction(extraction, $index)">Rebuild</button>
                  <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-click="$event.stopPropagation()">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href ng-click="deleteExtraction(reservation, $index)">Delete results</a></li>
                  </ul>
                </div>

                <div ng-switch-when="extracting">
                  <button type="button" class="btn btn-default" ng-click="cancelExtraction(extraction)">Cancel</button>
                </div>
                <div ng-switch-when="init">
                  <button type="button" class="btn btn-default" ng-click="rebuildExtraction(extraction)">Rebuild</button>
                </div>
                <div ng-switch-default>
                  <p>----</p>
                </div>              
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div ng-switch-when="false">
      <h4>You currently have no extractions
      </h4>
    </div>
  </div>
</div>