<div class="modal-header">
	<h3 class="modal-title">Configure Extractor</h3>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div ng-if="repos.length ==0 && !extractorExists">
			<h5>You have configured an extractor for all available repos. To create a new extractor you must delete a previous extraction. Alternatively you can rebuild
				an extraction for a particular repo.</h5>
		</div>
		<div ng-if="repos.length > 0 || extractorExists">
			<metadataextractor extractor="extractor" extractor-exists="extractorExists" extractor-api="extractorApi.value" repos="repos"></metadataextractor>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button ng-click="startExtraction()" class="btn btn-primary" ng-if="!extractorExists && repos.length > 0">Start Extraction</button>
    <button ng-click="rebuildExtraction()" class="btn btn-default" ng-if="extractorExists || extractor.state === 'init'">Rebuild Extraction</button>
	<button class="btn btn-default" ng-click="close()">Close</button>
</div>
