<div class="resourceconfig-container" ng-class="{'taskstart':userState == USER_STATE.task_start}">
  <div class="container-fluid resource-parameter-name" ng-if="userState == USER_STATE.task_start">
    <div class="row">
      <div class="col-md-12">
        <h3 ng-bind-html="resourceParameterName + ' configuration'"></h3>
      </div>
    </div>
  </div>
  <div class="container-fluid resource-selection-container">
    <div class="row">

      <div class="col-md-4 resource-selector">
        <div class="box-heading">
          <h3 class="headers">Resources</h3>
          <form class="form resource-filter">
            <i class=" pull-right fa fa-refresh" tooltip="Refresh resources list" tooltip-placement="bottom" ng-click="refreshResources()"></i>
            <input type="search" placeholder="Filter Resources..." class="form-control" ng-model="resourceSearchText" ng-change="filterResources(resourceSearchText)"/>
          </form>
        </div>
        
        <ul class="nav nav-tabs nav-justified">
          <li ng-class="{active:resourcesToShow === 'default'}">
            <a href ng-click="showDefaultResources()">Your Resources</a>
          </li>
          <li ng-class="{active:resourcesToShow === 'publicCloudFolders'}">
            <a href ng-click="showPublicCloudFolders()">Public Cloud Folders</a>
          </li>
        </ul>
        <ul class="nav nav-sidebar container-fluid" ng-class="{shrink: !infoPanel.collapsed}">
          <li class="row resource-name-container" ng-repeat="resource in resources track by resource.id" ng-class="{active: resource.selected}">
            <div class="col-md-3 icon-style">
              <img class="resource-icon" ng-src="{{resource.imageUrl}}"></img>
            </div>
            <div ng-switch="resource.status" class="col-md-9">
              <div class="row">
                <div class="col-md-1 resource-actions">
                  <a class="action" href ng-click="favouriteToggle(resource)"><i class="fa" ng-class="resource.ext_favourite ? 'fa-heart' : 'fa-heart-o'" tooltip="{{resource.ext_favourite ? 'Click to unfavourite' : 'Click to favourite'}}" tooltip-append-to-body="true"></i></a>
                  <a class="action"  href ng-click="openNotesEditor(resource)"><i class="fa fa-pencil" tooltip="View your notes about this resource" tooltip-append-to-body="true"></i></a>
                </div>
                <div class="col-md-11 resource-name">
                  <a href ng-switch-when="up" ng-click="selectResource(resource, $index)" ng-bind-html="resource.full ? resource.name  + ' (full)' : resource.name "></a>
                  <span ng-switch-when="down"><a>{{resource.name}}<i class="fa fa-exclamation-triangle" tooltip="This resource cannot be accessed. Notify system administrators if the problem persists" tooltip-append-to-body="true"></i></a></span>
                  <small ng-bind-html="resource.status == 'up' && !resource.locked ? 'Online' : 'Offline'" ng-class="{offline: resource.status == 'down' || resource.locked}"></small>
                </div>
              </div>              
            </div>
          </li>
        </ul>
          
      </div>

      <div class="col-md-8 resource-configuration">
        <div ng-show="resourceSelected == 'true' && userHasAccess(selectedResource) == 'true'" class="row resource-nav-header" ng-class="{'box-heading': resourceSelected == 'true' }">

          <div ng-show="resource_nature != 'stream'" class="root-entry-info col-md-3">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-click="allEntriesSelected = !allEntriesSelected" ng-checked="allEntriesSelected">
                <span class="root-entry-name">All</span>
              </label>
            </div>
            <div ng-if="false" class="root-selector-div">
              <div class="checkbox">
                <label>
                  <input class="root-selector-checkbox" type="checkbox" ng-click="toggleRootFolderSelected()" ng-checked="rootFolderSelected" id="root">
                  <span class="root-entry-selector" tooltip="Select the root folder of this resource" tooltip-placement="right">Root folder</span>
                </label>
              </div>
            </div>
          </div>
          <div class="col-md-9" ng-class="{'col-md-offset-2': resourceSelected !== 'true' }">
            <div class="row">
              <div class="col-md-3" ng-show="resourceSelected == 'true'">
                <div class="dropdown" dropdown is-open="menu.resourceActions">
                  <button ng-click="toggleDropdown($event, 'resourceActions')" class="dropdown-toggle btn btn-link" type="button" id="actionsMenu" data-toggle="dropdown" aria-expanded="true">
                    <span class="fa fa-gear"></span> Actions
                  </button>
                  <ul class="dropdown-menu dropdown-menu-left" role="menu">
                    <li ng-class="{disabled:!selectedResource.selectedEntry || selectedResource.selectedEntry.isDir}"><a href ng-click="editFile(selectedResource, $event)"><i class="fa fa-pencil-square-o"></i> Edit File</a></li>
                    <li ng-class="{disabled:selectedResource.selectedEntry && !selectedResource.selectedEntry.isDir}"><a href ng-click="mkdir(selectedResource, $event)"><i class="fa fa-folder-o"></i> New Folder</a></li>
                    <li ng-class="{disabled:!selectedResource.selectedEntry || selectedResource.ext_perms == 'x'}"><a href ng-click="download(selectedResource, $event)"><i class="fa fa-cloud-download"></i> Download</a></li>
                    <li ng-class="{disabled:selectedResource.selectedEntry && !selectedResource.selectedEntry.isDir}"><a href ng-click="upload(selectedResource, $event)"><i class="fa fa-cloud-upload"></i> Upload</a></li>
                    <li ng-class="{disabled:!selectedResource.selectedEntry || selectedResource.selectedEntry.isRoot}"><a href ng-click="rename(selectedResource, $event)"><i class="fa fa-pencil-square-o"></i> Rename</a></li>
                    <li ng-class="{disabled:selectedResource.selectedEntry && !selectedResource.selectedEntry.isDir}"><a href ng-click="zip(selectedResource, $event)"><i class="fa fa-compress"></i> Zip Folder</a></li>
                    <li ng-class="{disabled:!selectedResource.selectedEntry || selectedResource.selectedEntry.isDir || selectedResource.selectedEntry.basename.indexOf('.zip') < 0}"><a href ng-click="unzip(selectedResource, $event)"><i class="fa fa-expand"></i> Unzip Folder</a></li>
                    <li ng-class="{disabled:!selectedResource.selectedEntry || selectedResource.selectedEntry.isRoot}"><a href ng-click="deleteSelection(selectedResource, $event)"><i class="fa fa-trash-o"></i> Delete</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-1 refresh-entries-action" ng-show="resourceSelected == 'true' && resource_nature != 'stream'">
                <i class="fa fa-refresh" tooltip="Refresh resource files and folders" tooltip-placement="bottom" ng-click="refresh(selectedResource)"></i>
                <button ng-if="false" class="btn btn-default" ng-click="seeSelected()">see selected</button>
              </div>              
              <div class="col-md-4 resource-nav-buttons" ng-if="userState == USER_STATE.task_start">
                <button ng-show="resourceSelected == 'true' && !selectedResource.locked" class="btn btn-primary" ng-click="done()">Done</button>
                <button class="btn btn-default" ng-click="cancel()">Cancel</button>
              </div>
              <div class="col-md-4 pull-right">
                <form class="form resource-entry-filter" ng-show="resourceSelected == 'true' && resource_nature != 'stream'">
                  <input type="search" placeholder="Filter files/folders..." class="form-control" ng-model="searchText" ng-change="filterRootEntries(searchText)">
                </form>
              </div>
            </div>
          </div>

        </div>
        <div ng-switch="resourceSelected">
          <div ng-switch-when="true" ng-class="{shrink: !infoPanel.collapsed}">
            <div ng-switch="userHasAccess(selectedResource)">
              <div ng-switch-when="true">
                <div ng-switch="userState == USER_STATE.task_start ? resource_nature : selectedResource.nature">
                  <div ng-switch-when="stream" class="resource-placeholder">
                    <h3>Nothing to configure. Choosing 'Done' will select this resource.</h3>
                  </div>
                  <div ng-switch-when="compute">
                    <div ng-switch="userStateName">
                      <h3 ng-switch-when="task_start">Nothing to configure. Choosing 'Done' will select this resource.</h3>
                      <div ng-switch-when="browse">
                        <h3>This resource can be used to run the following tools: </h3>
                        <table class="table">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Description</th>
                              <th>Owner</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="tool in selectedResource.runnableTools">
                              <td ng-bind-html="tool.name"></td>
                              <td ng-bind-html="tool.description"></td>
                              <td ng-bind-html="tool.ownerName + ' ('+tool.ownerEmail+')'"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div ng-switch-default>
                    <foldernav resource="selectedResource" entries="selectedResource.entries" ls="entryLs(resource, entry)" selectentry="selectEntry(entry)" selectall="allEntriesSelected" selectedentries="selectedResource.selectedEntries" entries-search="{{entriesSearch}}" info-panel="infoPanel"></foldernav>
                  </div>
                </div>
              </div>
              <div ng-switch-when="locked" class="resource-notification">
                <div>
                  <h4><i class="fa fa-lock icon-header"></i>Resource is offline</h4>
                  <p>The resource is currently offline and cannot be accessed at this time.</p>
                </div>
              </div>
              <div ng-switch-when="false" class="resource-notification">
                <div>
                  <h4><i class="fa fa-lock icon-header"></i>Private Resource - Request Access</h4>
                  <p>If you would like to request access to this private resource please click the access button below. 
                  <span class="notice-text">Note, it may take several days for the owner to grant you permission.</span></p>
                  <button class="btn btn-default" ng-click="requestAccess(selectedResource)">Request Access</button>
                </div>
              </div>
            </div>
          </div>
          <div ng-switch-when="false" class="resource-placeholder">
            <h3><i class="fa fa-angle-left"></i> Please select a resource</h3>
          </div>
        </div>

      </div>
    </div>
  </div>
  
</div>