<div class="resource-infopanel-container infopanel-container">
  <div class="row">
    <div class="col-md-9">
      <span>Details: <strong ng-bind-html="selectedResource.name"></strong></span>
    </div>
    <div class="col-md-3 text-right">
      <a class="collapse-toggle" href ng-click="infoPanelCollapseToggle()" ng-show="selectedResource">
        <i class="fa" ng-class="{false:'fa-angle-down', true: 'fa-angle-up'}[infoPanel.collapsed]"></i> {{infoPanel.collapsed ? 'Show Details' : 'Hide Details'}}
      </a>
    </div>
  </div>
  <div collapse="infoPanel.collapsed">
    <tabset justified="false" ng-show="selectedResource">
      <tab heading="General" active="select.first">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <h5>Resource details</h5>
			  <p class="">Owner: {{selectedResource.owner_info.name}}</p>
              <p ng-if="false" class="">Location: {{selectedResource.location}}</p>
              <p class="">Description: {{selectedResource.description}}</p>
              <p>Tags: <span ng-repeat="tag in selectedResource.ext_tags" class="label label-primary"></span><span ng-if="!selectedResource.ext_tags || selectedResource.ext_tags.length < 1">no tags</span></p>
            </div>
            <div class="col-md-6" ng-show="selectedResource.nature === 'data'">
              <h5>Selected item details</h5>
              <p>Parent: {{selectedResource.selectedEntry.parent}}</p>
              <p>Name: {{selectedResource.selectedEntry.name}}</p>
              <div><p ng-if="!selectedResource.selectedEntry.isDir">Size: {{selectedResource.selectedEntry.sizeText}}</p>
                  <div ng-if="selectedResource.selectedEntry.isDir"><span>Size: {{selectedResource.selectedEntry.sizeText}}</span><a class="btn btn-link" href ng-click="calculateFolderSize(selectedResource, selectedResource.selectedEntry)">Calculate Folder Size</a></div>
              </div>
              <p>Last Modified: {{selectedResource.selectedEntry.dateModified}}</p>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Resource Usage Stats" select="getUsageInfo(selectedResource)">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-5 usage-block">
                  <h2 class="h1">{{selectedResource.usage_summary[1].w}}</h2>
                  <p>Last Week</p>
                </div>
                <div class="col-md-5 col-md-offset-1 usage-block">
                  <h2 class="h1">{{selectedResource.usage_summary[1].m}}</h2>
                  <p>Last Month</p>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <table class="table">
                <caption>Usage Summary</caption>
                <thead>
                  <tr>
                    <th></th>
                    <th>Last Week</th>
                    <th>Last Month</th>
                    <th>Last Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="usage in selectedResource.usage_summary">
                    <td ng-bind-html="usage.user_name"></td>
                    <td ng-bind-html="usage.w"></td>
                    <td ng-bind-html="usage.m"></td>
                    <td ng-bind-html="usage.y"></td>
                  </tr>
                </tbody>
              </table>
              <table class="table" ng-if="selectedResource.usage_users && selectedResource.usage_users.length > 0">
                <caption>Usage per user</caption>
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Usage</th>
                    <th>Last Used</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="usage in selectedResource.usage_users">
                    <td ng-bind-html="usage.user_name"></td>
                    <td ng-bind-html="usage.email"></td>
                    <td ng-bind-html="usage.use_count"></td>
                    <td ng-bind-html="usage.last_use"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Resource Permissions" select="getPermissions(selectedResource)">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div ng-if="!selectedResource.userIsOwner && !selectedResource.userFullPerm">
                <button class="btn btn-default" ng-click="requestAccess(selectedResource)">Request Access</button>
              </div>
              <div ng-if="selectedResource.userIsOwner && selectedResource.hasAccReq">
                <table class="table">
                  <caption>Users requesting access</caption>
                  <thead>
                    <tr>
                      <th class="col-md-3">Name</th>
                      <th class="col-md-1">Access requested</th>
                      <th class="col-md-4">Reason</th>
                      <th class="col-md-4"></th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="request in userAccessRequests">
                        <td ng-bind-html="request.requester_info.name"></td>
                        <td ng-bind-html="request.access"></td>
                        <td ng-bind-html="request.reason"></td>
                        <td><button class="btn btn-primary" ng-click="grantAccess(request,$index)">Grant</button><button class="btn btn-default" ng-click="denyAccess(request, $index)">Deny</button></td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <table class="table">
                <caption>Users with access</caption>
                <thead>
                  <tr>
                    <th class="col-md-4">Name</th>
                    <th class="col-md-2">Read</th>
                    <th class="col-md-2">Write</th>
                    <th class="col-md-2">{{selectedResource.nature == 'data' ? 'Available For Tool Input' : 'Execute'}}</th>
                    <th class="col-md-2" ng-if="selectedResource.userIsOwner"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in selectedResource.users_perm" >
                    <td ng-bind-html="user.name"></td>
                    <td ng-switch="selectedResource.nature">
                      <span ng-switch-when="compute">N/A</span>
                      <div ng-switch-when="data" ng-switch="user.editing ? 'true' : 'false'">
                        <i ng-switch-when="false" class="fa" ng-class="{true:'fa-check', false:'fa-ban'}[user.read]"></i>
                        <input ng-switch-when="true" type="checkbox" ng-model="user.read">
                      </div>
                    </td>
                    <td ng-switch="selectedResource.nature">
                      <span ng-switch-when="compute">N/A</span>
                      <div ng-switch-when="data" ng-switch="user.editing ? 'true' : 'false'">
                        <i ng-switch-when="false" class="fa" ng-class="{true:'fa-check', false:'fa-ban'}[user.write]"></i>
                        <input ng-switch-when="true" type="checkbox" ng-model="user.write">
                      </div>
                    </td>
                    <td ng-switch="user.editing ? 'true' : 'false'">
                      <i ng-switch-when="false" class="fa" ng-class="{true:'fa-check', false:'fa-ban'}[user.execute]"></i>
                      <input ng-switch-when="true" type="checkbox" ng-model="user.execute">
                    </td>
                    <td ng-if="selectedResource.userIsOwner">
                      <span class="input-group-btn" ng-if="!user.isCurrentUser">
                        <button class="btn btn-default" tooltip="{{user.editing ? 'Save permissions':'Edit permissions'}}" type="button" ng-click="toggleEditPermissions(user,selectedResource, $index)">
                          <i class="fa fa-lg" ng-class="{true:'fa-check-square-o', false:'fa-edit'}[user.editing]"></i>
                        </button>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </tab>
      <tab ng-if="disqusEnabled" heading="Discussion" select="loadComments(selectedResource)">
        <div id="disqus_thread" class="disqus-container">
        </div>
      </tab>
    </tabset>
  </div>
</div>