<div class="communities-container">

<div class="container-fluid">

  <div class="row">
    <div class="communities-header clearfix box-heading">
      <div class="col-md-4">
        <h3>Communities</h3>
      </div>
      <div class="col-md-8">
        <form class="form-inline task-list-filter">
          <input type="search" placeholder="Filter communities..." class="form-control" ng-model="searchText" ng-change="filterCommunities(searchText)"/>
        </form>
        <button class="btn btn-primary pull-right create-community" ng-click="createCommunity()">Start a Community</button>
      </div>
    </div>
  </div>

  <div class="communities-card-container row">
    <div class="card col-md-5" ng-repeat="itemcommunity in listcommunities" ng-class="{'active': itemcommunity.selected}" ng-click="clickCommunity(itemcommunity)"  ng-if="!itemcommunity.hide_community">
      <div class="image-hoder">
        <img ng-src="{{itemcommunity.imageUrl}}" class="community-avatar"></img>
      </div>

      <div class="outer-container">
        <div class="inner-container">
          <div class="element">
            <div ng-show="itemcommunity.yourcommunity" class="ng-hide your-community">
              <span>Your Community:</span>
            </div>
            <h5 ng-bind-html="itemcommunity.name"></h5>
            <span ng-bind-html="itemcommunity.fieldofinterest" class="field-of-interest"></span>
            <div>
              <span>owner:</span>
              <span ng-bind-html="itemcommunity.ownertitle"></span>
              <span ng-bind-html="itemcommunity.ownerfirstname"></span>
              <span ng-bind-html="itemcommunity.ownerlastname"></span>
            </div>

            <div class="community-statics">
              <span ng-bind-html="itemcommunity.memberscount"></span>
              <span>members, </span>
              <span ng-bind-html="itemcommunity.toolcount"></span>
              <span>tools, </span>
              <span ng-bind-html="itemcommunity.resourcecount"></span>
              <span>resources</span>
            </div>
            <div class="community-description" ng-bind-html="itemcommunity.description"></div>
            <p>news:</p>
            <div class="community-news">
              <span  ng-bind-html="itemcommunity.lastnewsitem"></span>
            </div> 
          </div>
        </div>
      </div>               
    </div>
  </div>

</div>
</div>