
.communities-container {

 
  
  .communities-header {
    
    h3, h4 {
      display: inline-block;
    }
    .task-list-filter{
      float: right;
      
      input {
       
      }

    }

    .btn.create-community {
      margin-right: 20px;
    }
  }
  .communities-card-container{
   
    > .card {
      
      height: auto;
     
      margin: 20px;
     
      border: 2px solid #699BA9;
      
            
      .image-holder {
        display: block;
        width: 100%;
        min-height:150px;
      }
      .community-avatar {
        max-height: 150px;
        max-width: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .community-summary p {
        margin-top: 10px;
        padding: 10px 0px;
      }

      h5 {
        padding: 10px 0px;
        font-size: 3em;
        color: #1055BE;
      } 
      .your-community {
        font-size: 2em;
        padding-top: 20px;
        padding-bottom: 5px;
      }
      .field-of-interest {
        font-size: 0.9em;
        font-style: italic;
        text-indent: 35px;
      }
      .community-statics {
        color: #777;
      }
      .community-description {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .community-news {
        text-indent: 15px;
        font-style: italic;
        font-size: 0.9em;
      }
      .community-actions {
        font-size: 2em;

        a {
          color: black;
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }

      button {
        margin: 10px 0px;
      }    
    }

    > .card:hover {
      background-color: #89CFF0;
      //opacity: 0.5;
      cursor: pointer;
    }

    > .card.active {
      background-color: #FFFFE0;
    }

  }

  .communities-list-container .row:first-child {

    border-top: 2px solid #ccc;
  }

  .communities-details-container {
    
    
    .tab-content {
      height: 40vh;
      overflow-y: auto;
    }

    ul.nav-tabs>li.active>a {
      cursor: default;
    }

    ul.nav.nav-tabs a {
      cursor: pointer;
    }

    pre {
      i{
        position: absolute;
        font-size: 1.5em;
      }
    }
  }
  .element, .outer-container {
  //width: 351px;
  //height: 285px;
  }

  .element {
    padding-bottom: 10px;
    overflow-x: auto;
    overflow-y: auto;
    min-height: 375px;
  }

  .outer-container {
  position: relative;
  //overflow: hidden;
  }

  .inner-container {
  //position: absolute;
    left: 0;
  //overflow-x: hidden;
  //overflow-y: scroll;
  }

  .inner-container::-webkit-scrollbar {
  display: none;
  }   
}