<div class="user-resources-container container-fluid">
	<tabset>
		<tab heading="Compute and data resources">
			<div class="row">
				<div class="resources-content">
					<div class="box-heading clearfix">
						<div class="col-md-12">
							<h4>Your contributed resources</h4>
						</div>
					</div>
					<div class="container-fluid">
						<div class="row resources-header">
							<div class="">
								<div class="col-md-3">
									<strong>Resource Name</strong>
								</div>
								<div class="col-md-1">
									<strong>Status</strong>
								</div>
								<div class="col-md-2">
									<strong>Tags</strong>
								</div>
								<div class="col-md-3">
									<strong>Description</strong>
								</div>
								<div class="col-md-1">
								</div>
								<div class="col-md-2 hcenter">
									<i class="fa fa-refresh fa-lg refresh-icon" tooltip="Refresh resources list" ng-click="refreshResources()"></i>
								</div>
							</div>
						</div>
						<div class="row resource-info" ng-repeat="resource in resources">
							<div class="">
								<div class="col-md-3">
									<h5 ng-bind-html="resource.name"></h5>
								</div>
								<div class="col-md-1">
									<h5 class="status" ng-bind-html="resource.status" ng-class="{true: 'resource-up', false: 'resource-down'}[resource.status == 'up']"></h5>
								</div>
								<div class="col-md-2">
									<span class="label label-primary" ng-repeat="tag in resource.ext_tags" ng-bind-html="tag"></span>
								</div>
								<div class="col-md-3 tool-summary">
									<p ng-bind-html="resource.description"></p>
								</div>
								<div class="col-md-1">
									<switch ng-model="resource.attached" on="Attached" off="Detached" ng-change="resourceAttachToggle(resource, 'resource')"></switch>
								</div>
								<div class="col-md-2 hcenter">
									<span class="input-group-btn" >
										<button class="btn btn-default" tooltip="Edit resource" type="button" ng-click="editResource(resource)">
											<i class="fa fa-lg fa-edit"></i>
										</button>
										<button ng-if="!resource.personalFolder" class="btn btn-default" tooltip="Delete resource" type="button" ng-click="deleteResource(resource, $index)">
											<i class="fa fa-lg fa-trash"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</tab>
		<tab heading="Tools">
			<div class="row">
				<div class="resources-content">
					<div class="box-heading clearfix">
						<div class="col-md-12">
							<h4>Your contributed tools</h4>
						</div>
					</div>
					<div class="container-fluid">
						<div class="row resources-header">
							<div class="">
								<div class="col-md-3">
									<strong>Tool Name</strong>
								</div>
								<div class="col-md-4">
									<strong>Tags</strong>
								</div>
								<div class="col-md-4">
									<strong>Description</strong>
								</div>
								<div class="col-md-1">
								</div>
							</div>
						</div>
						<div class="row resource-info" ng-repeat="tool in tools">
							<div class="">
								<div class="col-md-3">
									<h5 ng-bind-html="tool.name"></h5>
								</div>
								<div class="col-md-4">
									<span class="label label-primary" ng-repeat="tag in tool.ext_tags" ng-bind-html="tag"></span>
								</div>
								<div class="col-md-4 tool-summary">
									<p ng-bind-html="tool.description"></p>
								</div>
								<div class="col-md-1">
									<switch ng-model="tool.attached" on="Attached" off="Detached" ng-change="resourceAttachToggle(tool, 'task_type')"></switch>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</tab>
		<tab heading="Add a resource" select="getResourceRelatedTypes()">
			<div ng-include="'user.resources/user.resources.form.tpl.html'">
			</div>
		</tab>
	</tabset>
</div>