<div class="modal-header">
	<h3 class="modal-title">Edit your resource</h3>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div ng-include="'user.resources/user.resources.form.tpl.html'">
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="submitResourceForm(current.resourceForm)">Save</button>
	<button class="btn btn-default" ng-click="close()">Close</button>
</div>
