<form class="form-horizontal container-fluid" ng-submit="submitResourceForm(current.resourceForm)" name="current.resourceForm" ng-click="current.resourceForm.hasError=false">
	<div class="form-group">
		<label>Select the nature of the resource:</label>
		<div class="radio">
			<label>
				<input type="radio" name="resourceNatureType" ng-model="resource.nature" value="data" checked ng-change="setResourceNature(resource)" ng-readonly="editing">
				Data resource (typically a folder)
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="resourceNatureType" ng-model="resource.nature" value="compute" ng-readonly="editing">
				Compute resource (intended to be used for running existing tools)
			</label>
		</div>
	</div>
	<div class="form-group">
		<label for="resource-name" class="control-label">Resource Name</label>
		<input class="form-control" ng-model="resource.name" type="text" id="resource-name" name="resourceName" required="true" ng-readonly="editing">
	</div>
	<div class="form-group" ng-class="{'has-error':current.resourceForm.description.$error.minlength || current.resourceForm.description.$error.required}">
		<label for="resource-desc" class="control-label">Description</label>
		<textarea class="form-control" ng-model="resource.description" type="text" id="resource-desc" rows="4" ng-minlength="20" name="description" required="true"></textarea>
		<span ng-show="current.resourceForm.description.$error.minlength">Description must be at least 20 characters long.</span>
	</div>
	<div class="form-group">
		<label for="resource-restype" class="control-label">Resource Type<i class="fa fa-info-circle fa-lg" tooltip="This is used to organize resources into groups (types) and dictates how it can be used within the system"></i></label>
		<select required="true" ng-options="resource_type.name for resource_type in resource_types track by resource_type.id" class="form-control" ng-model="resource.resource_type"  id="resource-restype" name="resourceType" ng-disabled="editing"></select>
		<span ng-bind="resource.resource_type.description"></span>
	</div>
	<div class="form-group">
		<label for="resource-container" class="control-label">Container<i class="fa fa-info-circle fa-lg" tooltip="The location of the resource"></i></label>
		<select required="true" ng-options="container.name for container in containers track by container.id" class="form-control" ng-model="resource.container"  id="resource-container" name="container" ng-disabled="editing"></select>
		<span ng-bind="resource.container.description"></span>
	</div>
	<div class="form-group">
		<label for="resource-community" class="control-label">Community<i class="fa fa-info-circle fa-lg" tooltip="The community to associate this resource with"></i></label>
		<select required="true" ng-options="community.name for community in communities track by community.id" class="form-control" ng-model="selectedCommunity.obj"  id="resource-community" name="community"></select>
		<span ng-bind="selectedCommunity.obj.description"></span>
	</div>
	<div class="form-group" ng-if="resource.nature == 'data'">
		<label for="resource-path" class="control-label">Folder Path</label>
		<input class="form-control" ng-model="resource.parametersJson" type="text" id="resource-path" name="path">
	</div>
	<button type="submit" class="btn btn-primary" ng-show="!editing">Add</button>
</form>