@import (inline) "../../../vendor/angular-ui-switch/angular-ui-switch.css";

.user-resources-container {

	.resource-info {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 2px solid #ccc;
	}

	.switch {
		width: 100px;
	}

	.switch.checked small {
		right: 0px !important;
		left: auto !important;
	}

	.switch.checked {
		background-color: @brand-primary !important;
	}

	.switch {
		background-color: @brand-danger !important;
	}

	.switch .off {
		color: #fff !important;
	}

	.resource-up {
		color: @brand-primary;
	}

	.resource-down {
		color: @brand-danger;
	}

	.resources-header {
		border-bottom: 2px solid #000;
		padding: 15px 0;
	}
	
	.status {
		font-weight: 600;
	}

	label {
		i {
			margin-left: 10px;
		}
	}

	.refresh-icon {
		cursor: pointer;
		display: inline-block;
	}

	.edit-resource{
		display: inline-block;	
	}
	.hcenter {
		text-align: center;
	}
}