<div class="reservationlist-container">
  <div class="container-fluid" ng-switch="reservations.length > 0 ? 'true':'false'">

    <div class="row">
      <div class="box-heading clearfix">
        <div class="col-md-12">
          <h3>Reservations</h3>
        </div>
      </div>
    </div>

    <div ng-switch-when="true">

      <div class="reservation-control row">
        <div class="reservation-pagination col-md-7">
          <div class="pull-right" ng-show="false">
            <pagination class="pagination-sm" total-items="totalReservations" ng-model="currentPage" items-per-page="reservationsPerPage" ng-change="pageChanged()"></pagination>
          </div>
        </div>
      </div>

      <div class="row header">
        <div class="col-md-1"></div>
        <div class="col-md-3">Name / Compute Resource</div>
        <div class="col-md-1">Type</div>
        <div class="col-md-2">Status</div>
        <div class="col-md-1">Start</div>
        <div class="col-md-1">End</div>
        <div class="col-md-3"></div>
      </div>
    
    

      <div class="reservations-list-container">
        <div class="row reservation-info" ng-repeat="reservation in reservations | reservationUpdate track by reservation.id" ng-class="{true:'active',false:''}[reservation.selected==true]" ng-class-odd="row-odd">
          
          <div class="col-md-1 icon-style">
            <img ng-src="{{reservation.resource.imageUrl}}" class="img-responsive"></img>      
          </div>
          <div class="col-md-3 reservation-name">       
            <h4 ng-bind-html="reservation.task_name"></h4>
            <p ng-bind-html="reservation.resource_name"></p>
          </div>
          <div class="col-md-1 reservation-type">
            <p ng-bind-html="reservation.type"></p>
          </div>
          <div class="col-md-2 reservation-status">
            <p ng-bind-html="reservation.status"></p>
          </div>
          <div class="col-md-1 reservation-time">
            <p ng-bind-html="reservation.startTimeNorm"></p>
          </div>
          <div class="col-md-1 reservation-time">
            <p ng-bind-html="reservation.endTimeNorm"></p>
          </div>
          <div class="col-md-3 text-right">
            <div ng-switch="reservation.status">
              <button  ng-switch-when="waiting" type="button" class="btn btn-default" ng-disabled="reservation.completed" ng-click="cancelReservation(reservation, $index)">Cancel</button>
              <div ng-if="false" class="btn-group" dropdown >
                
                <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle >
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li ng-if="false" ng-class="{'disabled': reservation.completed}"><a href ng-click="rescheduleReservation(reservation)">Reschedule</a></li>
                  <li ng-if="false" ng-class="{'disabled': reservation.completed}"><a href ng-click="reconfigureReservationTask(reservation)">Reconfigure Task</a></li>
                  <li><a href ng-click="deleteReservation(reservation, $index)">Delete</a></li>
                </ul>
              </div>
              <div ng-switch-when="ready">
                <button type="button" class="btn btn-default" ng-click="selectTaskForReservation(reservation)">Select Task</button>
              </div>
              <div ng-switch-default>
                <button type="button" class="btn btn-default" ng-click="deleteReservation(reservation, $index)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div ng-switch-when="false">
      <h4>You currently have no reservations. You can reserve a resource to run a tool by going to the <a href ui-sref="tools">Tools</a> page and selecting
          'Set Reservation'.
      </h4>
    </div>
  </div>
</div>