.reservationlist-container{

  > h1 {
    // text-align: center;
    // margin-bottom: 30px;
  }

  .reservations-list-container {
    //height: 50vh;
    overflow-y:auto;

    .row.active {
      background-color: #FFFFE0;
    }

    .row:hover {
      background-color: @color-hover;
      cursor: pointer;
    }

    .row.reservation-info {
      padding: 15px 0px;
      border-bottom: 1px solid @color-border-light;

      p.status-running {
        color: @brand-primary;
      }

      p.status-success {
        color: @color-success;
      }

      p.status-fail {
        color: @red; 
      }

      p {
        display: inline;
      }

      div.progress {
        margin-bottom: 0px;
      }

      > div:nth-child(1){
       p {
          padding-left: 10px;
        }
      }

      span:not(.caret) {
        margin-right: 5px;
        width: 24px;
      }

      .reservation-name {
        
        h4 {
          color: @blue;
          margin: 0 0 10px 0;
        }

        p {
          font-size: 12px;
        }
      }

      .reservation-type,
      .reservation-status {
        font-size: 12px;
        text-transform: capitalize;
      }

      .reservation-time {
        font-size: 12px;
      }

      .dropdown-menu {
        left: auto;
        right: 0px;
      }
    }

    .row-odd {
    }   
  }

  .row.header {
    padding: 5px 0;
    border-bottom: 1px solid @color-border-light;
    font-weight: @weight-light;
    font-size: 12px;
  }

  .row {

    input[type="checkbox"] {
      margin-right: 5px;
    }
  }

  .reservations-control {
    padding-top: 10px;
    padding-bottom: 10px;
    
    button {
      margin-left: 5px;
      margin-right: 5px;
    }

    ul.pagination {
      margin-bottom: 0px !important;
      margin-top: 0px !important;
    }
  }

}