{% extends "cloud_rpi/page_template.html" %}

{% block title %}RP-SMARF Cloud Storage Service Documentation{% endblock %}
{% block header %}RP-SMARF Cloud Storage Service Documentation{% endblock %}
{% block body %}
<p>The RP-SMARF Cloud Storage Service (RCSS) allows developers to integrate research-oriented cloud storage into their applications.  

<p>Advantages over other commercial offerings (e.g. Dropbox, Box, etc...) include:
<ul>
<li>Unlimited file sizes</li>
<li>Can integrate with other authentication (e.g. user management) schemes</li>
<li>Low-cost/no-cost storage may be available for research applications via the CANARIE cloud services</li>
<li>Can be trialled immediately using an existing deployment</li>
<li>Is available for on-site deployment for high-performance applications</li>
<li>Is available for cloud deployment for moderate performance applications</li>
</ul>  
<p>The primary documentation for the RCSS is <a href="http://rpsmarf.readthedocs.org/en/master/Cloud%20Storage%20Service.html">here</a>.
<p>This documentation describes how to access the cloud storage from machine-based interfaces.  
There is also a human-oriented interface to allow end-users to interact with the items stored in the RCSS
using a web-page. Contact <a href="mailto:support@rpsmarf.ca">support@rpsmarf.ca</a> for more information on making this user interface available.
{% endblock %}
