{% extends "cloud_rpi/page_template.html" %}

{% block title %}RP-SMARF Cloud Storage Service Release Procedure{% endblock %}
{% block header %}RP-SMARF Cloud Storage Service Release Procedure{% endblock %}
{% block body %}
The testing includes the following steps:
<ol>
<li>
Run the unit tests for smarfcommon
</li>
<li>
Run the unit tests for smarfremoteagent
</li>
<li>
Run the unit tests for smarfcontrolserver
</li>
<li>
Run the automated REST API tests
</li>
</ol>
{% endblock %}
