{% extends "cloud_rpi/page_template.html" %}

{% block title %}RP-SMARF Cloud Storage Service Support{% endblock %}
{% block header %}RP-SMARF Cloud Storage Service Support{% endblock %}
{% block body %}
<p>The primary documentation for the RCSS is <a href="http://rpsmarf.readthedocs.org/en/master/Cloud%20Storage%20Service.html">here</a>.

<p>Support is available from the the RP-SMARF team at <a href="mailto:support@rpsmarf.ca">suppport@rpsmarf.ca</a>
{% endblock %}
