{% extends "cloud_rpi/page_template.html" %}

{% block title %}RP-SMARF Cloud Storage Service: Try Me{% endblock %}
{% block header %}RP-SMARF Cloud Storage Service: Try Me{% endblock %}
{% block body %}
<p>Get a trial account by following the instruction <a href="http://rpsmarf.readthedocs.org/en/master/Cloud%20Storage%20Service.html#get-a-trial-account">here</a>.

<p>The instructions to try the RCSS are shown <a href="http://rpsmarf.readthedocs.org/en/master/Cloud%20Storage%20Service.html#sample-sequences">here</a>.
{% endblock %}
