<div class="modal-header">
  <h3 class="modal-title">Give us your feedback</h3>
</div>
<div class="modal-body">
  <iframe src="https://docs.google.com/forms/d/1YSTRFt2QtordTY1b07BHWUvYvg5yBQNWMDwU6AYZlTQ/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">Close</button>
</div>
