<div class="task-progress">
	<div class="modal-header">
		<h3 class="modal-title" ng-bind-html="title">Task</h3>
	</div>
	<div class="modal-body">
		<progressbar ng-class="status" value="percentComplete" type="success"><strong>{{percentComplete}}%</strong></progressbar>
		<span><p ng-bind-html="taskState">init</p></span>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-disabled="disabled" ng-click="ok()">OK</button>
		<button ng-show="!interactive" class="btn btn-default" ng-click="cancel()">Cancel</button>
	</div>
</div>