.sm-drop-over {
	/* applied to a drop target when a draggable object is over it */
	border: 2px dashed black !important;
}

.sm-drop-area {
	/* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
	background-color: #d9edf7;
	//opacity: .5;
	border: 3px dashed #31708f !important;
}

.sm-drop-allow {

	background-color: #DCFCD9;
	//opacity: .5;
	border: 3px dashed #3c763d !important;
}

.sm-drop-forbid {

	background-color: #F75D59;
	//opacity: .5;
	border: 3px dashed red !important;
}