{% extends "metadata_rpi/page_template.html" %}

{% block title %}RP-SMARF Metadata Management Service Documentation{% endblock %}
{% block header %}RP-SMARF Metadata Management Service Documentation{% endblock %}
{% block body %}
<p>The RP-SMARF Metadata Management Service (RMMS) allows developers to integrate research-oriented metadata searching into their applications.  

<p>The primary documentation for the RMMS is <a href="http://rpsmarf.readthedocs.org/en/master/Metadata%20Search%20Service.html">here</a>.
<p>This documentation describes how to access the metadata uploading and searching from machine-based interfaces.  
There is also a human-oriented interface to allow end-users to interact with the items stored in the RMMS
using a web-page. Contact <a href="mailto:support@rpsmarf.ca">support@rpsmarf.ca</a> for more information on making this user interface available.
{% endblock %}
