{% extends "metadata_rpi/page_template.html" %}

{% block title %}RP-SMARF Metadata Management Service Source{% endblock %}
{% block header %}RP-SMARF Metadata Management Service Source{% endblock %}
{% block body %}
The source code for the RP-SMARF Metadata Management Service (RMMS) is available at <a href="https://bitbucket.org/rpsmarf/python_repo">https://bitbucket.org/rpsmarf/python_repo</a>.
<p>
Deployment instructions are available at <a href="http://rpsmarf.readthedocs.org/en/master/Metadata%20Search%20Service.html#deploying-services"> http://rpsmarf.readthedocs.org/en/master/Metadata%20Search%20Service.html</a>.

{% endblock %}
