{% extends "metadata_rpi/page_template.html" %}

{% block title %}RP-SMARF Metadata Management Service Support{% endblock %}
{% block header %}RP-SMARF Metadata Management Service Support{% endblock %}
{% block body %}
<p>The primary documentation for the service is <a href="http://rpsmarf.readthedocs.org/en/master/Metadata%20Search%20Service.html">here</a>.

<p>Support is available from the the RP-SMARF team at <a href="mailto:support@rpsmarf.ca">suppport@rpsmarf.ca</a>
{% endblock %}
