{% extends "metadata_rpi/page_template.html" %}

{% block title %}RP-SMARF Metadata Management Service: Try Me{% endblock %}
{% block header %}RP-SMARF Metadata Management Service: Try Me{% endblock %}
{% block body %}
<p>Get a trial account by following the instruction <a href="http://rpsmarf.readthedocs.org/en/master/Metadata%20Search%20Service.html#get-a-trial-account">here</a>.

<p>The instructions to try the service are shown <a href="http://rpsmarf.readthedocs.org/en/master/Metadata%20Search%20Service.html#reference-guide-sample-sequences">here</a>.
{% endblock %}
