<div class="modal-header">
	<h3 class="modal-title" ng-bind-html="fileName">File</h3>
</div>
<div class="modal-body">
	<div class="clearfix">
		<textarea class="form-control" rows="7" ng-model="fileContent" ng-readonly="!editingFile"></textarea>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="editFile()" ng-bind-html="buttonText">Edit</button>
 	<button class="btn btn-default" ng-click="close()">Close</button>
</div>
