<div class="modal-header">
	<h3 class="modal-title" ng-bind-html="title">Assign</h3>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<alert ng-show="showErrorMessage" type="warning">{{type == 'resource' ?  'Resource is already assigned to this community' : 'Tool is already assigned to this community'}}</alert>
		<alert ng-show="showMessage" type="success">{{type == 'resource' ?  'Resource successfully assigned to community' : 'Tool successfully assigned to community'}}</alert>
		<div class="form-group">
			<label for="objects-list" class="control-label text-capitalize" ng-bind-html="type=='task_type' ? 'Tools' : 'Resources'"></label>
			<select class="form-control" ng-options="object as object.name for object in objects track by object.id" id="objects-list" ng-model="selected"></select>
		</div>
		<div class="form-group">
			<label for="objects-description" class="control-label">Description</label>
			<p ng-bind-html="selected.description" id="objects-description"></p>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="assign()">Assign</button>
	<button class="btn btn-default" ng-click="close()">Close</button>
</div>
