<form name="current.form">
	<div class="form-group" ng-class="{'has-error':current.form.communityName.$error.required && current.form.$submitted}">
		<label for="community-name" class="control-label">Community Name</label>
		<input class="form-control" ng-model="community.name" type="text" id="community-name" name="communityName" required="true">
		<span ng-show="current.form.communityName.$error.required && current.form.$submitted">This is a required field.</span>
	</div>
	<div class="form-group">
		<label for="community-image" class="control-label">Banner Image URL<i class="fa fa-info-circle fa-lg" tooltip="A banner image for the community. Specify the url of the image."></i></label>
		<input class="form-control" ng-model="community.imageUrl" type="text" id="community-description" name="communityImageUrl">
	</div>
	<div class="form-group" ng-class="{'has-error':current.form.communityShortDesc.$error.required && current.form.$submitted}">
		<label for="community-short-description" class="control-label">Short Description <i class="fa fa-info-circle fa-lg" tooltip="A short description of the community used for previews and summaries."></i></label>
		<input class="form-control" ng-model="community.shortDescription" type="text" id="community-short-description" name="communityShortDesc" required="true">
		<span ng-show="current.form.communityShortDesc.$error.required && current.form.$submitted">This is a required field.</span>
	</div>
	<div class="form-group" ng-class="{'has-error':(current.form.communityDesc.$error.minlength || current.form.communityDesc.$error.required) && current.form.$submitted}">
		<label for="community-description" class="control-label">Description <i class="fa fa-info-circle fa-lg" tooltip="The full description of the community. Must be at least 15 characters long"></i></label>
		<textarea class="form-control" rows="7" ng-model="community.description" type="text" id="community-description" name="communityDesc" required="true"></textarea>
		<span ng-show="(current.form.communityDesc.$error.minlength || current.form.communityDesc.$error.required) && current.form.$submitted">Description must be at least 20 characters long.</span>
	</div>
</form>