<div class="modal-header">
	<h3 class="modal-title">Community Details</h3>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div>
			<alert type="success" ng-show="showMessage">Community Successfully saved</alert>
		</div>
		<div ng-include="'communityinfo/communityinfo.form.tpl.html'"></div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="save(current.form)">Save</button>
	<button class="btn btn-default" ng-click="close()">Close</button>
</div>
