


.community-info-container {

  width:100%;

  .community-info-header {
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;


    .task-list-filter{
      float: right;
      padding-left: 0px;
      padding-right: 15px;
      margin-left: 15px;
      width: 22%;

      input {
        margin-top: 20px;
        margin-bottom: 10px;
        width: 100%;
      }
    }
  }
  .image-holder{
   display:block
  }
  .circular {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    }

  h3, h4 {
    display: inline-block;
  }
  .title{
    width:100%;
    text-align: left;
  }

  .image-holder {
    display: block;
    width: 100%;
    min-height:150px;
  }
  .avatar-hoder{
    display: block;
    width: 100%;
    min-height:50px;  
  }
  .community-avatar {
    max-height: 350px;
    max-width: 97%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .member-avatar{
    display: inline-block;
    width: 45px;
  }
  .member-contact{
    display: inline-block;
    vertical-align: top;
    font-size: 1.1em;
    line-height: 0.7;
  }
  .email-holder{
  color:@blue;
  }
  .stat-number{
  font-size:1.8em;
  color:@blue;
  }
  .community-info-main-container{
    float: left;
    width: 100%;
    background-color: #e8ebf1;
  }
  .community-info-main-inner-container{
    border-left: 0.01em solid #ccc;
    //margin: 0 10px 0 180px; 
    background-color: @white;
    padding:5px;
  }
  .community-info-main-inner-container-section{
    border-left: 0.01em solid #ccc;
    margin:15px 0px; padding:5px;
  }  
  .section-marker{
    display: block;
    //font-size: 2.3em;
    width: 100%;
  }
  .community-info-main-inner-container-section-community-container{
    border-bottom: 0.01em solid #ccc;
    background-color: #fff; 
    margin:15px 0px;
    padding:7px;
    width:100%;
  }
  .community-info-main-inner-container-section-community{
    display: block;
    background-color: #FFF;
    margin: 5px; 
    padding: 15px;
    width: 100%;
  }
  .community-info-main-inner-container-section-community-description{
    display: inline-block;
    vertical-align: top;
  }
  .community-info-main-inner-container-section-community-left{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    padding:5px;
  }

  .community-info-main-inner-container-section-community-statistics{
    display: block;
    vertical-align: top;
    width: 400px;
    padding:5px;
    border-bottom: 0.01em solid #ccc;
    border-left: 0.01em solid #ccc;
  }
  .community-info-main-inner-container-section-community-owner{
    display: block;
    vertical-align: top;
    width: 400px;
    padding:5px;
    border-bottom: 0.01em solid #ccc;
    border-left: 0.01em solid #ccc;
  }
  .community-info-main-inner-container-section-members-container{
    border-bottom: 0.01em solid #ccc;
    background-color: #fff; 
    margin:15px 0px;
    padding:7px;
    width:100%;
  }
  .community-info-main-inner-container-section-member-item{
     display: inline-block;
  }
  .community-info-main-inner-container-section-member{
    margin: 10px;
  }
  .stat-cell{
    display: inline-block;
    width: 32%;
    text-align:center;
  }
  .community-info-main-inner-container-hover-section-member {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    border-bottom: 0.01em solid #ccc;
    border-left: 0.01em solid #ccc;
    display: none;
    float: left;
    margin: 0 0 0 -250px;
    padding: 5px;
    width: 250px;
  }  
  .community-info-main-inner-container-section-tool {
    border-bottom: 0.01em solid rgb(204, 204, 204);
    border-left: 0.01em solid rgb(204, 204, 204);
    display: inline-block;
    height: 150px;
    margin: 5px;
    overflow: hidden;
    padding: 5px;
  }
  .community-info-main-inner-container-section-tools-container {
    border-bottom: 0.01em solid #ccc;
    background-color: #fff; 
    margin:15px 0px;
    padding:7px;
    width:100%;
  }
  .community-info-main-inner-container-section-resource{
    border-bottom: 0.01em solid rgb(204, 204, 204);
    border-left: 0.01em solid rgb(204, 204, 204);
    display: inline-block;
    height: 150px;
    margin: 5px;
    overflow: hidden;
    padding: 5px;    
  }
  .community-info-main-inner-container-section-resources-container {
    border-bottom: 0.01em solid #ccc;
    background-color: #fff; 
    margin:15px 0px;
    padding:7px;
    width:100%;
  }
  .community-info-main-inner-container-section-news-items-container{
    background-color: #fff;
    border-bottom: 0.01em solid #ccc;
    margin:15px 0px;
    padding:7px;
    padding-bottom: 25px;
    width:100%;
  }
  .updates-actions{
    border-bottom: 0.01em solid #ccc;
    border-left: 0.01em solid #ccc;
    display: inline-block;
    width:325px;
    padding:5px;
    margin:5px;

    .fa{
      font-size: 1.5em;
      width: 25px;
    }
  }
  .updates-list{
    display: inline-block;
    padding:5px;
    margin:5px;
  }
  .community-info-main-inner-container-section-news-item{
    border-bottom: 0.01em solid #ccc;  
    margin: 5px; 
    padding: 5px;
    width:100%;
  }
  .edit-mode{
   display:none;
  }
  .news-item-actions-hover {
    padding:5px;
    display:none;
    float: left;
    background: white;
    margin: -10px 0px -10px -70px; 
    width:40px; 
    border:none;

    ul{
      margin-left: -35px;
      list-style-type: none;
      font-size: 20px;
    }
  }
  
  .news-item-release-by{
    display:inline-block;
    float:left;
  }
  .news-item-release-date{
    display:inline-block;
    float:right;
  }
  .community-info-main-inner-container-section-faq-container{
    background-color: #fff;
    border-bottom: 0.01em solid #ccc;
    margin:15px 0px;
    padding:7px;
    padding-bottom: 25px;
    width:100%;
  }
  .community-info-main-inner-container-section-faq{
    display: inline-block;
    background-color: rgb(228, 243, 225);
    margin: 5px; 
    padding: 5px;
  }
  .faq-answer{
    text-align: left;
    background-color: white;
    margin-left: 200px;
    margin-right: 25px;
    padding: 10px;    
  }
  .faq-question{
    text-align: left;
    background-color: white;
    margin-left: 15px;
    margin-right: 25px;
    padding: 10px;
  }
  .community-info-left-container{
    float: left;
    width: 180px; 
    margin-left: -100%;
    background-color: #eee;
  }
  .community-info-right-container{
    float: left;
    width: 200px; /*Width of right column*/
    margin-left: -200px;
    margin-top: 10px;
  } 
  .community-info-footer-container{
    clear: left;
    width: 100%;
    text-align: center;
    padding: 4px 0;
  }

  .hexagon::before {
      border-bottom: 17.3px solid lightblue;
      bottom: 100%;
  }
  .hexagon::before, .hexagon::after {
      border-left: 30.2px solid transparent;
      border-right: 30.2px solid transparent;
      content: "";
      position: absolute;
      width: 0;
  }
  .hexagon::after {
      border-top: 17.3px solid lightblue;
      top: 100%;
      width: 0;
  }
  .hexagon::before, .hexagon::after {
      border-left: 30.2px solid transparent;
      border-right: 30.2px solid transparent;
      content: "";
      position: absolute;
      width: 0;
  }
  .hexagon {
      background-color: lightblue;
      height: 35.2px;
      margin: 30.2px 0;
      position: relative;
      width: 60.4px;
  }


  .hexagon-intern::before, .hexagon-intern::after {
      border-left: 28.5px solid transparent;
      border-right: 28.5px solid transparent;
      content: "";
      position: absolute;
      width: 0;
  }
  .hexagon-intern::before {
      border-bottom: 15.6px solid white;
      bottom: 100%;
  }
  .hexagon-intern::before, .hexagon-intern::after {
      border-left: 28.5px solid transparent;
      border-right: 28.5px solid transparent;
      content: "";
      position: absolute;
      width: 0;
  }
  .hexagon-intern::after {
      border-top: 15.6px solid white;
      top: 100%;
      width: 0;
  }
  .hexagon-intern::before, .hexagon-intern::after {
      border-left: 28.5px solid transparent;
      border-right: 28.5px solid transparent;
      content: "";
      position: absolute;
      width: 0;
  }
  .hexagon-intern {
      background-color: white;
      height: 33px;
      margin-left: 1px;
      margin-top: -64.5px;
      position: relative;
      width: 57px;
  }
  .hexagon-text {
      color: lightblue;
      font-family: arial;
      font-weight: bold;
      position: relative;
      z-index: 1;
      font-size: 3.5em;
      text-align: center;
      width: 57px;
      margin-top: -53px;
  }
  .s-hexagon-text {
      color: #7B5E5E;
      font-family: arial;
      font-weight: bold;
      position: relative;
      z-index: 1;
      font-size: 3.5em;
      text-align: center;
      width: 57px;
      margin-top: -53px;
  }

  .s-hexagon::before {
      border-bottom: 17.3px solid #7B5E5E;
      bottom: 100%;
  }
  .s-hexagon::before, .s-hexagon::after {
      border-left: 30.2px solid transparent;
      border-right: 30.2px solid transparent;
      content: "";
      position: absolute;
      width: 0;
  }
  .s-hexagon::after {
      border-top: 17.3px solid #7B5E5E;
      top: 100%;
      width: 0;
  }
  .s-hexagon::before, .s-hexagon::after {
      border-left: 30.2px solid transparent;
      border-right: 30.2px solid transparent;
      content: "";
      position: absolute;
      width: 0;
  }
  .s-hexagon {
      background-color: #7B5E5E;
      height: 35.2px;
      margin: 30.2px 0;
      position: relative;
      width: 60.4px;
  }



  .item-content {
      float: right;
      vertical-align: top;
      height: 100px;
      margin-top: -95px;
  }

  .list-wrap{
    height: 330px;
    overflow: hidden;  
  }
  .see-more{
    width: 180px !important;
    margin-left:45%;
    border-radius: 25px;
    height: 40px;
  }

  .join-community {
      width: 180px !important;
      margin-top: -100px;
      float: right;
      height: 40px;
      background-color: #0581FB;
      color: white;
      border: none;
      border-radius: 3px;
  }
  .item-title{
  color:#0581FB;
  }
  .community-title{
    font-size: 2.3em;
  }
  .element, .outer-container {
  width: 330px;
  height: 150px;
  }

  .outer-container {
  position: relative;
  overflow: hidden;
  }

  .inner-container {
  position: absolute;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  }

  .inner-container::-webkit-scrollbar {
  display: none;
  } 

  img.icon {
    height: 45px;
    margin: 30.2px 0;
    position: relative;
  }

  .community-actions-container {
    margin-top: -100px;
  }

  .item-action {
    cursor: pointer;
    display: inline-block;
  }

  .fa {
    color: @color-icon;
  }
}