<div class="modal-header">
	<h3 class="modal-title">Community Details</h3>
</div>
<div class="modal-body">
	<div class="container-fluid">
		<div ng-switch="complete ? 'true' : 'false'">
			<div ng-switch-when="false">
				<div ng-include="'communityinfo/communityinfo.form.tpl.html'"></div>
			</div>		
			<div ng-switch-when="true">
				Your community has been created. You can begin adding tools and resources by navigating to the community's <a href ng-click="goToCommunity()">information page</a>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="submitForm(current.form)" ng-show="!complete">Create</button>
	<button class="btn btn-default" ng-click="close()" ng-bind-html="complete ? 'Close' : 'Cancel'">Cancel</button>
</div>
