  <div class="community-info-container">
    <div ng-if="false" class="community-info-header clearfix">
      <form class="form-inline task-list-filter">
        <input type="search" placeholder="Search..." class="form-control" ng-model="searchText" ng-change="filterToolTasks(searchText)"/>
      </form>
    </div>
    <div class="community-info-main-container">
      <div class="community-info-main-inner-container">
        <div class="community-info-main-inner-container-section-community-container">
          <div class="image-holder">
            <img ng-src="{{community.imageUrl}}" class="community-avatar"></img>
          </div>
          <div class="community-info-main-inner-container-section-community" id="communityinfo-about-anchor" >
            <div class="community-info-main-inner-container-section-community-description" style="width: calc( 100% - 450px );">
              <p class="community-title"><span ng-bind-html="community.name"></span></p>
              <span ng-bind-html="community.description" ></span>
            </div> 
            <div  class="community-info-main-inner-container-section-community-left">
              <div class="community-info-main-inner-container-section-community-statistics">

                <div class="clearfix pull-right community-actions-container">
                  <button class="btn btn-primary" ng-if="show_join_community" ng-click="joinCommunity(community)">Join this community</button>
                  <div class="btn-group" dropdown is-open="management.isopen" ng-if="userIsOwner">
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                      Community Management <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href ng-click="editCommunity()">Edit Community</a></li>
                      <li><a href ng-click="deleteCommunity()">Delete Community</a></li>
                    </ul>
                  </div>
                </div>
               
               <div class="stat-cell">
                 <p class="stat-number"><span ng-bind-html="community.memberscount" ></span></p>
                 <p>Members</p>
               </div>
               <div class="stat-cell">
                 <p class="stat-number"><span ng-bind-html="community.toolcount" ></span></p>
                 <p>Tools</p>
               </div>
               <div class="stat-cell">
                 <p class="stat-number"><span ng-bind-html="community.resourcecount" ></span></p>
                 <p>Resources</p>
               </div>
              </div>

              <div class="community-info-main-inner-container-section-community-owner" data-owner-id="{{community.ownerid}}">
                <h3>Community owner:</h3>
                <br>
                <div class="member-avatar">
                  <div class="circular" style="background: url({{community.owneravatar}}) no-repeat;background-size: 40px 40px;"></div>
                </div>
                <div class="member-contact">
                  <p>
                    <span ng-bind-html="community.ownertitle" ></span>
                    <span ng-bind-html="community.ownerfirstname" ></span>
                    <span ng-bind-html="community.ownerlastname" ></span>
                  </p>
                  <p ng-if="community.emailvisible" class="email-holder"><span ng-bind-html="community.owneremail"></span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
        <div  class="community-info-main-inner-container-section-members-container" id="communityinfo-members-anchor">
 
            <div ng-repeat="member in members" ng-if="member.visible" data-member-id="{{member-id}}"  class="community-info-main-inner-container-section-member-item"  style="width: calc( 25% - 5px );"  ng-mouseenter="onMemberMouseover($event)"  ng-mouseleave="onMemberMouseout($event)">
              <div class="community-info-main-inner-container-hover-section-member"  >
                <div class="avatar-hoder">
                  <img ng-src="{{member.owneravatar}}" class="member-avatar"></img>
                </div>
                <p>
                  <span ng-bind-html="member.ownertitle" ></span>
                  <span ng-bind-html="member.ownerfirstname" ></span>
                  <span ng-bind-html="member.ownerlastname" ></span>
                </p>
                <p  ng-if="member.emailvisible"><span ng-bind-html="member.owneremail" ></span></p>
                <p><span ng-bind-html="member.ownerinfo" ></span></p>
              </div>  

              <div class="community-info-main-inner-container-section-member">
                <div class="member-avatar">
                  <div class="circular" style="background: url({{member.owneravatar}}) no-repeat;background-size: 40px 40px;"></div>
                </div>
                <div class="member-contact">
                  <p>
                    <span ng-bind-html="member.ownertitle" ></span>
                    <span ng-bind-html="member.ownerfirstname" ></span>
                    <span ng-bind-html="member.ownerlastname" ></span>
                  </p>
                  <p ng-if="member.emailvisible" class="email-holder"><span ng-bind-html="member.owneremail" ></span></p>
                </div>
              </div> 
            </div> 

        </div>
        </div>
        <div class="community-info-main-inner-container-section-tools-container" id="communityinfo-tools-anchor">
          <div class="section-marker" id='section-marker-tools'> 
            <h3>Tools</h3>
            <button class="btn btn-primary pull-right" ng-click="assignTool()">Assign Tool</button>
          </div>
          <div class="list-wrap" ng-switch="tooltasks.length == 0 ? 'true' : 'false'">
            <div ng-switch-when="false" ng-repeat="tooltask in tooltasks track by tooltask.id" class="community-info-main-inner-container-section-tool" style="width: calc( 33% - 7px );">

              <div class="item-action pull-right">
                <i class="fa fa-trash fa-lg" tooltip="Remove this tool from the community. Must be community or tool owner." ng-click="removeFromCommunity('task_type', tooltask, $index)"></i>
              </div>
              <div>
                <img class="icon" ng-src="{{tooltask.imageUrl}}"></img>
              </div>

              <div class="item-content" style="width: calc( 95% - 45px );">

                <div class="outer-container">
                <div class="inner-container">
                <div class="element">

                <h3 class="item-title"><span ng-bind-html="tooltask.name" ></span></h3>
                <p><span ng-bind-html="tooltask.description" ></span></p>
                <p>owner:<span ng-bind-html="tooltask.ownertitle" ></span> <span ng-bind-html="tooltask.ownerfirstname" ></span><span ng-bind-html="tooltask.ownerlastname" ></span></p>
                
                </div>
                </div>
                </div>

              </div>

            </div>
            <div ng-switch-when="true">
              <h4>There are currently no tools assigned to this community. </h4>
            </div>
          </div>
          <button ng-show="tooltasks.length > 0" class="see-more"> See Full List </button>
        </div>

        <div class="community-info-main-inner-container-section-resources-container" id="communityinfo-resources-anchor">
          <div class="section-marker" id='section-marker-servers'>
            <h3>Resources</h3>
            <button class="btn btn-primary pull-right" ng-click="assignResource()">Assign Resource</button>
          </div>
          <div class="list-wrap" ng-switch="resources.length == 0 ? 'true' : 'false'">
            
            <div ng-switch-when="false" ng-repeat="resource in resources track by resource.id" class="community-info-main-inner-container-section-resource" style="width: calc( 33% - 7px );" >
              <div class="item-action pull-right">
                <i class="fa fa-trash fa-lg" tooltip="Remove this resource from the community. Must be community or resource owner." ng-click="removeFromCommunity('resource', resource, $index)"></i>
              </div>
              <div>
                <img class="icon" ng-src="{{resource.imageUrl}}"></img>
              </div>

              <div class="item-content" style="width: calc( 95% - 45px );">

                <div class="outer-container">
                <div class="inner-container">
                <div class="element">

                <h3 class="item-title"><span ng-bind-html="resource.name" ></span></h3>
                <p><span ng-bind-html="resource.description" ></span></p>
                <p>owner:<span ng-bind-html="resource.ownertitle" ></span><span ng-bind-html="resource.ownerfirstname" ></span><span ng-bind-html="resource.ownerlastname" ></span></p>

                </div>
                </div>
                </div>

              </div>
            </div>
            <div ng-switch-when="true">
              <h4>There are currently no resources assigned to this community. </h4>
            </div>

          </div>
          <button ng-show="resources.length > 0" class="see-more"> See Full List </button>
        </div>

        <div class="community-info-main-inner-container-section-news-items-container" id="communityinfo-news-anchor">
          <div class="section-marker" id='section-marker-news-articles' tooltip="click here to move to the top"> 
            <h3>Community Updates</h3>
          </div>
          
          <div class="updates-list" style="width: calc( 100% - 350px );">
            <div ng-repeat="newsitem in newsitems" class="community-info-main-inner-container-section-news-item" ng-mouseleave="onNewsItemMouseout($event)" ng-mouseenter="onNewsItemMouseover($event)">

              <h4 class="title newsitem-view"><span ng-bind-html="newsitem.headline"></span></h4>
              <p class="newsitem-view"><span ng-bind-html="newsitem.body" ></span></p>

            </div>
          </div>

          <div class="updates-actions">
            <h3>Do you have an update?</h3>
            <p>Send your community news and updates to</p>
            <p class="email-holder">updates@rpsmarf.ca</p>
            <br>
            <h3>Subscribe to updates:</h3>
            <p><i class="fa fa-rss"></i><span class="email-holder">Updates via RSS</span></p>
            <p><i class="fa fa-envelope-o"></i><span class="email-holder">Updates via Email</span></p>
          </div>

        </div>
      </div>
    </div>

    <div ng-if="false" class="community-info-left-container">
      <ul class="nav nav-sidebar">

        <li><a href ui-sref="home">Dashboard</a></li>
        <li><a href ui-sref="communities"> <i class="fa fa-angle-left"></i>Back</a></li>
        <li><a href >About</a></li>
        <li><a href ng-click = "movetosection('section-marker-tools')">Tools</a></li>
        <li><a href ng-click = "movetosection('section-marker-servers')">Resources</a></li>        
        <li><a href ng-click = "movetosection('section-marker-news-articles')">Community News</a></li>
        <li><a ng-href="{{forumUrl.value}}" >Community Forum</a></li>

      </ul>
    </div>

  </div>