<div class="modal-header">
 	<h3 class="modal-title" ng-bind-html="title">Confirm</h3>
</div>
<div class="modal-body" ng-bind-html="body">
  Do you want to start this task?
</div>
<div class="modal-footer">
 	<button class="btn btn-primary" ng-click="ok()" ng-bind-html="okBtnText()">Ok</button>
 	<button class="btn btn-default" ng-click="cancel()" ng-bind-html="cancelBtnText()">Cancel</button>
</div>
