<div class="home-container">

  <div class="service-health-container" ng-if="alert">
    <alert type="warning" close="ackAlert()"><strong>{{alert.headline}}</strong>: <p>{{alert.body}}</p></alert>
  </div>

  <div class="container-fluid">

    <div class="left-side col-md-7">

      <div class="logo-container">
        <a href="http://www.carleton.ca/"><img src="assets/culogo.png" /></a>
        <a href="http://www.solananetworks.com/"><img src="assets/logo-solana.png" /></a>
        <a href="http://www.canarie.ca/"><img src="assets/canarie-logo.png" /></a>
      </div>

      <div ng-if="settings.sysIntro.show" class="intro-container content-container clearfix">
        <h3>Welcome to RP-SMARF</h3>
        <p>Here are some videos and guides to help you get started. You can always find these under the support link located on the right in the top navigation bar.</p>
        <p class="video-container">
          <iframe id="intro-panel-video" width="100%" height="315" frameborder="0" allowfullscreen ng-src="{{smProperties.videoIntroduction.value}}"></iframe>
        </p>
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-youtube-play"></i><a href ng-click="playVideo('intro-panel-video','videoIntroduction')">Play Introduction to RP-SMARF</a> (5 mins)</li>
        </ul>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-youtube-play"></i><a href ng-click="playVideo('intro-panel-video','videoRunAToolInteractive')">Starting an interactive tool</a> (5 mins)</li>
              <li><i class="fa-li fa fa-youtube-play"></i><a href ng-click="playVideo('intro-panel-video','videoRunAToolBatch')">Starting a batch tool</a> (6 mins)</li>
              <li><i class="fa-li fa fa-youtube-play"></i><a href ng-click="playVideo('intro-panel-video','videoAccessData')">Accessing data</a> (5 mins)</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul class="fa-ul">
              <li><i class="fa-li fa fa-file-pdf-o"></i><a ng-href="{{smProperties.docUserManual.value}}" >Getting started guide (pdf)</a></li>
              <li><i class="fa-li fa fa-life-ring"></i><a href ng-click="openAskAQuestionCollector()">Ask a question</a></li>
              <li><i class="fa-li fa fa-external-link"></i><a ng-href="{{forumUrl.value}}">Forums</a></li>
            </ul>
          </div>
        </div>
        <div class="checkbox pull-right">
          <label>
            <input type="checkbox" ng-model="settings.sysIntro.hide" ng-change="hideSystemIntro()"> Don't show this again
          </label>
        </div>
      </div>

      <div class="news-container">
        <div class="community-news-header">
          <div class="header-image">
            <img ng-src="{{userCommunity.imageUrl}}" />
          </div>
          <h3>{{userCommunity.name}} Community Updates</h3>
          <div class="news-actions-container clearfix">
            <button class="btn btn-primary pull-right" ng-click="postNewsItem()">Post News Item</button>
          </div>
        </div>
        <ul class="list-group">
          <li class="list-group-item clearfix" ng-repeat="news in communityNews">
            <div class="news-item-actions pull-right" ng-if="(userOwnsHisCurrentCommunity || news.owner.split('/')[3] == uid) && !news.alert">
              <i class="fa fa-pencil-square-o fa-lg" tooltip="Edit this news item." ng-click="editNewsItem(news)"></i>
              <i class="fa fa-trash fa-lg" tooltip="Remove this news item." ng-click="removeNewsItem(news, $index)"></i>
            </div>
            <h4 class="list-group-item-heading" ng-bind-html="news.headline">
            </h4>
            <p ng-bind-html="news.body"></p>
          </li>
        </ul>
      </div>

    </div>
    <div class="right-side col-md-5">

      <div class="recent-tasks-container content-container" ng-switch="recentTasks.length > 0 ? 'true': 'false'">
        <div class="header">
          <h4 class="header-title"><i ng-if="recentTasks.length > 0" class="fa fa-refresh" ng-click="refreshTasks()"></i>Recent Tasks</h4>
          <a class="btn btn-primary recent-tasks-new pull-right" role="button" href ui-sref="tools">Start a New Task</a>
        </div>
        <div class="row" ng-repeat="task in recentTasks track by task.id" ng-switch-when="true">
          <div class="btn-group pull-right" dropdown>
            <button type="button" class="btn btn-default" ng-click="rerunTask(task)">Run Again</button>
            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="reconfigureTask(task)">Reconfigure</a></li>
            </ul>
          </div> 
          <div class="task-info">
            <p><span>{{task.name}}</span><i class="fa fa-info-circle" tooltip="{{task.task_type_name + ' (' + task.version +')'}}"></i></p>
            <small>Started: {{task.start_time_norm}}</small>
          </div>
        </div>
        <div ng-switch-when="false">
          <div class="video-container row">
            <div class="col-md-12">
              <iframe id="starttask-video" width="100%" height="250" ng-src="{{smProperties.videoRunAToolBatch.value}}" frameborder="0" allowfullscreen></iframe>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-youtube-play"></i><a href ng-click="playVideo('starttask-video','videoRunAToolBatch')">Play How to start a task</a> (6 mins)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="favourite-tools-container content-container" ng-switch="favouriteTools.length > 0 ? 'true': 'false'">
        <div class="header">
          <h4 class="header-title"><i class="fa fa-heart"></i>Favourite Tools</h4>
        </div>
        <div class="row" ng-repeat="tool in favouriteTools" ng-switch-when="true">
          <div class="btn-group pull-right" dropdown>
            <button type="button" class="btn btn-default" ng-click="startTool(tool)">Start</button>
            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="unfavourite(tool, 'task_type', $index)">Unfavourite</a></li>
            </ul>
          </div>
          <div class="task-info icon-style">
            <img ng-src="{{tool.imageUrl}}" />
            <p>{{tool.name}}</p>
          </div>
        </div>
        <div ng-switch-when="false">
          <div class="video-container row">
            <div class="col-md-12">
              <iframe id="favtool-video" width="100%" height="250" ng-src="{{smProperties.videoFavoriteATool.value}}" frameborder="0" allowfullscreen></iframe>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-youtube-play"></i><a href ng-click="playVideo('favtool-video','videoFavoriteATool')">Play How to Favourite a Tool</a> (1 min)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="favourite-resources-container content-container" ng-switch="favouriteResources.length > 0 ? 'true': 'false'">
        <div class="header">
          <h4 class="header-title"><i class="fa fa-heart"></i>Favourite Resources</h4>
        </div>
        <div class="row" ng-repeat="resource in favouriteResources" ng-switch-when="true">           
          <div class="btn-group pull-right" dropdown>
            <button type="button" class="btn btn-default" ng-click="browseResource(resource)">Browse</button>
            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="unfavourite(resource, 'resource', $index)">Unfavourite</a></li>
            </ul>
          </div>
          <div class="task-info icon-style">
            <img ng-src="{{resource.imageUrl}}" />
            <p>{{resource.name}}</p>
          </div>
        </div>
        <div ng-switch-when="false">
          <div class="video-container row">
            <div class="col-md-12">
              <iframe id="favresource-video" width="100%" height="250" ng-src="{{smProperties.videoFavoriteAResource.value}}" frameborder="0" allowfullscreen></iframe>
              <ul class="fa-ul">
                <li><i class="fa-li fa fa-youtube-play"></i><a href ng-click="playVideo('favresource-video','videoFavoriteAResource')">Play How to Favourite a Resource</a> (2 min)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="container-fluid home-footer">
    <div class="row">
      <div class="col-md-7">
        <div class="logo-container">
          <a href="http://www.carleton.ca/"><img src="assets/culogo.png" /></a>
          <a href="http://www.solananetworks.com/"><img src="assets/logo-solana.png" /></a>
          <a href="http://www.canarie.ca/"><img src="assets/canarie-logo.png" /></a>
        </div>
      </div>
      <div class="col-md-5 text-right copyright">
        <p>&copy; {{year}} Carleton University, Solana Networks, and CANARIE<br>
        <a href ng-click="feedback()">Feedback</a></p>
      </div>
    </div>
  </div>

</div>