.home-container {

  .headers {
    margin-bottom: 15px;
  }

  .service-health-container {
    .alert {
      border-radius: 0px;
      padding-left: 30px;
    }
  }

  .logo-container {
    padding: 20px 0;
    text-align:center;

    img {
      margin: 0px 12px;
      max-width: 110px;

      @media (@lg) {
        margin: 0px 20px;
        max-width: 130px;
      }
    }
  }

  .intro-container {  
    padding-left: 20px;
    padding-right: 20px;
  }

  .content-container {
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    margin-bottom: 40px;

    .fa {
      color: @color-icon;
    }

    small {
      color: @color-body-light;
    }

    img {
      width: 36px;
      height: 36px;
      margin: 0 10px 10px 0;
      float: left;
    }
  }

  .header {
    padding-bottom: 15px;

    .header-title {
      margin-bottom: 0;
    }
  }

  .header-title {
    display: inline-block;

    i.fa-heart {
      color: @color-icon-favourite;
      margin-right: 15px;
    }

    i.fa-refresh {
      margin-right: 15px;
      color: @color-icon;
    }

    i.fa-refresh:hover {
      cursor: pointer;
    }
  }

  .recent-tasks-container,
  .favourite-tools-container,
  .favourite-resources-container {
    padding: 15px 15px 0px 15px;

    p {
      margin-bottom: 0;
      font-weight: @weight-medium;
    }

    .row {
      padding-bottom: 15px;
      padding-top: 15px;
      border-top: solid 1px @color-border;
    }    

    .btn-group {
      margin: 0 15px 15px;
    }

    .task-info {
      margin-left: 15px;
    }
  }

  .recent-tasks-container {

    p > span {
      margin-right: 10px;
    }
  }

  .favourite-tools-container {

    p {
      padding-top: 5px;
    }
  }

  .favourite-resources-container {

    p {
      padding-top: 5px;
    }    
  }

  .video-container {

    iframe {
      margin-bottom: 10px;
    }
  }

  .news-container {
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);

    .list-group-item {
      border-top: solid 1px lightgrey;
      border-radius: 0px;
      background-color: #f5f5f5;
      margin-bottom: 0px;
      padding-top: 20px;
    }

    .community-news-header {
      background: @white;
      margin-bottom: 20px;

      .header-image {
        background-color: @color-bg-dark;
        background: linear-gradient(to bottom, #e8ebf1 0%,#d5dce9 100%);
      }

      img {
        height: 200px;
        margin: 0 auto;
        display: block; 
      }

      h3 {
        margin: 0;
        padding: 20px;
      }
    }

    .news-actions-container {
      padding: 0px 10px 0px 0px; 
    }
  }

  .home-footer {
    font-size: 12px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid @color-border;

    .logo-container {
      padding: 0 0 0 15px;
      text-align: left;

      img {
        margin: 0 30px 0 0;
      }
    }

    .copyright {
      padding-right: 15px;

      a {
        margin-left: 10px;
      }
    }
  }

  .news-item-actions {
    i {
      cursor: pointer;
    }

    .fa {
      color: @color-icon;
    }
  }

}