<div class="footer-infopanel-container col-md-10">
  <div class="container-fluid" >
    <div class="row" >
      <div ng-show="taskWrapperCollapsed.is" class="">
        <div ui-view="footer" >
        </div>
      </div>
      <div class="task-wrapper clearfix" ng-if="!taskWrapperCollapsed.is" collapse="taskWrapperCollapsed.is">
        <div class="row">
          <div class="col-md-4 folder-capacity">
            <div class="row">
              <div class="col-md-4">
                Folder Usage
              </div>
              <div class="col-md-4" tooltip="{{folderInfo.public.info}}">
                <span>Public:</span>
                <span ng-class="folderInfo.public.class" ><strong>{{folderInfo.public.percentageUsed}}%</strong></span>
              </div>
              <div class="col-md-4" tooltip="{{folderInfo.private.info}}">
                <span>Private:</span>
                <span ng-class="folderInfo.private.class" ><strong>{{folderInfo.private.percentageUsed}}%</strong></span>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="taskprogress">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4 vcenter">
                    <div class="vcenter-content">
                      <p class="taskname vcenter-content" ng-bind-html="taskname">Your task</p>
                    </div>
                  </div>
                  <div class="col-md-4 vcenter">
                    <div class="vcenter-content" ng-switch="progressType">
                      <div ng-switch-when="progressbar">
                        <progressbar  ng-class="progressbarClasses" value="taskProgressValue" type="{{progressbarType}}"><strong>{{taskProgressValue}}%</strong></progressbar>
                      </div>
                      <span ng-switch-default class="task-progress" ng-bind-html="taskProgressValue"></span>
                    </div>
                  </div>
                  <div class="col-md-2 vcenter">
                    <div class="vcenter-content">
                      <span class="text-lowercase taskstate" ng-bind-html="taskState"></span>
                      <span class="taskstate taskstate-error" ng-if="taskCompletionError"> with error</span>
                      <span ng-if="taskNotification"><i class="fa fa-exclamation-circle fa-lg" tooltip="Click for details" ng-click="displayTaskDetails()"></i></span>
                    </div>
                  </div>
                  <span class="col-md-2 vcenter">
                    <div ng-switch="currentTaskStatus" class="vcenter-content">
                      <button ng-switch-when="interactive-ready" class="btn btn-default" ng-click="startInteractiveTool()">Ready to launch</button>
                      <button ng-switch-when="completed" class="btn btn-default" ng-click="rerunTask()">Rerun</button>
                      <div ng-switch-default></div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>