.footer-infopanel-container {

  @media(@md-max) {
    width: 827px;
    left: 165px;
  }

  position: absolute;
  bottom: 0;
  right: 0;
  background: @white;
  border-top: 1px solid @color-border;


  .task-ready-notification {
    /* Chrome, Safari, Opera */
    -webkit-animation-name: taskReadyIcon, taskReadyDiv;
    -webkit-animation-duration: 1.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;

    /* Standard syntax */
    animation-name: taskReadyIcon, taskReadyDiv;
    animation-duration: 1.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
  }

  @-webkit-keyframes taskReadyIcon {
    from{color: white;}
    to{color: green;}
  }

  /* Standard syntax */
  @keyframes taskReadyIcon {
    from{color: white;}
    to{color: green;}
  }

  @-webkit-keyframes taskReadyDiv {
    from{border-color: white;}
    to{border-color: green;}
  }

  /* Standard syntax */
  @keyframes taskReadyDiv {
    from{border-color: white;}
    to{border-color: green;}
  }

  .btn {
  }

  .task-wrapper {
    height: 80px;

    > .row {
      background-color: @blue-dark;
    }

    .taskname, .taskstate {
      color: white;
      background-color: black;
    }

    .taskstate-error {
      white-space: pre;
    }

    .taskprogress{
      margin-top: 15px;
      margin-bottom: 15px;
      background-color: black;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      height: 50px;
      //padding-top: 15px;
      //padding-bottom: 15px;

      div.container-fluid, div.row, .vcenter {
        height: inherit;
      }

      i.fa-exclamation-circle {
        color: white;
        cursor: pointer;
        margin-left: 10px;
      }
    }

    .progress {
      margin-bottom: 0px !important;
    }

    span.task-progress {
      color: white;
    }
  }

  .folder-capacity {
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    //padding-left: 30px;
    //padding-right: 30px;

    span.warn strong {
      color: @brand-warning;
    }

    span.full strong {
      color: @brand-danger;
    }
  }
}