<div class="well filesetpane">
	<div ng-if="entry">
		<div class="col-md-3 entry-file" >
	    	<div style="display:inline-block" class="entry-container">
		    	<i class="entry-icon fa fa-file-text entry-icon-file"></i><br/>
		    	<div style="display:inline-block"><p class="entry-name">{{entry.basename}}<p></div>
	    	</div>
	    </div>
	</div>
	<div ng-if="!entry" class="entry-placeholder"><span><strong>Place File Here</strong></span></div>

</div>
