.filesetpane{

	.entry-placeholder{
		width: 100%;
		height: 100%;
		border: grey dashed 3px;
		line-height: 7em;
		text-align: center;
		margin: auto;
	}

	.entry-file{
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}

	width:25%;
	height: 165px;
	float: right;

}