 <div class="modal-header">
  <h3 class="modal-title" ng-bind-html="title">Make folder</h3>
</div>
<div class="modal-body">
 	<form role="form">
 		<div ng-switch="action">
 			<span ng-switch-when="unzip">The unzip operation will create a folder with the contents within it. Use this dialog to name the folder created. Folder name cannot container characters \ / : * ? " < > | </span>
 			<span ng-switch-when="zip">Give a name to the resulting zip file. File name cannot container characters \ / : * ? " < > |</span>
 			<span ng-switch-default>Folder name cannot container characters \ / : * ? " < > |</span>
 		</div>
	  	<div class="form-group" ng-class="{'has-error':formError}">
			<label for="foldername">{{action == 'zip' ? 'File name' : 'Folder name'}}</label>
			<input type="text" class="form-control" id="foldername" placeholder="Enter name" required="true" ng-model="folderName">
			<span class="control-label" ng-show="formError">Improper name</span>
		</div>
	</form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">Create</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
