/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';
@import '../../vendor/jasny-bootstrap/less/jasny-bootstrap.less';


/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';
@import 'mixins.less';



body, html {
  font-family: @stack-roboto;
  font-weight: @weight-normal;
  position: relative;
  height: 100%;
}

a {
  transition: color 0.05s linear,
              background-color 0.05s linear;
}

code, pre, .pre {
  padding: 5px;
  margin: 10px 0;
  background-color: #efefef;
  border: 1px solid #dadada;
  border-radius: 3px;
}

code {
  padding: 0 3px;
}

pre {
  margin: 10px 0;
  padding: 5px;
}

strong, th, label {
  font-weight: @weight-medium;
}

caption {
  color: @color-body;
}

hr {
  border-top-color: @color-border;
}

small, .small {
  font-size: 12px;
}

p:last-child {
  margin-bottom: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: @weight-normal;
}

h1, .h1 {}

h2, .h2 {
  margin: 20px 0;
}

h3, .h3 {}

h4, .h4 {}



/*-------------------------------------------
  General styles
-------------------------------------------*/
.main-wrapper {
  position: relative;
  padding-bottom: 51px;
  min-height: 100%;
  background-color: @color-bg-app;  
}

.main-body-grid {
  @media (@md-max) { // disable overflow above md breakpoint to prevent dropdown menu cutoff on bootstrap buttons
    overflow: hidden; 
  }
}

.main {
  
  @media(@md-max) {
    &.col-md-10 {
      width: 827px;
    }

    &.col-md-offset-2 {
      margin-left: 165px;
    }
  }

  position: relative;
  margin-top: 51px;
  //padding-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
}

.main-home {
  padding-left: 0px;
  padding-right: 0px;
}

.smcontainer {
  margin-top: 80px;
}

.page-header {
  margin-top: 60px;

  &:first-child {
    margin-top: 20px;
  }
}

.taskbreadcrumb {
  padding-left: 40px;
  padding-right: 40px;
}

.vcenter {
  display: table;

  .vcenter-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

.headers {
  border-bottom: none;
}

.box-heading {
  padding: 15px 0;
  border-bottom: 1px solid @color-border;
  background-color: @white;

  h3 {
    margin: 4px 0 0 0;
  }
}

.no-padding {
  padding: 0 !important;
}

.fixed {
  position: fixed;
}

.data-format-help {
  color: @gray-light;
  font-size: 14px;
}

::-webkit-input-placeholder {
    color: @gray !important;
}

:-moz-placeholder { // Mozilla 18-
   color: @gray !important;
   opacity:  1;
}

::-moz-placeholder { // Mozilla 19+
   color: @gray !important;
   opacity:  1;
}

:-ms-input-placeholder { // IE 10+
   color: @gray !important;
}


.icon-style {

  img {
    background-color: @white;
    padding: 5px;
    border-radius: @radius-small;
    border: 1px solid @color-border-light;
    width: 100%;
    max-width: 62px;
  }
}

.col-md-1.icon-style img {
  min-width: 50px;
}
.col-md-3.icon-style img {
  min-width: 43px;
}


// Common icon colours
.fa-heart {
  color: @color-icon-favourite !important;
}

.fa-pencil,
.fa-heart-o {
  color: @color-icon !important;
}

.fa-ban,
.fa-exclamation-triangle {
  color: @red !important;
}

.fa-check {
  color: green;
}




// Common infopanel styles
.infopanel-container {

  > .row {
    height: 50px;
    line-height: 50px;
  }

  a.collapse-toggle {
    color: @color-body;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .usage-block {
    background-color: #e8effa;
    border-radius: @radius-small;
    text-align: center;
    padding-bottom: 15px;

    h2 {
      color: @blue;
      font-weight: @weight-light;
    }
  }

  .btn-link {
    color: #337ab7;
  }

  .disqus-container {
    padding: 10px;
  }
}


// Login page
.login-main {
  color: @white;
  background-color: @blue-dark;
  padding: 120px 0;

  > .container {
    width: 970px;
  }

  a {
    color: @yellow; 
  }

  hr {
    border-color: #284570;
  }

  h4 {
    margin-bottom: 20px;
  }

  .logo {
    margin-top: 35px;
  }

  .input-group-addon {
    background-color: @blue-light;
    border-color: @blue-light;

    span {
      width: 12px;
      display: block;
      font-weight: @weight-medium;
      color: @white;
    }
  }

  .form-control {
    border-color: @blue-light;
  }

  .btn {
    padding-left: 24px;
    padding-right: 24px;
    font-weight: @weight-medium;
  }

  .btn-default {
    background-color: @yellow;
    color: @black;
    border-color: transparent;
  }

  .btn-link {
    color: @yellow;
  }

}

.login-main-footer {

  > .container {
    width: 970px;
  }
  
  h4 {
    margin-top: 40px;
  }

  img {
    max-width: 130px;
    margin: 25px;
  }
}



/*-------------------------------------------
  Bootstrap overrides
-------------------------------------------*/
.jumbotron {
  text-align: center;
}

.btn-default {
  color: @blue;
}

.btn-primary {
  background-color: @blue;

  &:hover,
  &:focus {
    background-color: @color-btn-hover;
  }
}

.btn-link {
  color: @color-body;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.help-block {
  font-weight: @weight-normal;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: @color-bg-dark;
}

.pagination {
  margin: 0;

  > li {
    > a,
    > span {
      border-color: @color-border;
    }
  }

  > .active {    
    > a,
    > span,
    > a:hover,
    > span:hover,
    > a:focus,
    > span:focus {
      background-color: @color-border;
      border-color: @color-border;
    }
  }
}

.nav-tabs {
  border-bottom-color: @color-border;

  > li {
    > a {
      color: @color-body;

      &:hover,
      &:focus {
        background-color: @color-bg-app;
        border-color: @color-bg-app;
      }
    }
  }

  > li.active {
    > a,
    > a:hover,
    > a:focus {
      font-weight: @weight-medium;
      border: 1px solid @color-border;
      border-bottom-color: @white;
      border-top: 4px solid @blue;
    }
  }

  &.nav-justified {

    > li > a {
      border-bottom-color: @color-border;
    }

    > .active {
      > a,
      > a:hover,
      > a:focus {
        border: 1px solid @color-border;
        border-bottom-color: @white;
        border-top: 4px solid @blue;
      }
    }
  }
}

.table {

  > thead > tr > th {
    border-bottom: 1px solid @color-border;
  }

  > tbody > tr > td {
    border-top: none;
    border-bottom: 1px solid @color-border-light; 
  }
}

.fa-ul > li {
  margin-bottom: 10px;
}

.alert-danger {
  background-color: #f4e3ea;
  border-color: #edd2d6;
  color: @red;
}

// Disable xs and sm grids, use md only
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}

.col-md-offset-12 { margin-left: 100%; }
.col-md-offset-11 { margin-left: 91.66666667%; }
.col-md-offset-10 { margin-left: 83.33333333%; }
.col-md-offset-9  { margin-left: 75%; }
.col-md-offset-8  { margin-left: 66.66666667%; }
.col-md-offset-7  { margin-left: 58.33333333%; }
.col-md-offset-6  { margin-left: 50%; }
.col-md-offset-5  { margin-left: 41.66666667%; }
.col-md-offset-4  { margin-left: 33.33333333%; }
.col-md-offset-3  { margin-left: 25%; }
.col-md-offset-2  { margin-left: 16.66666667%; }
.col-md-offset-1  { margin-left: 8.33333333%; }
.col-md-offset-0  { margin-left: 0; }

.col-xs-12, .col-sm-12, .col-md-12 { width: 100%; }
.col-xs-11, .col-sm-11, .col-md-11 { width: 91.66666667%; }
.col-xs-10, .col-sm-10, .col-md-10 { width: 83.33333333%; }
.col-xs-9,  .col-sm-9,  .col-md-9  { width: 75%; }
.col-xs-8,  .col-sm-8,  .col-md-8  { width: 66.66666667%; }
.col-xs-7,  .col-sm-7,  .col-md-7  { width: 58.33333333%; }
.col-xs-6,  .col-sm-6,  .col-md-6  { width: 50%; }
.col-xs-5,  .col-sm-5,  .col-md-5  { width: 41.66666667%; }
.col-xs-4,  .col-sm-4,  .col-md-4  { width: 33.33333333%; }
.col-xs-3,  .col-sm-3,  .col-md-3  { width: 25%; }
.col-xs-2,  .col-sm-2,  .col-md-2  { width: 16.66666667%; }
.col-xs-1,  .col-sm-1,  .col-md-1  { width: 8.33333333%; }



/*-------------------------------------------
  Navigation
-------------------------------------------*/
.navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}

.navbar-collapse {

  @media(@sm) {
    width: 992px;
  }
  @media(@md) {
    width: auto;
  }
}

.navbar-fixed-top .navbar-collapse {
  padding-right: 15px;
}

.navbar-inverse {
  background-color: @blue-dark;
  border-bottom: 1px solid @color-border;
  font-size: 13px;

  @media (min-width: 1050px) {
    font-size: 14px;
  }
  
  small {
    font-size: 60%;
  }

  .navbar-header {

    @media (@sm-max) {
      width: 100%;
    }
    @media (@sm) and (@md-max) {
     width: 165px;
    }
  }

  .navbar-brand {
    padding: 0;
    float: none;

    img {
      display: inline-block;
      position: relative;
      margin-top: 7px;
    }
  }

  .navbar-nav {

    > .open > a,
    > .open > a:hover,
    > .open > a:focus {
      background-color: @blue;
    }

    > li > a {
      color: @color-navbar;

      &:hover,
      &:focus,
      &.active {
        color: @white;
        background-color: @color-navbar-hover;
      }
    }

    li.active {
      a,
      a:focus,
      a:hover {
        background-color: @color-navbar-hover;
      }
    }
  }

  .navbar-left {

    > li > a {
      padding-top: 13px;
      margin-top: 5px;
      padding-bottom: 12px;
    }
  }

  .community-dropdown-menu {
    min-width: 200px;
  }
}

.navbar-right {

  > li {
    border-left: 1px solid @color-navbar-border;
  }

  li.community-dropdown {
    .dropdown-menu > li > a {
      display: inline-block;
    }

    .dropdown-menu > li > i {
      cursor: default; 
    }
  }

  .navbar-avatar {
    max-height: 50px;
    padding: 10px;
    display: inline-block;
  }

  .navbar-user-name {
    display: inline-block;
  }
}



/*-------------------------------------------
  Footer
-------------------------------------------*/
.footer {
  width: 100%;
  bottom: 0;
  background-color: #fff;
  left: 0;
  right: 0;

  .footer-content {
    vertical-align: bottom;
    padding: 10px 0;
    margin: 0 20px;
    border: solid;
    border-color: #ccc;
    border-width: 1px 0 0 0;
    height: 50px;

    p {
      margin-right: 10px;
      color: #5f6467;
      display: inline-block;
    }
  }

  .footer-inner {
    padding: 40px 0;
    border-top: 1px solid #DDD;
  }

  .social {
    float: right;
    margin: 0;
    list-style: none;

    li {
      float: left;
      margin-left: 20px;

      a,
      a:visited {
        color: @gray-light;
        text-decoration: none;
        font-size: 40px;
        .transition( 250ms ease-in-out );

        &:hover {
          color: @gray;
        }
      }
    }
  }

  img {
    width: 120px;
    margin-right: 15px;
  }

  // Infopanel
  .footer-infopanel-container { // Open
    height: 50%;
  }

  &.fixed .footer-infopanel-container { // Closed
    height: auto;
  }

  .tab-content {
    padding-top: 20px;
    max-height: 40vh;
    overflow-y: auto;
  }

}



/*-------------------------------------------
  Left navigation
-------------------------------------------*/
.sidebar {
  
  @media(@md-max) {
    width: 165px;
  }

  background-color: @color-bg-dark;
  border-right: 1px solid @color-border;
  display: inline-block;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;

  position: fixed;
  top: 51px;
  bottom: 0;

  div.collapsible-menu {
    //padding: 10px 15px;

    > a.parent-menu {
      padding: 10px 15px;
      display: block;
      color: @black;
      font-weight: @weight-medium;
    }

    > a.parent-menu:hover,
    > a.parent-menu:focus {
      background-color: @blue;
      color: @white;
      text-decoration: none;
    }

    > a.parent-menu:hover + i.fa {
      color: @white;
    }

    
   
    i.fa:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    i.fa {
      position: absolute;
      right: 0px;
      top: 0px;
    }


  }

  li.active a.parent-menu{
    color: @white;
  }

  li.active i.fa:hover {
    color: @white;
    
  }

  ul.sub-menu {
    li.sub-menu-item {
      list-style: circle inside;
      display: list-item;

      > a {
        margin-left: 15px;
      }
    }
    

    li.sub-menu-item.active, li.sub-menu-item:hover, li.sub-menu-item:focus{
      background-color: @blue;
      color: @white;

      > a{
        color: @white;
      }
    }
  }

  .active > div.collapsible-menu {
      color: #fff;
      background-color: @blue;
  }

  hr {
    border-top-color: @color-border;
    margin: 0;
  }

  .nav-sidebar {
    padding-bottom: 30px;

    .active > a {
      color: #fff;
      background-color: @blue;
    }
  }

  .nav {
    > li {
      > a {
        color: @black;
        font-weight: @weight-medium;
      }

      > a:hover,
      > a:focus {
        background-color: @blue;
        color: @white;
      }
    }
  }

  .fa {
    margin-right: 5px;
  }

  .sidebar-taskprogress-container {
    border-top: 1px solid @color-border;

    .task-progress-collapse {

      @media(@md-max) {
        width: 164px;
      }

      font-weight: @weight-medium;
      background-color: @blue-dark;
      z-index: 1;
      height: 81px;
      line-height: 81px;
      bottom: 0px;
      position: fixed;
      border-top: 1px solid @color-border;

      a {
        color: white;
        margin-left: auto;
        margin-right: auto;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }

    .task-progress-collapse.collapsed {
      height: 51px;
      line-height: 51px;
    }
  }

}

.grid-left {
  width: 260px;
  position: fixed;
  top: 100px;
  bottom: 0px;
  paddin: 20px 0px;
  padding-bottom: 100px;
  overflow: auto;
  right: 0px;

  .side-navigation {
    position:relative;
  }

  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: list-item;
    }
  }
}

/*-------------------------------------------
  List items
  used for styling rows within a set of list items. contains their commonality
-------------------------------------------*/
.itemlist-container {

  .item-container {
    
    overflow-y:auto;

    .row {
      margin-left: 0px;
      margin-right: 0px;
    }
    .row.active {
      background-color: #FFFFE0;
    }

    .row:hover {
      background-color: @color-hover;
      //cursor: pointer;
    }

    .row.item-info {
      padding: 15px 0px;
      border-bottom: 1px solid @color-border-light;

      p.status-running {
        color: @brand-primary;
      }

      p.status-success {
        color: @color-success;
      }

      p.status-fail {
        color: @red; 
      }

      
      .item-progress {
        margin-bottom: 0px;
      }

      > div:nth-child(1){
       p {
          padding-left: 10px;
        }
      }

      span:not(.caret) {
        margin-right: 5px;
        width: 24px;
      }

      .item-name {
        
        h4 {
          color: @blue;
          margin: 0 0 10px 0;
        }

        p {
          font-size: 12px;
        }
      }

      .reservation-type,
      .item-status {
        font-size: 12px;
        text-transform: capitalize;
      }

      .item-timeinfo, .item-progressinfo  {
        font-size: 12px;
      }

      .dropdown-menu {
        left: auto;
        right: 0px;
      }
    }

  }

  .row.header {
    padding: 5px 0;
    border-bottom: 1px solid @color-border-light;
    font-weight: @weight-light;
    font-size: 12px;
  }


  .item-control {
    padding-top: 10px;
    padding-bottom: 10px;
    
    button {
      margin-left: 5px;
      margin-right: 5px;
    }

    ul.pagination {
      margin-bottom: 0px !important;
      margin-top: 0px !important;
    }
  }


}


/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';

@import '../app/breadcrumb/breadcrumb.less';

@import '../app/taskcreate/taskcreate.less';

@import '../app/tools/tools.less';

@import '../app/communities/communities.less';

@import '../app/communityinfo/communityinfo.less';

@import '../app/taskstart/taskstart.less';

@import '../app/tasklist/tasklist.less';

@import '../app/resourceconfig/resourceconfig.less';

@import '../app/taskcopydata/taskcopydata.less';

@import '../app/user.settings/user.settings.less';

//@import '../app/footer/taskprogress/taskprogress.less';

@import '../app/footer/infopanel/infopanel.less';

@import '../app/reservationlist/reservationlist.less';

@import '../app/user.resources/user.resources.less';

@import '../app/metadata/metadataSearch.less';

@import '../app/metadata/extractor/extractor.form.less';

@import '../common/foldernav/foldernav.less';

@import '../common/foldernavpane/foldernavpane.less';

@import '../common/foldernavpane/dragdrop/dragdrop.less';

@import '../common/filesetpane/filesetpane.less';

@import '../common/taskprogress/taskprogress.less';

@import '../common/support/support.less';

@import '../common/jira/issuecollector/issuecollector.less';

@import '../common/setup/setup.less';

@import '../common/taskoutput/taskoutput.less';