/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */


/**
 * Typography
 */
@stack-roboto: 'Roboto', arial, sans-serif;
@icon-font-path: "./";


/**
 * Font weights
 */
@weight-light:  300;
@weight-normal: 400; // default
@weight-medium: 500;


/**
 * Colours
 */
@blue:       #1d66cf;
@blue-dark:  #113261;
@blue-light: #76bcdc;
@red:        #b84947;
@yellow:     #fed98c;
@white:      #fff;
@black:      #000;

// Top nav
@color-navbar:        #ced5d8;
@color-navbar-hover:  #174b97;
@color-navbar-border: #294671;

// Left nav
//@color-sidebar: #e8ebf1;

// Common UI elements
@color-body:       #333;    // default text colour
@color-body-light: #989898; // light text colour
@color-bg-app:     #f4f5f8; // common background
@color-bg-dark:    #e8ebf1;
@color-highlight:  #fdf1d8;
@color-hover:      rgba(255,255,255,0.75); //@white;
@color-success:    #11a8a7; //#7cc9cb;

// Icons
@color-icon:           #989898; // common icon colour
@color-icon-favourite: #fed98c;

// Borders
@color-border:       #cbcfd3; // common border
@color-border-light: #dfe1e5;
@radius-small: 4px;
@radius-large: 8px;

//Buttons
@color-btn-hover: @blue-dark;

/**
 * Breakpoints
 */
@sm:     ~'min-width: 768px';
@sm-max: ~'max-width: 768px';
@md:     ~'min-width: 992px';
@md-max: ~'max-width: 992px';
@lg:     ~'min-width: 1200px';
