<div class="tasklist-infopanel-container infopanel-container">
  <div class="row">
    <div class="col-md-9">
      <span>Details: <strong ng-bind-html="selectedTask.name"></strong></span>
    </div>
    <div class="col-md-3 text-right">
      <a class="collapse-toggle" href ng-click="infoPanelCollapseToggle()">
        <i class="fa" ng-class="{false:'fa-angle-down', true: 'fa-angle-up'}[infoPanel.collapsed]"></i> {{infoPanel.collapsed ? 'Show Details' : 'Hide Details'}}
      </a>
    </div>
  </div>
  <div collapse="infoPanel.collapsed">
    <tabset justified="false" ng-show="selectedTask">
      <tab heading="General">
        <h4>Data output: {{selectedTask.outputMessage}}</h4>
        <h4>Completion Information:</h4>
        <p ng-bind-html="selectedTask.completionInfo"></p>        
      </tab>
      <tab heading="Task Configuration">
        <table class="table" ng-if="selectedTask.valParams.length > 0">
          <thead>
            <tr>
              <th>Parameter Name</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="valParam in selectedTask.valParams">
              <td ng-bind-html="valParam.name"></td>
              <td ng-bind-html="valParam.value"></td>
            </tr>
          </tbody>
        </table>
        <hr ng-if="selectedTask.resParams.length > 0">
        <table class="table" ng-if="selectedTask.resParams.length > 0">
          <thead>
            <tr>
              <th>Parameter Name</th>
              <th>Resource Name</th>
              <th>Path</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="resParam in selectedTask.resParams">
              <td ng-bind-html="resParam.name"></td>
              <td ng-bind-html="resParam.resourceName"></td>
              <td ng-bind-html="resParam.resourcePathEntry"></td>
            </tr>
          </tbody>
        </table>
      </tab>
      <tab heading="Detailed Results">
        <div>
          <h4>Errors</h4>
          <span ng-bind-html="selectedTask.errorMessage" ng-if="selectedTask.hasErrors"></span>
          <span ng-if="!selectedTask.hasErrors">None</span>
        </div>
        <hr>
        <div>
          <h4>Modified file/folder names</h4>
          <table class="table" ng-if="selectedTask.hasAlteredPaths">
            <tr>
              <th>Original path</th>
              <th>New path</th>
            </tr>
            <tr ng-repeat="path in selectedTask.alteredPaths">
              <td ng-bind-html="path.original"></td>
              <td ng-bind-html="path.new"></td>
            </tr>
          </table>
          <span ng-if="!selectedTask.hasAlteredPaths">None</span>
        </div>
      </tab>
      <tab heading="Support" ng-if="false">
        <h4>Tool Owner: {{selectedTask.owner.name}} ({{selectedTask.owner.email}})</h4>
        <button class="btn btn-primary">Run Test Configuration</button>
        <button class="btn btn-info">View Tool FAQ</button>
        <button class="btn btn-default">View Tool Forum</button>
        <button class="btn btn-default">View Tool Documentation</button>
        <button class="btn btn-success">Email Tool Owner</button>
      </tab>
    </tabset>
  </div>
</div>