<div class="tasklist-container container-fluid" ng-switch="tasks.length > 0 ? 'true' : 'false'">

  <div class="row">
    <div class="tasks-header clearfix box-heading">
      <div class="col-md-6">
        <h3>Task Status</h3>
      </div>
      <div class="col-md-6 task-pagination">
        <div class="pull-right" ng-show="totalTasks > 0">
          <pagination class="pagination-sm" total-items="totalTasks" ng-model="currentPage" items-per-page="tasksPerPage" ng-change="pageChanged()"></pagination>
        </div>
      </div>
    </div>
  </div>

  <div ng-switch-when="true">
    <div class="row header">
      <div class="col-md-1 task-select"></div>
      <div class="col-md-3 task-name">Name / Tool Name</div>
      <div class="col-md-2">Status</div>
      <div class="col-md-2">Start / Duration</div>
      <div class="col-md-2">Progress</div>
      <div class="col-md-2"></div>
    </div>

    <div class="row">
      <div class="tasks-list-container">
        <div class="row task-info" ng-repeat="task in tasks | taskUpdate track by task.id " ng-click="clickTask(task)" ng-class="{true:'active',false:''}[task.selected==true]" ng-class-odd="row-odd">

          <div class="col-md-1 task-select icon-style">
            <img ng-src="{{task.taskTypeImageUrl}}"></img>      
          </div>
          <div class="col-md-3 task-name">
            <h4><span ng-bind-html="task.name ? task.name : '- - - - -'"><span> <i class="fa fa-angle-right"></i></h4>
            <p>{{task.toolName + ' (' + task.version + ')'}}</p>
          </div>
          <div class="col-md-2">
            <p ng-bind-html="task.status" class="task-status" ng-class="{success: 'status-success', fail: 'status-fail'}[task.status] || 'status-running'"> </p>
          </div>
          <div class="col-md-2 task-start-duration">
            <p>Started: <span ng-bind-html="task.startTimeNorm"></span></p>
            <p>Duration: <span ng-bind-html="task.duration"></span></p>
          </div>
          <div class="col-md-2">
            <div ng-switch="task.output">
              <div ng-switch-when="progress">
                <div ng-switch="task.progressType">
                  <div ng-switch-when="progressbar">
                    <progressbar value="task.progress" type="success"><strong>{{task.progress}}%</strong></progressbar>
                    <p class="pull-right" ng-bind-html="task.state"></p>
                  </div>
                  <span ng-switch-default ng-bind-html="task.progress"></span>
                </div>
              </div>
              <div ng-switch-default>
                <p>-----</p>
              </div>
            </div>
          </div>
          <div class="col-md-2 task-control">
            <div class="btn-group" dropdown >
              <button type="button" class="btn btn-default" ng-class="{'not-allowed': task.state != TASK_STATE_FINISHED}" ng-disabled="task.state != TASK_STATE_FINISHED" ng-click="rerun(task)">Rerun</button>
              <button class="btn btn-default dropdown-toggle" dropdown-toggle ng-click="$event.stopPropagation()">
                <span class="caret"></span>
                <span class="sr-only"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" role="menu" ng-switch="task.state == TASK_STATE_FINISHED ? 'true' : 'false'">
                <li ng-class="{disabled: task.state != TASK_STATE_FINISHED}"><a href ng-click="viewTaskOutput(task, $event)">View Output</a></li>
                <li ng-class="{disabled: task.state != TASK_STATE_FINISHED}"><a href ng-click="reconfigure(task, $event)">Reconfigure</a></li>
                <li ng-switch-when="false"><a href ng-click="cancelTask(task)">Cancel</a></li>
                <li ng-switch-when="true"><a href ng-click="deleteTasks(task, $index)">Delete</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div ng-switch-when="false">
    <h4>You have not run any tasks yet. You can start a task by going to the <a href ui-sref="tools">Tools</a> page and selecting
          one of the tools to run as a task.
    </h4>
  </div>

</div>