.tasklist-container {

  .tasks-header {
  }

  .task-select {
  }

  .task-start-duration {
    font-size: 12px;
  }

  .tasks-control { // All controls
    padding: 10px 0;
    
    button {
      margin-right: 10px;
    }
  }

  .task-control { // Individual controls
    text-align: right;

    button.not-allowed {
      pointer-events: auto;
      cursor:not-allowed;
    }
  }

  .row.header {
    padding: 5px 0;
    //border-top: 1px solid @color-border;
    border-bottom: 1px solid @color-border-light;
    font-weight: @weight-light;
    font-size: 12px;
  }

  .tasks-list-container {
    //height: 50vh;
    @media (@md-max) {
      overflow-y: auto;
    }

    .row {
      margin: 0;

      &:hover {
        background-color: @color-hover;
        cursor: pointer;
      }

      &.active {
        background-color: @blue;
        color: @white;

        .task-name {
          color: @white;
        }
      }
    }

    .task-name {
      color: @blue;

      h4 {
        margin: 0;
      }      

      p {
        font-size: 12px;
        color: @color-body;
      }
    }

    .task-info {
      padding: 15px 0px;
      border-bottom: 1px solid @color-border-light;

      input[type="checkbox"] {
        margin-top: 10px;
      }

      p {
        &.status-running { color: @brand-primary; }
        &.status-success { color: @color-success; }
        &.status-fail    { color: @red; }
        &.task-status {
          text-transform: capitalize;
          font-size: 12px;
        }
      }

      div.progress {
        margin-bottom: 0px;
      }

      > div:nth-child(1) {

        p {
           padding-left: 10px;
        }
      }

      /*
      span {
        margin-right: 5px;
        width: 24px;
      }
      */
    }

    .row.active p.task-status {
      color: @white;
    }
  }

}