<div class="modal-header">
  <h3 class="modal-title" ng-bind-html="title">Details</h3>
</div>
<div class="modal-body">
  <div ng-if="hasTags">
  	<h4>Associated Tags</h4>
  	<span class="label label-primary" ng-repeat="tag in tags" ng-bind-html="tag"></span>
  	<hr>
  </div>
  <div class="clearfix">
  	<h4 ng-if="hasTags">Notes</h4>
  	<textarea class="form-control" rows="7" ng-model="noteText"></textarea>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="modifyNote()">Save</button>
  <button class="btn btn-default" ng-click="close()">Close</button>
</div>
