<div class="tools-infopanel-container infopanel-container">
  <div class="row">
    <div class="col-md-9">
      <span>Details: <strong ng-bind-html="tooltask.name"></strong></span>
    </div>
    <div class="col-md-3 text-right">
      <a class="collapse-toggle" href ng-click="infoPanelCollapseToggle()" ng-show="tooltask">
        <i class="fa" ng-class="{false:'fa-angle-down', true:'fa-angle-up'}[infoPanel.collapsed]"></i> {{infoPanel.collapsed ? 'Show Details' : 'Hide Details'}}
      </a>
    </div>
  </div>
  <div collapse="infoPanel.collapsed">
    <tabset justified="false" ng-show="tooltask">
      <tab heading="General" active="select.first">
        <div class="container-fluid">
          <h5>Tool details</h5>
          <p>Owner: {{tooltask.owner_info.name}}</p>
          <p>{{tooltask.description}}</p>
          <pre ng-if="tooltask.citation">{{tooltask.citation}} <i class="fa fa-info-circle pull-right" tooltip="Citation"></i></pre>
        </div>
      </tab>
      <tab heading="Tools Usage Stats" select="getUsageInfo(tooltask)">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-5 usage-block">
                  <h2>{{tooltask.usage_summary[1].w}}</h2>
                  <p>Last Week</p>
                </div>
                <div class="col-md-5 col-md-offset-1 usage-block">
                  <h2>{{tooltask.usage_summary[1].m}}</h2>
                  <p>Last Month</p>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <table class="table">
                <caption>Usage Summary</caption>
                <thead>
                  <tr>
                    <th></th>
                    <th>Last Week</th>
                    <th>Last Month</th>
                    <th>Last Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="usage in tooltask.usage_summary">
                    <td ng-bind-html="usage.user_name"></td>
                    <td ng-bind-html="usage.w"></td>
                    <td ng-bind-html="usage.m"></td>
                    <td ng-bind-html="usage.y"></td>
                  </tr>
                </tbody>
              </table>
              <table class="table" ng-if="tooltask.usage_users && tooltask.usage_users.length > 0">
                <caption>Usage per user</caption>
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Email</th>
                    <th>Usage</th>
                    <th>Last Used</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="usage in tooltask.usage_users">
                    <td ng-bind-html="usage.user_name"></td>
                    <td ng-bind-html="usage.email"></td>
                    <td ng-bind-html="usage.use_count"></td>
                    <td ng-bind-html="usage.last_use"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Permissions" select="getPermissions(tooltask)">
        <div class="container-fluid">
          <div ng-if="tooltask.userIsOwner && tooltask.hasAccReq">
            <table class="table">
              <caption>Users requesting access</caption>
              <thead>
                <tr>
                  <th class="col-md-3">Name</th>
                  <th class="col-md-4">Reason</th>
                  <th class="col-md-4"></th>
                </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="request in userAccessRequests">
                    <td ng-bind-html="request.requester_info.name"></td>
                    <td ng-bind-html="request.reason"></td>
                    <td><button class="btn btn-primary" ng-click="grantAccess(request,$index)">Grant</button><button class="btn btn-default" ng-click="denyAccess(request, $index)">Deny</button></td>
                  </tr>
              </tbody>
            </table>
          </div>
          <table class="table">
            <thead ng-switch="tooltask.userIsOwner ? 'true':'false'">
              <tr ng-switch-when="true">
                <th>Users with access</th>
                <th></th>
              </tr>
              <tr ng-switch-when="false">
                <th>Users with access</th>
              </tr>
            </thead>
            <tbody ng-switch="tooltask.userIsOwner ? 'true':'false'">
              <tr ng-switch-when="true" ng-repeat="user in tooltask.users_perm">
                <td ng-bind-html="user.name"></td>
                <td>
                  <button class="btn btn-default" ng-click="setUsersPermission(tooltask, 'remove', user, $index)">Revoke Permission</button>
                </td>
              </tr>
              <tr ng-switch-when="false" ng-repeat="user in tooltask.users_perm">
                <td ng-bind-html="user.name"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="Support" ng-if="false">
        <div class="container-fluid">
          <h4>Tool Owner: {{tooltask.owner_info.name}} ({{tooltask.owner_info.email}})</h4>
          <button class="btn btn-primary">Run Test Configuration</button>
          <button class="btn btn-info">View Tool FAQ</button>
          <button class="btn btn-default">View Tool Forum</button>
          <button class="btn btn-default">View Tool Documentation</button>
          <button class="btn btn-success">Email Tool Owner</button>
        </div>
      </tab>
      <tab ng-if="disqusEnabled" heading="Discussion" select="loadComments(tooltask)">
        <div id="disqus_thread" class="disqus-container">
        </div>
      </tab>
    </tabset>
  </div>
</div>