<div class="tools-container container-fluid">
  <div class="row">
    <div class="tools-header clearfix box-heading">
      <div class="col-md-4">
        <h3 ng-bind-html="headerText()">Tools Available</h3>
      </div>
      <div class="col-md-8">
        <form class="form-inline task-list-filter">
          <input type="search" placeholder="Filter..." class="form-control" ng-model="searchText" ng-change="filterToolTasks(searchText)"/>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="tools-list-container">
      <div class="row" ng-repeat="tooltask in tooltasks" ng-class="{'active': tooltask.selected}" ng-click="clickToolTask(tooltask)">

        <div class="col-md-1 tool-actions">
          <a href ng-click="favouriteToggle(tooltask, $event)" tooltip="{{tooltask.ext_favourite ? 'Click to unfavourite' : 'Click to favourite'}}" tooltip-append-to-body="true"><i class="fa" ng-class="{'true': 'fa-heart', 'false': 'fa-heart-o'}[tooltask.ext_favourite ? 'true' : 'false']"></i></a>
          <a href ng-click="openNotesEditor(tooltask, $event)" tooltip="View your notes about this tool" tooltip-append-to-body="true"><i class="fa fa-pencil"></i></a>
        </div>

        <div class="col-md-1 tool-icon icon-style">
          <img ng-src="{{tooltask.imageUrl}}" class="img-responsive"></img>
        </div>

        <div class="col-md-3 tool-name">
          <h4><span ng-bind-html="tooltask.name"></span></h4>
          <p ng-bind-html="tooltask.locked ? 'Offline' : 'Online'" ng-class="{offline:tooltask.locked}"></p>
        </div>

        <div class="col-md-1">
          <span class="label label-primary" ng-repeat="tag in tootask.ext_tags" ng-bind-html="tag"></span>
        </div>

        <div class="col-md-4 tool-summary">
          <p ng-bind-html="tooltask.description"></p>
        </div>

        <div class="col-md-2 text-right" ng-switch="tooltask.locked ? 'true' : 'false'">
          <div ng-switch-when="false" ng-switch="tooltask.ext_perms == 'x' ? 'hasPerm' : 'noPerm'">
            <div ng-switch-when="hasPerm">
              <div ng-switch="stateName">
                <div class="btn-group" dropdown ng-switch-when="tools">
                  <button type="button" class="btn btn-default" ng-click="startToolTask(tooltask, $event)">Start</button>
                  <button class="btn btn-default dropdown-toggle" dropdown-toggle ng-click="$event.stopPropagation()">
                    <span class="caret"></span>
                    <span class="sr-only"></span>
                  </button>
                  <ul class="dropdown-menu toolstart-dropdown" role="menu">
                    <li><a href ng-click="startToolTask(tooltask,$event,true)">Set Reservation</a></li>
                  </ul>
                </div>
                <button type="button" class="btn btn-default" ng-click="startToolTask(tooltask, $event)" ng-switch-when="tools.reservation">Start</button>
              </div>
            </div>
            <div ng-switch-when="noPerm">
              <button type="button" class="btn btn-default" ng-click="requestAccess(tooltask, $event)">Request Access</button>
            </div>
          </div>
          <div ng-switch-when="true">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>