
.tools-container {
  
  .tools-header {

    .task-list-filter {
      float: right;

      input {
      }
    }
  }

  .tools-list-container {
    //max-height: 40vh; //height: 40vh;
    //overflow-y: auto;
    //overflow-x: hidden;
    border-bottom: 1px solid @color-border-light;
   
    > .row {
      margin: 0;
      padding: 15px 0;
      border-bottom: 1px solid @color-border-light;
      //min-height: 100px;

      &:last-child {
        border: none;
      }
            
      .tool-summary {
      }

      h5 {
        padding: 10px 0px;
      }

      .tool-actions {

        a {
          float: left;
          clear: left;

          &:first-child {
            margin-bottom: 5px;
          }
        }
      }
 
    }

    .tool-name {

      h4 {
        color: @blue;
        margin-top: 0;
      }

      p {
        font-size: 12px;
        color: @color-body-light;
      }

      p.offline {
        color: @red;
      }
    }

    > .row:hover {
      background-color: @color-hover;
      cursor: pointer;
    }

    > .row.active {
      background-color: @blue;
      color: @white;

      .tool-name {

        h4 {
          color: @white;
        }
      }
    }

    .toolstart-dropdown {
      //top: 80%;
      right: 0;
      left: auto;
    }

    .tool-icon {
    }

  }

  .tools-list-container .row:first-child {
  }

}

.tools-infopanel-container {
 
  ul.nav-tabs>li.active>a {
    cursor: default;
  }

  ul.nav.nav-tabs a {
    cursor: pointer;
  }

  pre {
    i {
      position: absolute;
      font-size: 1.5em;
    }
  }

}