<div class="modal-header">
  <h3 class="modal-title">Enter new name</h3>
</div>
<div class="modal-body">
	<div class="form-group" ng-class="{'has-error': formError}">
		<label>Name cannot contain any of  \ / : * ? " < > |</label>
	 	<input type="text" class="form-control" ng-model="entry.name" required ng-minlength="1" ng-change="formError=false">
	 	<div class="checkbox" ng-if="hasSuffix">
			<label>
				<input type="checkbox"  ng-model="keepSuffix.value"> Keep file extension (<span ng-bind-html="suffix"></span>)
			</label>
		</div>
	 	<span class="control-label" ng-show="formError">This name is not valid</span>
	 </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="set()">Set</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
