.panel.panel-default {
  margin: 10px 0;
}

.foldernav-container {
  //height: 40vh;
  overflow-y:auto; 
  margin: 0 -15px;

  ul.root-entry-container {
    padding: 0;
    margin-bottom: 0;

    li {
      cursor: pointer;    
      background: url(bg-foldernav.png) 0 0 repeat;
      //position: relative;

      .entry-container {
        white-space: nowrap;
        height: 34px;
        line-height: 34px;
        position: relative;

        p {
          margin-bottom: 0px;
          color: @blue;
        }

        .num-dragging {
          display: none;
          position: absolute;
          top: -30px;
          left: 50%;
          border-radius: 50px;
          border: solid 2px red;
          height: 30px;
          width: 30px;
          line-height: normal;
          text-align: center;
          padding-top: 4px;
        }

        .num-dragging.drag {
          display: inline-block;
        }
      }

      .entry-container.drag {
        border: solid 2px red !important;
      }

      .entry-container:hover {
        background-color: @color-hover;
        border-bottom: 1px solid @color-border-light;
      }

      .entry-container.active {
        background-color: @color-highlight;
        border-bottom: 1px solid @color-border-light;
      } 

      .entry-container.active.drag {
        background-color: @color-highlight;
        border-bottom: solid 2px red !important;
      } 

      i.empty-folder-icon {
        margin-left: 19px;
      }

      i.file-icon {
        margin-left: 19px;
      }

      i {
        margin-right: 2px;
        padding: 5px 0 5px 5px; // increase clickable area
        width: 20px;

        &.fa-caret-right,
        &.fa-caret-down {
          width: 13px;
        }

        &.fa-folder-open-o,
        &.fa-file-text-o {
          color: @color-icon;
        }
      }

      p {
        display: inline-block;        
      }
    }
  }

  .root-entry-wrapper {
    
    @media(@lg) {
      width: 95%;
    }
  }

  ul ul {
    margin-left: 20px;
  }

  .checkbox-selector-container {

    @media(@lg) {
      width: 5%;
    }

    ul {
      margin-bottom: 0;
      li {
        //display: block;
        div {
          height: 34px;
          line-height: 34px;
          border-bottom: solid 1px @color-border-light;
          padding-left: 15px;
        }
      }
    }

  }
}

.foldernav-container.shrink {
  height: 38vh;
}