<script type="text/ng-template" id="subfoldernav.tpl.html">
        <ul class="list-unstyled" ng-if="entry.entries.length > 0">
                <li ng-repeat="entry in entry.entries" ng-switch="entryType(entry)">
                        <div ng-switch-when="folder">
                                <div class="entry-container" ng-dblclick="toggleEntryExpand(entry,$event)" ng-click="select(entry,$event)" ng-class="{active:entry.selected}" sm-draggable="true" sm-drop-entry="true">
                                        <i class="fa" ng-click="toggleEntryExpand(entry,$event)" ng-class="{'fa-caret-right':!entry.expanded, 'fa-caret-down':entry.expanded}"></i>
                                        <i class="fa fa-folder-open-o"></i>
                                        <p ng-bind-html="entry.basename"></p>
                                        <div class="num-dragging"><span>3</span></div>
                                </div>
                                <div ng-show="entry.entries.length > 0 && entry.expanded" ng-include="'subfoldernav.tpl.html'"></div>
                                
                        </div>
                        <div ng-switch-when="file">
                                <div class="entry-container" ng-click="select(entry,$event)" ng-class="{active:entry.selected}" sm-draggable="true">
                                        <i class="fa fa-file-text-o file-icon"></i>
                                        <p ng-bind-html="entry.basename"></p>
                                        <div class="num-dragging"><span>3</span></div>
                                </div>
                        </div>
                        <div ng-switch-default></div>

                </li>
        </ul/>
        <div ng-if="entry.entries.length == 0" class="empty-resource">
                <span>empty</span>
        </div>
</script>
<div class="foldernav-container container-fluid" ng-class="{shrink: !infoPanel.collapsed}" sm-drop-area="true">
        <div class="row">
                <div class="col-md-1 checkbox-selector-container no-padding">
                        <ul class="list-unstyled">
                                <li ng-repeat="linearEntry in linearEntries track by $index"><div><input type="checkbox" value="{{$index}}" ng-click="clickCheckbox(linearEntry,$index+1, $event)" ng-checked="selectall || linearEntry.selected"></div></li>
                        </ul>
                </div>
                <div class="col-md-11 root-entry-wrapper no-padding">
                        <ul class="list-unstyled root-entry-container" ng-if="entries.length > 0" resource="resource" smondrop="smondrop({srcEntry:srcEntry, srcResource:srcResource, dstResource: dstResource, dstEntry: dstEntry})">
                                <li ng-repeat="entry in entries" ng-switch="entryType(entry)">
                                        <div ng-switch-when="folder">
                                                <div class="entry-container" ng-dblclick="toggleEntryExpand(entry,$event)" ng-click="select(entry,$event)" ng-class="{active:entry.selected}" sm-draggable="true" sm-drop-entry="true">
                                                        <i class="fa" ng-click="toggleEntryExpand(entry,$event)" ng-class="{'fa-caret-right':!entry.expanded, 'fa-caret-down':entry.expanded}"></i>
                                                        <i class="fa fa-folder-open-o" ></i>
                                                        <p ng-bind-html="entry.basename"></p>
                                                        <div class="num-dragging"><span>3</span></div>
                                                </div>
                                                <div ng-show="entry.entries.length > 0 && entry.expanded" ng-include="'subfoldernav.tpl.html'"></div>
                                                
                                        </div>
                                        <div ng-switch-when="file">
                                                <div class="entry-container" ng-click="select(entry,$event)" ng-class="{active:entry.selected}" sm-draggable="true">
                                                        <i class="fa fa-file-text-o file-icon"></i>
                                                        <p ng-bind-html="entry.basename"></p>
                                                        <div class="num-dragging"><span>3</span></div>
                                                </div>
                                        </div>
                                        <div ng-switch-default tooltip="{{entry.tooltip}}" tooltip-append-to-body="true" tooltip-placement="bottom">
                                                <div class="entry-container" ng-click="select(entry,$event)" ng-class="{active:entry.selected}" sm-draggable="true" sm-drop-entry="true">
                                                        <i class="fa fa-level-up" ></i>
                                                        <p ng-bind-html="entry.basename"></p>
                                                </div>
                                        </div>

                                </li>
                        </ul/>
                        <div ng-if="entries.length == 0" class="empty-resource">
                                <div ng-switch="entriesSearch == 'true' ? 'true' : 'false'">
                                        <span ng-switch-when="true">search item not found</span>
                                        <span ng-switch-when="false">empty</span>
                                </div>
                        </div>
                </div>
        </div>
</div>