{% extends "cloud_rpi/page_template.html" %}

{% block title %}RP-SMARF Platform Page List{% endblock %}
{% block header %}RP-SMARF Platform Page List{% endblock %}
{% block body %}
The pages available are: 
<ol>
<li>
<a href="doc">doc</a>
</li>
<li>
<a href="factsheet">factsheet</a>
</li>
<li>
<a href="info">info</a>
</li>
<li>
<a href="provenance">provenance</a>
</li>
<li>
<a href="release_notes">release_notes</a>
</li>
<li>
<a href="source">source</a> 
</li>
<li>
<a href="stats">stats</a>
</li>
<li>
<a href="support">support</a>
</li>
<li>
<a href="tryme">tryme</a>
</li>
<li>
<a href="videoFavoriteAResource">videoFavoriteAResource</a>
</li>
<li>
<a href="videoFavoriteATool">videoFavoriteATool</a>
</li>
<li>
<a href="videoAccessData">videoAccessData</a>
</li>
<li>
<a href="videoRunAToolBatch">videoRunAToolBatch</a>
</li>
<li>
<a href="videoRunAToolInteractive">videoRunAToolInteractive</a>
</li>
</ol>
{% endblock %}
