{% extends "platform/page_template.html" %}

{% block title %}RP-SMARF Platform Documentation{% endblock %}
{% block header %}RP-SMARF Platform Documentation{% endblock %}
{% block body %}
<p>The RP-SMARF platform allows researchers to collaborate more effectively by sharing (with appropriate controls) data and software tools.

<p> Documentation includes:
<ul>
<li><a href="https://www.rpsmarf.ca/docs/RP-SMARF%20White%20Paper.pdf">RP-SMARF White Paper</a></li>
<li><a href="https://www.rpsmarf.ca/docs/RP-SMARF%20Getting%20Started%20User%20Guide.pdf">RP-SMARF Getting Started Guide</a></li>
<li><a href="https://www.rpsmarf.ca/docs/RP-SMARF%20Overview%20Paper.pdf">RP-SMARF Overview Paper</a></li>
</ul>
<p>Viewing these videos may be helpful:
<ul>
<li><a href="https://youtube.com/embed/6GSKgBca0Ak">Running an Interactive Task</a></li>
<li><a href="https://youtube.com/embed/y5lKDNExnGU">Running a Batch Task</a></li>
<li><a href="https://youtube.com/embed/Te55EtPeta8">Performing File Operations</a></li>
</ul>
<p>Contact <a href="mailto:support@rpsmarf.ca">support@rpsmarf.ca</a> for more information
{% endblock %}
