{% extends "platform/page_template.html" %}

{% block title %}RP-SMARF Platform Download{% endblock %}
{% block header %}RP-SMARF Platform Download{% endblock %}
{% block body %}
The source code for the RP-SMARF platform is available at <a href="https://bitbucket.org/rpsmarf/python_repo">https://bitbucket.org/rpsmarf/python_repo</a>.
<p>
Deployment instructions are available at <a href="http://rpsmarf.readthedocs.org/en/master/Cloud%20Storage%20Service.html#deploying-services"> http://rpsmarf.readthedocs.org/en/master/Cloud%20Storage%20Service.html</a>.
{% endblock %} 
