{% extends "platform/page_template.html" %}

{% block title %}RP-SMARF Platform Information{% endblock %}
{% block header %}RP-SMARF Platform Information{% endblock %}
{% block body %}
  <p>The current information about the Reference Service is:</p>

  <table>
  {% for key,value in info.items %}
     <tr>
       <td>{{key }}</td>
       <td>{{value }}</td>
     </tr>
  {% endfor %}
  </table>
{% endblock %}
