
<html>
<head>
	<title>{{ content.title }}</title>
	<link rel="stylesheet" type="text/css" href="/rpsmarf_canarie_service_assets/rpsmarf-1.0.0.css">
	<style type="text/css">
	.home-container{		
		height: 100%;
		width: 100%;
	}
	.content{
		min-height:70%;
	}
	.logo-container img{
		min-width: 215px;
	}
	.logo-container p{
	    font-size: 1.5em;
	}
	.service-header {
	    background-color: #113261;
	    border-bottom: 1px solid #cbcfd3;
	    font-size: 13px;
	    top: 0;
	    left: 0;
	    right: 0;
	    z-index: 1030;
	    min-height: 135px;
	}
	.img-rp-smarf {
	    height: 115px;
	    margin-left: 10px;
	    margin-top: 10px;
	    vertical-align: top;
	}
	.header-buttons {
	    display: inline-block;
	    float: right;
	    margin-top: -65px;
	    padding-right: 10px;
	    text-align: center;
	    width: 275px;
	}
	.header-text {
		color: white;
		display: inline-block;
		font-size: 3.5em;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 15px;
		text-align: center;
	}
	.header-buttons a.btn {
	    margin: 20px;
	    width: 90px;
	    background-color: #fed98c;
	    color: black;
	}
	.content-text {
	    padding: 20px;
	    padding-left: 40px;
	    padding-right: 80px;
	}
	.content-title {
	    padding-bottom: 4px;
	    padding-left: 40px;
	    padding-right: 80px;
	    font-size: 3em;
	    padding-top: 30px;
	}
	</style>
</head>
<body class="service-page">
<div class="home-container">
	<div class="service-header">
		<a href="https://www.rpsmarf.ca/"><img class="img-rp-smarf" src="/rpsmarf_canarie_service_assets/rp-smarf-logo-login.png"></a>
		
		<div class="header-text" style="width: calc(100% - 400px);">{% block title %}Unset Title{% endblock %}</div>
	</div>
	<div class="content">
		<div class="header-buttons">
			<a class="btn" href="https://www.rpsmarf.ca/">Website</a>
			<a class="btn" href="https://www.rpsmarf.ca/scs/index.html">Login</a>
		</div>
		<p class="content-title">{% block header %}Unset Header{% endblock %}</p>
		<div class="content-text">
			<p>
    	      {% block body %} Unset content{% endblock %}  
			</p>
		</div>
		
	</div>
	<div class="logo-container">
		<p>Research Platform for Smart Facilities Management provided by:</p>
		<a href="http://www.carleton.ca/"><img src="/rpsmarf_canarie_service_assets/culogo.png" /></a>
		<a href="http://www.solananetworks.com/"><img src="/rpsmarf_canarie_service_assets/logo-solana.png" /></a>
		<a href="http://www.canarie.ca/"><img src="/rpsmarf_canarie_service_assets/canarie-logo.png" /></a>
	</div>
</div>
</body>
</html>
