{% extends "platform/page_template.html" %}

{% block title %}RP-SMARF Cloud Storage Service Test Procedure{% endblock %}
{% block header %}RP-SMARF Cloud Storage Service Test Procedure{% endblock %}
{% block body %}
Step-by-step guide
The testing includes the following steps:
<ol>
<li>
Log into the RPSMARF system using valid credentials.
</li>
<li>
Starting with the links on the left hand side of the Home Page:
  <ol>
  <li>
  Click on the link "Start Task" and verify that you are navigated to the "Tools" page.
  </li>
  <li>
  Verify that a list of tools available is displayed.
  </li>
  <li>
  Verify that next to any tool, either a "Start" button is displayed if the user has access to the tool or a "Request Access" button is displayed if the user does not have access to the tool. 
  </li>
  <li>
  Select a tool and verify that you are able to see the following details corresponding to a tool on the bottom part of the screen: Description, Usage Stats, Permissions
  </li>
  <li>
  Select the Description tab and verify that you are able to see description corresponding to the selected tool.
  </li>
  <li>
  Click on the Usage Stats tab and verify that you are able to see the usage to the tool for yourself, other user and all users.
  </li>
  <li>
  Click on the Permissions tab and verify that you see a list of users who have access to this tool. If you are logged in as an owner of the tool, verify that you see the Grant Permission and Revoke Permission button. Verify that the Grant Permission and Revoke Permission buttons are operational.
  </li>
  <li>
  Next, try to run the selected task by clicking on the "Start" button next to the selected tool. Verify that the "Start" button is a split button that gives you the option to start the tool and also reserve resources to run the tool.
  </li>
  <li>
  On clicking the Start button, verify that you are navigated to the "Task Configuration" page. Configure the input, output and compute resources and verify that you are able to run the tool successfully.
  </li>
  </ol>
</li>

<li>
Click on the link "View Task Status" page on the Home page.
  <ol>
  <li>
  Verify that on the "View Task Status" page, a list of tasks that have been run by the user are displayed including the task run by you in the previous step.
  </li>
  <li>
  Select a task from the list and click on the "Output" button on top of the page. Verify that you see the Standard Output and Standard Error corresponding to the task.
  </li>
  <li>
  Next, select a task and click on the "Reconfigure" button and verify that you are able to reconfigure the resources for the task and able to run the task successfully.
  </li>
  <li>
  Next, select a task and click on the "Rerun" button and verify that you are able to run the selected tool with the same configuration parameters as before.
  </li>
  <li>
  Next, select a task, and click on the "Delete" button and verify that you are able to delete the task from the list.
  </li>
  <li>
  Verify that when a tool is selected: following tabs appear on the bottom part of the screen: General, Task Configuration, Detailed Results, Support
  </li>
  <li>
  Verify that under the General tab, general information about task completion appears. For example whether the task failed or completed successfully.
  </li>
  <li>
  Verify that under the Task Configuration tab, information about the resources (input, output or compute) with which the task was run appears.
  </li>
  <li>
  Verify that under the Detailed Results tab, information appears regarding any errors that may have occurred during the execution of the task and any files or folders that have been modified due to the execution of the task.
  </li>
  </ol>
</li>
<li>
Click on the link "Browse Tools" on the Home page. Verify that you are navigated to the "Tools" page. The rest of the testing for this page is as described in Step 2.
</li>
<li>
Click on the link "Browse Resources" on the "Home" page.
  <ol>
  <li>
  Verify that you are navigated to the "Resources" page.
  </li>
  <li>
  Verify that next to each resource, there is a button to favorite. Verify that when the resource list is refreshed, the favorite resources of the user appear right below the private and public folders for a user.
  </li>
  <li>
  Select a resource and verify that you are able to see the files and folders within a resource.
  </li>
  <li>
  Verify that all the buttons are providing the desired functionality to operate on the resource.
  </li>
  <li>
  Verify that when a resource is selected, following tabs appear on the bottom of the page corresponding to the selected resource: General, Usage Stats, Permissions
  </li>
  <li>
  Verify that under the General tab, you see general information about the resource.
  </li>
  <li>
  Verify that you are able to see the usage of the resource under Usage Stats.
  </li>
  <li>
  Verify that under Permissions, you are able to see the users who have permissions on the resource. If you are logged in as the owner of the resource, verify that you see the Grant Permission and Revoke Permission buttons. Verify that the buttons work as desired.  
  </li>
  </ol>
</li>
<li>
Click on the link "Browse Communities" on the "Home" page
  <ol>
  <li>
  Verify that you are navigated to the Communities page where all the communities in the RPSMARF system are displayed.
  </li>
  <li>
  Click on the link for a specific community and verify that you are navigated to the page for the selected community.
  </li>
  <li>
  Verify that the community owner and all the members of the community are listed.
  </li>
  <li>
  Verify that all the links on the left side of the page: Tools, Servers, News, FAQ and Link to the Forum are working. 
  </li>
  </ol>
</li>
<li>
Click on the link "Upload Data" on the "Home" page.
  <ol>
	<li>
	Verify that you are navigated to the page displaying all the resources.
	</li>
  </ol>
</li>
<li>
Perform all the tests listed in Step 5 for the "Browse Resources" page. 
</li>
<li>
Click on the link "Copy Data" on the "Home" page.
  <ol>
	<li>
	Verify that you see resources both in the top frame on the screen and also on the bottom frame of the screen.
	</li>
  </ol>
</li>
<li>
Apart from being able to perform the operations on resources as described in Step 5, verify that you are able to copy a selection from a resource in one frame to another.
</li>
<li>
Click on the link "My Reservations" on the "Home" page.
	<ol>
	<li>
	Verify that you see all the reservations of resources of the user you are logged in as.
	</li>
  </ol>
</li>
<li>
Click on the link for user.
	<ol>
	<li>
	Verify that you are able to update the preferences and settings on the "Preferences and Settings" page.
	</li>
	<li>
	Verify that the user is able to attach/detach resources through Resource Management.
	</li>
	<li>
	Verify that the user is able to change his preferred community.
	</li>
  	</ol>
</li>
<li>
Click on Support and verify that the following functions work properly:
	<ol>
	<li>
	Videos
	</li>
	<li>
	Documents
	</li>
	<li>
	Forums - not supported at this time
	</li>
	<li>
	Ask a Question
	</li>
	<li>
	Report a Problem
	</li>
	<li>
	License
	</li>
	<li>
	Contact Us
	</li>
	</ol>
	</li>
{% endblock %}
