{% extends "platform/page_template.html" %}

{% block title %}RP-SMARF Platform Statistics{% endblock %}
{% block header %}RP-SMARF Platform Statistics{% endblock %}
{% block body %}

  <h1>Service Stats</h1>

  <p>The current statistics for the Reference Service are:</p>

  <table>
  {% for key,value in stats.items %}
     <tr>
       <td>{{key }}</td>
       <td>{{value }}</td>
     </tr>
  {% endfor %}
  </table>
{% endblock %}
  