{% extends "platform/page_template.html" %}

{% block title %}RP-SMARF Platform: Try Me{% endblock %}
{% block header %}RP-SMARF Platform: Try Me{% endblock %}
{% block body %}
<p>To get an account to evaluate RP-SMARF for your project contact <a href="mailto:support@rpsmarf.ca">support@rpsmarf.ca</a> or go <a href="https://www.rpsmarf.ca/#access">here</a>
<p>Viewing these videos may be helpful:
<ul>
<li><a href="https://youtube.com/embed/6GSKgBca0Ak">Running an Interactive Task</a></li>
<li><a href="https://youtube.com/embed/y5lKDNExnGU">Running a Batch Task</a></li>
<li><a href="https://youtube.com/embed/Te55EtPeta8">Performing File Operations</a></li>
</ul>
{% endblock %}
