.sm-drop-over {
	/* applied to a drop target when a draggable object is over it */
	border: 2px solid black !important;
}

.sm-drop-area {
	/* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
	border: 2px solid @blue !important;
}

.sm-drop-allow {
	background-color: @color-highlight;
	border-bottom: 1px solid @color-border-light;
}

.sm-drop-forbid {
	background-color: #F75D59;
	border: 2px solid @red !important;
}